<fieldset class="sq-fieldset cross-retest-precision">
    <legend tsq>Test parameters</legend>
    <div class="row row-smaller">
        <div class="col-sm-6" ng-hide="isAutoRetest">
            <label class="sqn-label" tsq>Symbol</label>
            <input class="sqn-input" type="text" disabled ng-model="config.symbol" />
        </div>
        <div class="col-sm-6" ng-hide="isAutoRetest">
            <label class="sqn-label" tsq>Timeframe</label>
            <input class="sqn-input" type="text" disabled ng-model="config.timeframe" />
        </div>
        <div class="col-sm-6" ng-hide="isAutoRetest">
            <label class="sqn-label" tsq>Main test precision</label>
            <input class="sqn-input" type="text" disabled ng-model="config.precision" />
        </div>
        <div class="col-sm-6" ng-show="config.precision != 'Real Tick - real spread (slowest)' && !isAutoRetest">
            <label class="sqn-label" tsq>Main test spread</label>
            <input class="sqn-input" type="text" disabled ng-model="config.spread" />
        </div>
        <div class="col-sm-6">
            <label class="sqn-label precision-label" tsq>Cross check precision</label>
            <div class="sqn-input sqn-select precision-input">
                <span ng-bind="getCrossCheckPrecisionLabel()"></span>
                <select ng-model="config.crossCheckPrecision" ng-options="item.value as (item.name | tsq) for item in precisions" onFocus="sqnSelectFocus(this)"
                    onBlur="sqnSelectBlur(this)"></select>
            </div>
        </div>
        <div class="col-sm-6" ng-show="config.crossCheckPrecision != 4">                      
            <div class="label-check-wrapper">
                <div class="sq-checkbox" ng-click="onCustomSpreadClick()">
                    <input type="checkbox" ng-model="config.customSpread">
                    <label ng-bind="::option.name"></label>
                </div>  
                <label class="sqn-label" tsq>                
                    Cross check spread</label>
            </div>
            <div class="sqn-spinner">
                <input type="text" class="sqn-input" min="0" step="1" ng-disabled="!config.customSpread" ng-model="config.crossCheckSpread" onFocus="sqnSpinnerFocus(this)"
                    onBlur="sqnSpinnerBlur(this)" />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>

    </div>
</fieldset>