<div id="results-sp-overview-container" class="flex-container">
    <div class="sp-overview">
        <div id="center">
            <div class="sp-overview-stats">
                <sp-overview-stats instance="stats"></sp-overview-stats>
            </div><br>
            <div class="sp-overview-tree-map">
                <div class="sp-overview-tree-map-title">
                    <div class="title"><tsq>TRADED STOCKS OVERVIEW</tsq> ({{config.showAll ? 'ALL' : 'TOP 100 BY VOLUME'}})</div>
                    <div class="sq-checkbox" ng-click="config.showAll=!config.showAll; settingsChanged()">
                        <input type="checkbox" ng-model="config.showAll">
                        <label tsq>Show all</label>
                    </div>
                </div>

                <sp-overview-tree-map instance="treeMap"></sp-overview-tree-map>
            </div><br>
            <div class="sp-overview-top-charts">
                <sp-overview-top-chart instance="chartTop10Profit"></sp-overview-top-chart>
                <sp-overview-top-chart instance="chartTop10Loss"></sp-overview-top-chart>
                <sp-overview-top-chart instance="chartTop10Volume"></sp-overview-top-chart>
            </div><br>
            <div class="sp-overview-list">
                <div class="title"><tsq>LIST OF TRADED STOCKS</tsq> ({{config.showAll ? 'ALL' : 'TOP 100 BY VOLUME'}})</div>
                <br>
                <sp-overview-list instance="grid"></sp-overview-list>
            </div>
        </div>
    </div>
</div>