<!-- Modal window-->
<div class="modal centered" id="editIndyParamsPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Modify indicator parameters</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <fieldset class="sq-fieldset" ng-if="currentIndy.parameters && currentIndy.parameters.length">
                    <div ng-repeat="param in currentIndy.parameters" class="row indy-params">
                        <label ng-bind="::param.name"></label>
                        <div class="sqn-input sqn-select" ng-if="::(param.className == 'DataSeries')">
                            <span ng-bind="param.value | tsq"></span>
                            <select ng-model="param.value" ng-options="item as (item | tsq) for item in ::dataSeriesOptions" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                        </div>
                        <div class="sqn-input sqn-select" ng-if="::(param.className != 'DataSeries' && param.options)">
                            <span ng-bind="getParamOptionName(param)"></span>
                            <select ng-model="param.value" ng-options="item.value as item.name for item in param.options" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                        </div>
                        <div class="sqn-spinner" ng-if="::(param.className != 'DataSeries' && !param.options && param.name.indexOf('Time') < 0)">
                            <input type="text" class="sqn-input" min="0" step="1" ng-model="param.value" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"/>
                            <div class="sqn-spinner-btns">
                                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                            </div>
                        </div>
                        <div class="sqn-spinner" ng-if="::(param.className != 'DataSeries' && !param.options && param.name.indexOf('Time') >= 0)">
                            <time-spinner min="0" max="86340" step="18000" sq-model="param.value"></time-spinner>
                        </div>
                        <label class="info">(<tsq>default:</tsq>
                            <span ng-bind="param.defaultValue"></span>)</label>
                    </div>
                </fieldset>
                <fieldset class="sq-fieldset shift">
                    <div class="row indy-params">
                        <label tsq>Shift</label>
                        <div class="sqn-spinner">
                            <input type="text" class="sqn-input" min="0" step="1" ng-model="currentIndy.shift" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                            <div class="sqn-spinner-btns">
                                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="onSaveParams()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>