<!-- Modal window-->
<div class="modal centered" id="newIndyTestPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" tsq>New indicator test</h4>
            </div>
            <div class="modal-body" style="height: 120px;">
                <fieldset class="sq-fieldset">
                    <label tsq>Select indicators to test</label>
                    <items-chooser style="width: 100%" instance="indicatorsChooser" placeholder="Search..."
                        multi-select="true" no-results-text="No results matching"></items-chooser>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="addTests()" tsq>Add</button>
            </div>
        </div>
    </div>
</div>