#indicatorTesterPopup .modal-dialog {
    width: 810px;
}

#indicatorTesterPopup .settings div.row {
    margin-bottom: 8px;
}

#indicatorTesterPopup div.file-name {
    padding-right: 0px;
}

#indicatorTesterPopup div.file-name input {
    width: 270px;
    margin-left: -3px;
}

#indicatorTesterPopup label.setting {
    width: 100px;
    min-width: 100px;
    font-size: 12px;
    font-weight: normal;
}

#indicatorTesterPopup label.info {
    font-size: 12px;
    font-weight: normal;
    color: #777777;
    font-style: italic;
}

#indicatorTesterPopup .bars-to-reserve, #indicatorTesterPopup .engine {
    display: inline-flex;
}

#indicatorTesterPopup .engine>.sq-input {
    width: 180px;
}

#indicatorTesterPopup .bars-to-reserve>.sq-input {
    width: 100px;
}

#indicatorTesterPopup .data-folder {
    padding-right: 0px;
}

#indicatorTesterPopup .data-folder>span {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
}

#indicatorTesterPopup .data-folder .text-smaller {
    font-size: 12px;
}

#indicatorTesterPopup .modal-footer {
    position: relative;
    text-align: center;
}

#indicatorTesterPopup .modal-footer .centered {
    display: inline-table;
    position: static;
    padding-right: 8px;
}

#indicatorTesterPopup .modal-footer .close-link {
    position: absolute;
    right: 10px;
}

#indicatorTesterPopup .new-test {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

#indicatorTesterPopup .grid {
    height: 250px;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

#indicatorTesterPopup .grid #indyTestGrid {
    height: 250px;
}

#indicatorTesterPopup .grid #indyTestGrid table.sq-grid-body tr>td:nth-child(5) {
    color: blue;
    font-family: arial;
}

#indicatorTesterPopup .grid #indyTestGrid table.sq-grid-body tr.checked {
    background-color: white;
}

#indicatorTesterPopup .grid #indyTestGrid table.sq-grid-body tr.unchecked {
    background-color: #eee;
}

#indicatorTesterPopup .grid #indyTestGrid table.sq-grid-body tr.passed>td:nth-child(7) {
    color: green;
    font-family: arial;
}

#indicatorTesterPopup .grid #indyTestGrid table.sq-grid-body tr.failed>td:nth-child(7) {
    color: red;
    font-family: arial;
}

#indicatorTesterPopup .grid #indyTestGrid table.sq-grid-body tr.other>td:nth-child(7) {
    color: grey;
    font-family: arial;
}

#indicatorTesterPopup .modal-footer>.test-progress {
    text-align: center;
    display: inline-flex;
    margin-left: 0px;
}

#indicatorTesterPopup .modal-footer>.test-progress>.progress {
    width: 60%;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
}

/*      Edit params popup:     */

#editIndyParamsPopup .modal-dialog {
    width: 450px;
}

#editIndyParamsPopup .indy-params {
    display: inline-flex;
    margin-left: 20px;
}

#editIndyParamsPopup .indy-params>label {
    width: 140px;
}

#editIndyParamsPopup .indy-params>.sq-input {
    width: 100px;
}

#editIndyParamsPopup .indy-params>label.info {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    margin-left: 10px;
}

#editIndyParamsPopup .shift {
    margin-bottom: 0px;
    padding-top: 0px;
}

/*      Error popup:     */

#indicatorTesterErrorPopup fieldset {
    margin-bottom: 0px;
}

#indicatorTesterErrorPopup #indyErrorGrid {
    height: 430px;
}

.dhtmlxMenu_dhx_web_SubLevelArea_Polygon {
    z-index: 1050 !important;
}

#newIndyTestPopup.modal .modal-body {
    overflow: visible;
}

#newIndyTestPopup.modal .sq-fieldset {
    overflow: visible;
}