<fieldset class="sq-fieldset cross-monte-manipulation">
    <label class="sqn-label" tsq>Number of simulations</label>
    <div class="sqn-spinner">
        <input type="text" class="sqn-input" min="5" step="10" max="10000" ng-model="config.numberOfSimulations"
            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
        <div class="sqn-spinner-btns">
            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
        </div>
    </div>

    <div class="sq-checkbox sq-checkbox-1">
        <label class="sqn-label">
            <tsq>Use Full sample</tsq>
        </label>
        <input type="checkbox" ng-model="config.useFullSample" id="mcr-config-fullsample" />
        <label class="sqn-label" for="mcr-config-fullsample"></label>
    </div>

    <br />

    <div class="backtest-precision-switch">
        <div class="sq-checkbox sq-checkbox-2">
            <input type="checkbox" ng-model="config.usePrecision" ng-change="usePrecisionChange(this)" id="mcr-config-precision" />
            <label class="sqn-label" for="mcr-config-precision">
                <tsq>Backtest precision</tsq>
            </label>
        </div>
        <div class="sqn-input sqn-select precision-input" ng-class="{'disabled': !config.usePrecision}">
            <span ng-bind="getPrecisionLabel()"></span>
            <select ng-model="config.precision" ng-options="item.value as (item.name | tsq) for item in precisions"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-disabled="!config.usePrecision"></select>
        </div>
    </div>

    <settings-table type="crosscheck-mcr" instance="config.settingsTableInstance" after-init="afterInit" on-change="onChange" custom-id="cc-settings"/>
</fieldset>