<div class="modal" id="fitPortfolioCorrelationPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" tsq>Correlation settings</h4>
            </div>
            <div class="modal-body">
                <fieldset class="sq-fieldset">
                    <legend tsq>Correlation computation settings</legend>
                    <div class="clearfix"></div>
                    <label class="sqn-label" tsq>Correlation by</label>
                    <div class="sqn-input sqn-select">
                        <span ng-bind="getCorrelationPeriodLabel()"></span>
                        <select ng-model="config.fitPortfolio.correlation.period"
                            ng-options="item.value as item.name for item in correlationPeriods"
                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                            ng-change="settingsChanged()"></select>
                    </div>
                    <label class="sqn-label" tsq> of</label>
                    <div class="sqn-input sqn-select">
                        <span ng-bind="getCorrelationTypeLabel()"></span>
                        <select ng-model="config.fitPortfolio.correlation.type"
                            ng-options="item.value as item.name for item in correlationTypes"
                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                            ng-change="settingsChanged()"></select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sq-checkbox"
                        ng-click="config.fitPortfolio.correlation.addEmptyPeriods=!config.fitPortfolio.correlation.addEmptyPeriods;settingsChanged()">
                        <input type="checkbox" ng-model="config.fitPortfolio.correlation.addEmptyPeriods ">
                        <label tsq>Add empty periods</label>
                    </div>
                </fieldset>

                <fieldset class="sq-fieldset">
                    <legend tsq>Filter</legend>
                    <div class="clearfix"></div>
                    <label class="sqn-label" tsq>Max allowed correlation of any two strategies in portfolio</label>
                    <div class="sqn-spinner">
                        <input type="text" class="sqn-input" min="0" step="0.1" max="1"
                            ng-model="config.fitPortfolio.correlation.max" ng-change="settingsChanged()"
                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sq-checkbox"
                        ng-click="config.fitPortfolio.correlation.allowNegative=!config.fitPortfolio.correlation.allowNegative;settingsChanged()">
                        <input type="checkbox" ng-model="config.fitPortfolio.correlation.allowNegative ">
                        <label tsq>Allow negative correlation</label>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default sqn-btn-help" ng-click="onHelp()">
                    <span tsq>Help</span>
                </button>
                <a data-dismiss="modal" tsq>Close</a>
            </div>
        </div>
    </div>
</div>