<div id="ranking-settings">
    <div class="ranking-settings-columns">
        <div
            ng-class="{ 'ranking-column-left' : showMaxStrategies || showConditions, 'ranking-column-right' : !showMaxStrategies && !showConditions }">
            <div ng-show="showMaxStrategies">
                <fieldset class="sq-fieldset sq-fieldset-select-property">
                    <legend tsq>Maximum top strategies to store</legend>

                    <div class="max-strategies">
                        <label class="sqn-label" ng-show="taskType == 'Optimize'" tsq>Maximum optimizations to store in databank</label>
                        <label class="sqn-label" ng-show="taskType != 'Optimize'" tsq>Maximum strategies to store in databank</label>
                        <div class="sqn-spinner">
                            <input type="text" class="sqn-input" min="0" step="1" max="1000000" ng-model="config.maxStrategies"
                                onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                                ng-model-options="{ updateOn : 'blur' }" />
                            <div class="sqn-spinner-btns">
                                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                            </div>
                        </div>

                        <div class="gen-help" ng-show="improveAllFromDatabank">
                            <tsq>You are improving all strategies in databank.This number means number of saved top
                                improved variants PER original strategy.</tsq>
                            <br><br>
                        </div>
                    </div>

                    <div>
                        <div class="sq-checkbox" ng-show="showWFConditions">
                            <input type="checkbox" ng-model="config.wfDontSaveOriginalStr" ng-change="settingsChanged()"
                                id="wf-dont-save-original-str" />
                            <label for="wf-dont-save-original-str" tsq>Don't save original strategy test</label>
                        </div>

                        <div class="sq-checkbox"
                            ng-show="config.optimizationType == optimizationTypes.walk_fm || config.optimizationType == optimizationTypes.walk_fo">
                            <input type="checkbox" ng-model="config.wfDeleteFailedStr" ng-change="settingsChanged()"
                                id="wf-delete-failed-str" />
                            <label for="wf-delete-failed-str" tsq>Don't save FAILED WF strategy</label>
                        </div>
                    </div>

                    <div ng-hide="showWFConditions">
                        <legend tsq>Stop generation when</legend>

                        <div class="clearfix"></div>

                        <div class="radio">
                            <label class="sq-wradio">
                                <input type="radio" name="StopGenerationRadio" value="{{::stopConditionTypes.never}}"
                                    ng-model="config.stopCondition.type" />
                                <span class="sq-mark"></span>
                                <tsq>Never</tsq>
                            </label>
                        </div>
                        <div class="radio">
                            <label class="sq-wradio">
                                <input type="radio" name="StopGenerationRadio"
                                    value="{{::stopConditionTypes.passedCount}}" ng-model="config.stopCondition.type" />
                                <span class="sq-mark"></span>
                                <tsq>Totally</tsq>
                                <div class="sqn-spinner">
                                    <input type="text" class="sqn-input" min="1" step="1" max="1000000"
                                        ng-model="config.stopCondition.passedStrategies" onFocus="sqnSpinnerFocus(this)"
                                        onBlur="sqnSpinnerBlur(this)"
                                        ng-disabled="config.stopCondition.type != stopConditionTypes.passedCount" />
                                    <div class="sqn-spinner-btns">
                                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                    </div>
                                </div>
                                <tsq>strategies (that passed filters) were generated</tsq>
                            </label>
                        </div>
                        <div class="radio">
                            <label class="sq-wradio">
                                <input type="radio" name="StopGenerationRadio"
                                    value="{{::stopConditionTypes.databankFull}}"
                                    ng-model="config.stopCondition.type" />
                                <span class="sq-mark"></span>
                                <tsq>Databank is full (reached maximum capacity)</tsq>
                            </label>
                        </div>
                        <div class="radio">
                            <label class="sq-wradio">
                                <input type="radio" name="StopGenerationRadio"
                                    value="{{::stopConditionTypes.timeLimit}}" ng-model="config.stopCondition.type" />
                                <span class="sq-mark"></span>
                                <div>
                                    <tsq>After</tsq>
                                    <div class="sqn-spinner run-time">
                                        <input type="text" class="sqn-input" min="0" step="1"
                                            ng-model="config.stopCondition.days" onFocus="sqnSpinnerFocus(this)"
                                            onBlur="sqnSpinnerBlur(this)"
                                            ng-disabled="config.stopCondition.type != stopConditionTypes.timeLimit" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <tsq>days</tsq>
                                    <div class="sqn-spinner run-time">
                                        <input type="text" class="sqn-input" min="0" step="1" max="23"
                                            ng-model="config.stopCondition.hours" onFocus="sqnSpinnerFocus(this)"
                                            onBlur="sqnSpinnerBlur(this)"
                                            ng-disabled="config.stopCondition.type != stopConditionTypes.timeLimit" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <tsq>hours</tsq>
                                    <div class="sqn-spinner run-time">
                                        <input type="text" class="sqn-input" min="0" step="1" max="59"
                                            ng-model="config.stopCondition.minutes" onFocus="sqnSpinnerFocus(this)"
                                            onBlur="sqnSpinnerBlur(this)"
                                            ng-disabled="config.stopCondition.type != stopConditionTypes.timeLimit" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <tsq>minutes</tsq>
                                </div>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <fitness-function instance="config.fitnessInstance" after-init="afterFitnessInit" on-change="onFitnessChange" />

            <fieldset class="sq-fieldset sq-fieldset-select-property">
                <legend><tsq>Custom analysis</tsq> <a class="link-button" ng-click="$root.openlink('https://strategyquant.com/doc/strategyquant/custom-analysis')" tsq>What is it?</a></legend>
                    
                <br/><br/>
                <div class="clearfix"></div>
        
                <div class="custom-analysis-ranking-row">
                    <label class="sqn-label" tsq>Use</label>
                    <div class="sqn-input sqn-select">
                        <span ng-bind="getCAMethodLabel()"></span>
                        <select ng-model="config.caMethod" ng-options="item.value as item.name for item in config.caAvailableMethods"
                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
                    </div>

                    <label style="width:auto !important" class="sqn-label" tsq>Input args</label>
                    <input type="text" ng-model="config.caInputArgs" ng-change="settingsChanged()" class="sqn-input">
                </div>
                <div class="custom-analysis-ranking-row">
                    <label class="sqn-label">
                        <div class="sq-checkbox pull-right">
                            <input type="checkbox" ng-model="config.caFilter" ng-change="settingsChanged()" id="ca-ranking-filter" />
                            <label for="ca-ranking-filter"></label>
                        </div>
                    </label>
                    <div>
                        <label class="sqn-label cursor-pointer" ng-click="config.caFilter = !config.caFilter; settingsChanged()">
                            <tsq>Filter by results of custom analysis</tsq><br>
                            <tsq>If true strategies that don't pass will be removed</tsq>
                        </label>
                    </div>
                </div>
            </fieldset>


        </div>
        <div class="ranking-column-right" ng-show="showMaxStrategies || showConditions">
            <div ng-show="showConditions">
                <fieldset class="sq-fieldset sq-fieldset-select-property ranking-fieldset">
                    <legend tsq>Strategy filtering conditions</legend>

                    <div ng-hide="taskType == 'Retest' || taskType == 'AutomaticRetest'">
                        <tsq>Configure which strategies will be saved into Results databank</tsq><br>
                    </div>

                    <div ng-show="taskType == 'Retest' || taskType == 'AutomaticRetest'">
                        <tsq>Configure how the strategies will be recognized as PASSED or FAILED.</tsq><br>
                        <tsq>If strategy fails any of the filter below (including cross check filters) it will be
                            marked as FAILED.</tsq>

                        <div class="sq-checkbox">
                            <input type="checkbox" ng-model="config.deleteFailedStrategies"
                                ng-change="settingsChanged()" id="retest-delete-failed-str" />
                            <label for="retest-delete-failed-str" tsq>Delete FAILED strategies from databank</label>
                        </div>
                    </div>

                    <br />

                    <div ng-show="taskType == 'Build' || taskType == 'Retest' || taskType == 'AutomaticRetest'">
                        <legend tsq>Automatic filters</legend>
                        <div class="automatic-filter-label">
                            <span ng-bind="printAutomaticDismissalLabel()"></span>
                            <a class="link-button configure-auto-dismissal" ng-click="onConfigureAutoDismissal()"><i
                                    class="fa fa-cog"></i></a>
                        </div>

                        <div class="sq-checkbox dismiss-too-similar-strategies" ng-show="taskType == 'Build'">
                            <input type="checkbox" ng-model="config.dismissTooSimilarStrategies"
                                ng-change="settingsChanged()" id="dismiss-too-similar-strategies" />
                            <label for="dismiss-too-similar-strategies" tsq>Dismiss similar strategies in databank (default, recommended)
                            </label>
                        </div>
                    </div>

                    <legend tsq>Custom filters</legend>
                    <div class="clearfix"></div>

                    <conditions-grid instance="config.condGridInstance" after-init="afterCGInit" on-refresh="onCGRefresh" custom-id="ranking-conditions"/>

                    <legend tsq>Cross check filters</legend>
                    <tsq>In addition to global filters you can filter out strategy also in cross checks.</tsq>
                    <br>
                    <tsq>These filters are configured separately in every cross check method used.</tsq>

                    <div class="sq-checkbox" ng-show="taskType == 'Retest' || taskType == 'AutomaticRetest'">
                        <input type="checkbox" ng-model="config.forceRunCrossChecks"
                            ng-change="settingsChanged()" id="ranking-run-crosschecks" />
                        <label for="ranking-run-crosschecks" tsq>Run crosschecks independently from Custom filters failure</label>
                    </div>
                </fieldset>

                <fieldset class="sq-fieldset sq-fieldset-select-property ranking-fieldset"
                    ng-show="taskType == 'Build'">
                    <legend><tsq>Fit to existing portfolio filter</tsq> <a class="link-button" ng-click="$root.openlink('https://strategyquant.com/doc/strategyquant/fit-strategy-to-existing-portfolio/')" tsq>What is it?</a></legend>
                    <div class="clearfix"></div>

                    <div ng-show="!isBuilder">
                        <label class="sqn-label" tsq>Existing portfolio databank</label>
                        <div class="sqn-input sqn-select existing-portfilio-select">
                            <span>{{config.fitPortfolio.databank}}</span>
                            <select ng-model="config.fitPortfolio.databank"
                                ng-options="item.name as item.name for item in fitPortfolioDatabanks"
                                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                ng-change="settingsChanged()"></select>
                        </div>
                    </div>

                    <div class="sq-checkbox eixsting-portfolion-checkbox">
                        <input type="checkbox" ng-model="config.fitPortfolio.active" ng-change="settingsChanged()"
                            id="fit-portfolio-active" />
                        <label for="fit-portfolio-active"><tsq>Filter out strategies with correlation</tsq> ></label>

                        <span ng-bind="printFitPortfolioCorrelation()"></span>
                        <a class="link-button eixsting-portfolion-settings"
                            ng-click="onConfigureFitPortfolioCorrelation()"><i class="fa fa-cog"></i></a>
                    </div>
                </fieldset>
            </div>
            <div ng-show="showWFConditions && (config.optimizationType== optimizationTypes.walk_fm || config.optimizationType == optimizationTypes.walk_fo || (config.optimizationType == optimizationTypes.simple && config.simpleOptimizationType == simpleOptimizationTypes.storeAll) || config.optimizationType == optimizationTypes.sequential)">
                <fieldset class="sq-fieldset sq-fieldset-select-property">
                    <legend ng-show="config.optimizationType == optimizationTypes.simple ||  config.optimizationType == optimizationTypes.sequential" tsq>Custom filters</legend>
                    <div ng-show="config.optimizationType == optimizationTypes.simple ||  config.optimizationType == optimizationTypes.sequential"><br></div>

                    <legend ng-show="config.optimizationType== optimizationTypes.walk_fm || config.optimizationType == optimizationTypes.walk_fo">{{config.optimizationType == optimizationTypes.walk_fm ? 'Walk-Forward Matrix' :
                        'Walk-Forward Optimization'}}
                        <tsq>Filter</tsq>
                    </legend>

                    <a ng-show="config.optimizationType== optimizationTypes.walk_fm || config.optimizationType == optimizationTypes.walk_fo" class="link-button rk-rwfc" ng-click="onLoadDefaultWFConditions()" tsq>Set recommended WF conditions</a>
                    <div ng-if="config.optimizationType == optimizationTypes.walk_fo">
                        <tsq>Robustness score must be ></tsq>
                        <div class="sqn-spinner">
                            <input type="text" class="sqn-input" min="0" step="1" max="100"
                                ng-model="config.thresholdPct" ng-change="onFitnessFunctionChange()"
                                onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                            <div class="sqn-spinner-btns">
                                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                            </div>
                        </div>
                        <tsq>% to pass</tsq>
                    </div>

                    <div ng-if="config.optimizationType == optimizationTypes.walk_fm">
                        <div tsq>WF Matrix produces a table of X rows and Y columns, where each cell is a different WF
                            optimization
                            test.
                        </div>
                        <br />
                        <div>
                            <tsq>Filter passes when it finds an area of</tsq>
                            <div class="sqn-input sqn-select">
                                <span>{{config.wfRobRows}}</span>
                                <select ng-model="config.wfRobRows" ng-options="item for item in wfRows"
                                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                    ng-change="onFitnessFunctionChange()"></select>
                            </div>rows and
                            <div class="sqn-input sqn-select">
                                <span>{{config.wfRobCols}}</span>
                                <select ng-model="config.wfRobCols" ng-options="item for item in wfColumns"
                                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                    ng-change="onFitnessFunctionChange()"></select>
                            </div>
                            <tsq>columns</tsq>
                            <br>
                            <tsq>where at least</tsq>
                            <div class="sqn-input sqn-select">
                                <span>{{config.wfRobComb}}</span>
                                <select ng-model="config.wfRobComb" ng-options="item for item in wfCombinations"
                                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                    ng-change="onFitnessFunctionChange()"></select>
                            </div>
                            <tsq>results have robustness score >=</tsq>
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="0" step="1" max="100"
                                    ng-model="config.thresholdPct" ng-change="onFitnessFunctionChange()"
                                    onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>%
                        </div>
                    </div>

                    <br />
                    <tsq ng-show="config.optimizationType== optimizationTypes.walk_fm || config.optimizationType == optimizationTypes.walk_fo">Robustness score is computed as a % of conditions that passed vs. all conditions</tsq>

                    <conditions-grid instance="config.wfCondGridInstance" after-init="afterWFCGInit" on-refresh="onWFCGRefresh" custom-id="ranking-conditions-wf"/>
                </fieldset>
            </div>
        </div>

    </div>
</div>

<div ng-if="showConditions" ng-include="'../../../plugins/SettingsRankings/views/autoDismissalPopup.html'"></div>
<div ng-if="showConditions" ng-include="'../../../plugins/SettingsRankings/views/fitPortfolioCorrelationPopup.html'">
</div>