<div id="genetic-options">
    <div class="row row-limited row-unified">
        <div class="col-md-6">
            <fieldset class="sq-fieldset">
                <legend tsq>Genetic options</legend>
                <div class="genetic-settings-inputs">
                    <label class="sqn-label" tsq>Max # of Generations</label>
                    <div class="sqn-spinner">
                        <input type="text" class="sqn-input" min="1" max="100000" step="10"
                            ng-model="config.maxGenerations" onFocus="sqnSpinnerFocus(this)"
                            onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="genetic-settings-inputs">
                    <label class="sqn-label" tsq>Population Size (per island)</label>
                    <div class="sqn-spinner">
                        <input type="text" class="sqn-input" min="5" max="50000" step="10"
                            ng-model="config.populationSize" onFocus="sqnSpinnerFocus(this)"
                            onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="genetic-settings-inputs">
                    <div class="sq-input">
                        <label tsq>Crossover Probability</label>
                        <sq-slider sq-model="config.crossoverProbability" min="0" max="100" step="1" width="200"
                            postfix="%" />
                    </div>
                </div>
                <div class="genetic-settings-inputs">
                    <div class="sq-input mutation-probability" style="margin-bottom: 15px;">
                        <label tsq>Mutation Probability</label>
                        <sq-slider sq-model="config.mutationProbability" min="0" max="100" step="1" width="200"
                            postfix="%" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset class="sq-fieldset">
                <legend tsq>Islands options</legend>

                <div class="genetic-settings-inputs">
                    <label class="sqn-label" tsq>Islands (separate evolution)</label>
                    <div class="sqn-spinner">
                        <input type="text" class="sqn-input" min="1" max="100" step="1" ng-model="config.islands"
                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>

                <br />
                <br />

                <div class="genetic-settings-inputs">
                    <div class="sq-input">
                        <label tsq>Migrate every Xth generation, X = </label>
                        <sq-slider sq-model="config.migrationModulo" min="3" max="100" step="1" width="150"
                            postfix="" />
                    </div>
                </div>

                <div class="genetic-settings-inputs">
                    <div class="sq-input migration-rate">
                        <label tsq>Population migration rate</label>
                        <sq-slider sq-model="config.migrationRate" min="0" max="20" step="1" width="150" postfix="%" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row row-limited row-unified">
        <div class="col-md-6">
            <fieldset class="sq-fieldset">
                <legend tsq>Initial population generation</legend>

                <div class="sq-input genetic-required-size">
                    <label>
                        <tsq>Initial population size required</tsq>: {{(config.populationSize * config.islands)}}
                    </label>
                </div>

                <div class="checkbox">
                    <div class="sq-checkbox">
                        <input type="checkbox" ng-model="config.initGenerationType" id="config.initGenerationType"
                            ng-true-value="2" ng-false-value="1">
                        <label for="config.initGenerationType">
                            <div onclick="return false">
                                <tsq>Use strategies from Initial population databank as evolution start</tsq>
                            </div>
                        </label>
                    </div>
                    <!-- <label>
                        <input type="checkbox" name="" ng-model="config.initGenerationType" ng-true-value="2"
                            ng-false-value="1" />
                        <tsq>Use strategies from Initial population databank as evolution start</tsq>
                    </label> -->
                    <p class="gen-help">
                        <tsq>Note - initial strategies from databank are not filtered.</tsq><br />
                        <tsq>If not used or not enough, the rest will be generated.</tsq>
                    </p>
                </div>

                <div class="sq-input decimation-input">
                    <label tsq>Generated decimation coefficient</label>
                    <sq-slider sq-model="config.decimationCoef" min="1" max="10" step="1" width="165"
                        value-align="right" />
                </div>

                <p class="gen-help">
                    <tsq>Decimation means that there will be X-times more strategies (that pass filters) generated than required, and from these the best will be chosen.</tsq><br />
                    <tsq>So if you set decimation to 3, it will generate 3x more strategies for initial population.</tsq><br />
                    <tsq>Using decimation will improve quality of initial population, but it will take more time to generate it.</tsq>
                </p>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="sq-fieldset">
                <legend tsq>Filter generated initial population</legend>
                <div class="clearfix"></div>

                <div class="filter-initial-population-subitems">
                    <p tsq class="gen-help">Only strategies that fulfill the conditions below will be accepted</p>
                    <conditions-grid id="filter-grid" instance="config.condGridInstance" after-init="afterCGInit" on-refresh="onCGChange" custom-id="genetic-options-conditions"/>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row row-limited row-unified">
        <div class="col-md-6">
            <fieldset class="sq-fieldset fresh-blood">
                <legend>&quot;<tsq>Fresh blood</tsq>&quot;</legend>

                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.freshBloodReplaceSimilar" id="freshBloodReplaceSimilar">
                    <label for="freshBloodReplaceSimilar">
                        <div onclick="return false">
                            <tsq>Detect same strategies in population and replace them with newly generated ones</tsq>
                        </div>
                    </label>
                </div>

                <div class="sq-checkbox restart-on-stagnation">
                    <input type="checkbox" ng-model="config.freshBloodReplaceWeakest" id="freshBloodReplaceWeakest">
                    <label for="freshBloodReplaceWeakest">
                        <div onclick="return false">
                            <tsq>Replace</tsq>
                            <div class="sqn-input sqn-select">
                                <span>{{config.freshBloodWeakestPct}}</span>
                                <select ng-model="config.freshBloodWeakestPct"
                                    ng-options="value as value for value in [5,10,15,20,25,30]"
                                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                    onChange="sqnSelectChange(this)"></select>
                            </div>
                            <tsq>% of weakest strategies with newly generated every</tsq>
                            <div class="sqn-spinner generations-count" onclick="return false;">
                                <input type="text" class="sqn-input" min="1" max="500" step="1"
                                    ng-model="config.freshBloodWeakestGenerations" onFocus="sqnSpinnerFocus(this)"
                                    onBlur="sqnSpinnerBlur(this)" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            <tsq>generation(s)</tsq>
                        </div>
                    </label>
                </div>


                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.showLastGenerationDatabank" id="evoShowLastGeneration">
                    <label for="evoShowLastGeneration">

                        <div onclick="return false">
                            <tsq>Show last generation databank - for island #1 only</tsq>
                        </div>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="sq-fieldset evolution-management">
                <legend tsq>Evolution management</legend>

                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.evoRestartOnFinish" id="evoRestartOnFinish">
                    <label for="evoRestartOnFinish">
                        <div onclick="return false">
                            <tsq>Start again when finished (continuous repeating evolution)</tsq>
                        </div>
                    </label>
                </div>

                <div class="sq-checkbox restart-on-stagnation">
                    <input type="checkbox" ng-model="config.evoRestartOnStagnation" id="evoRestartOnStagnation">
                    <label for="evoRestartOnStagnation">
                        <div onclick="return false">
                            <tsq>Restart evolution if fitness of</tsq>
                            <div class="sqn-input sqn-select">
                                <span ng-bind="printEvoFitnessRestartType()"></span>
                                <select ng-model="config.evoFitnessRestartType"
                                    ng-options="item.value as item.name for item in evoFitnessRestartTypes"
                                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                    onChange="sqnSelectChange(this)"></select>
                            </div>
                            <tsq>stagnates for</tsq>
                            <div class="sqn-spinner generations-count" onclick="return false;">
                                <input type="text" class="sqn-input" min="3" max="500" step="1"
                                    ng-model="config.evoStagnationGenerations" onFocus="sqnSpinnerFocus(this)"
                                    onBlur="sqnSpinnerBlur(this)" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            <tsq>generation(s)</tsq>
                        </div>
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
</div>