<fieldset class="sq-fieldset stop-loss">
    <legend tsq>Is it required?</legend>
    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.required" id="slRequired" />
        <label for="slRequired" tsq>Stop loss is required</label>
    </div>
</fieldset>

<fieldset class="sq-fieldset stop-loss">
    <legend tsq>Stop loss size</legend>

    <div class="row row-smaller">
        <div class="col col-sm-6">
        </div>
        <div class="col col-sm-3">
            <label class="sqn-label" tsq>Min:</label>
        </div>
        <div class="col col-sm-3">
            <label class="sqn-label" tsq>Max:</label>
        </div>
    </div>

    <div class="row row-smaller">
        <div class="col col-sm-6">
            <div class="sq-checkbox">
                <input type="checkbox" ng-model="config.fixedPips" id="fixedPips" />
                <label for="fixedPips" tsq>Fixed pips</label>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="0" step="1" ng-model="config.minPips" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="0" step="1" ng-model="config.maxPips" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row row-smaller">
        <div class="col col-sm-6">
            <div class="sq-checkbox">
                <input type="checkbox" ng-model="config.percent" id="percent" />
                <label for="percent" tsq>Percent</label>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="0" step="1" ng-model="config.minPercent" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="0" step="1" ng-model="config.maxPercent" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row row-smaller">
        <div class="col col-sm-4">
            <div class="sq-checkbox">
                <input type="checkbox" ng-model="config.atrBased" id="atrBased" />
                <label for="atrBased" tsq>ATR-based</label>
            </div>
        </div>
        <div class="col col-sm-2">
            <label class="sqn-label" tsq>ATR Multiple</div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="0.1" max="100" step="0.1" ng-model="config.minATRMultiple" onFocus="sqnSpinnerFocus(this)"
                    onBlur="sqnSpinnerBlur(this)" />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="0.1" max="1000" step="0.1" ng-model="config.maxATRMultiple" onFocus="sqnSpinnerFocus(this)"
                    onBlur="sqnSpinnerBlur(this)" />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-smaller">
        <div class="col col-sm-4"></div>
        <div class="col col-sm-2">
            <label class="sqn-label" tsq>ATR Period</div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="2" max="1000" step="1" ng-model="config.minATRPeriod" onFocus="sqnSpinnerFocus(this)"
                    onBlur="sqnSpinnerBlur(this)" />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="sqn-spinner" style="width:auto">
                <input type="text" class="sqn-input" min="2" max="1000" step="1" ng-model="config.maxATRPeriod" onFocus="sqnSpinnerFocus(this)"
                    onBlur="sqnSpinnerBlur(this)" />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row row-smaller indicator-levels">
        <div class="col col-sm-4">
            <div class="sq-checkbox">
                <input type="checkbox" ng-model="config.indicatorBased" id="indyLevelBased" />
                <label for="indyLevelBased" tsq>Use indicator levels</label>
            </div>
        </div>
        <div class="col col-sm-8 help">
            <label><tsq>If enabled, it will allow generation based on indicator, for example</tsq>:<br>BollingerBand_Up(20, 2.0) + 1.5 * ATR(20) or EMA(75) + 1 * ATR(3)</label>
        </div>
    </div>
    
    <br />
</fieldset>