#additionalConfigPopup .stop-loss .sqn-label {
    margin-left: 0;
    width: 52px;
    text-align: left;
}

#additionalConfigPopup .stop-loss div.indicator-levels {
    margin-top: 10px;
}

#additionalConfigPopup .stop-loss div.help>label {
    color: #777777;
    font-weight: 400;
    font-style: italic;
}

#additionalConfigPopup .stop-loss .sqn-spinner {
    width: 78px;
    margin-right: 4px;
    margin-bottom: 4px;
    vertical-align: top;
}

#additionalConfigPopup .stop-loss.rr .row-smaller>div {
    display: inline-flex;
}