<fieldset class="sq-fieldset sq-fieldset-select-property">
    <legend tsq>Notification / Pause</legend>

    <div class="notification-input">
        <label class="sqn-label" tsq>Notification type</label>
        <div class="sqn-input sqn-select">
            <span ng-bind="getNotificationTypeLabel()"></span>
            <select ng-model="config.type" ng-options="item.key as item.name for item in config.types"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
        </div>
        <label class="sqn-label" ng-show="config.type == 'email'">
            <tsq>Send email to</tsq>
            <input type="text" class="sqn-input" ng-model="config.email" />
        </label>
    </div>

    <tsq>Notification allows you to be notified when project flow gets to a certain point.</tsq>

    <div class="sq-checkbox notification-checkbox" ng-click="config.wait=!config.wait">
        <input type="checkbox" ng-model="config.wait">
        <label>
            <tsq>Pause project and wait for user action</tsq>
        </label>
    </div>
    <!-- <div class="checkbox notification-checkbox">
                <label>
                    <input type="checkbox" ng-model="config.wait" /> <tsq>Pause project and wait for user action</tsq>
                </label>
            </div> -->
    <div class="gen-help">
        <tsq>If checked the project will pause until you unpause it.</tsq><br>
        <tsq>This lets you do manual filtering of strategies or review of the project process.</tsq>
    </div>
    <br />
    <br />
</fieldset>