<!-- Modal Connection details window-->
<div class="modal" id="addMassImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div style="width:990px" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Mass import</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0px;">
                <form name="massImportForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}"
                    style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <div class="td-dir-select">
                            <label class="sqn-label" tsq>Source data folder</label>
                            <input type="text" class="sqn-input" ng-model="config.path" readonly="1" ng-required="true"
                                name="Source data folder" />
                            <a href ng-click="onSelectFolder();" tsq>Select</a>
                        </div>                     

                        <div class="row form-group">
                            <div class="col-xs-12 timezone-input">
                                <label class="sqn-label" tsq>Imported data timezone</label>
                                <div style="margin-left:-2px;" class="sqn-input sqn-select">
                                    <span>{{config.timezoneDisplay}}</span>
                                    <select style="margin-left:0px;" ng-model="config.timezone" ng-options="item.value as item.name for item in timezones"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" onChange="sqnSelectChange(this)"
                                        readonly="1"></select>
                                </div>
                            </div>
                        </div>        

                        <div class="row form-group">
                            <div class="col-xs-12 timeframe-input">
                                <label class="sqn-label" tsq>Imported timeframe</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="getTimeframeLabel()"></span>
                                    <select ng-model="config.timeframe" ng-options="item.value as item.type for item in timeframes"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" onChange="sqnSelectChange(this)"></select>
                                </div>
                            </div>
                        </div>         
                        
                        <div class="row form-group">
                            <div class="col-xs-12" style="display: inline-flex;">
                                <label class="sqn-label" tsq>Date format</label>
                                <div class="line" style="display: inline-flex;">
                                    <sq-combo-input sq-model="config.dateFormat" options="dateFormats"
                                        options-display="pattern" options-value="pattern" style="width: 265px;" single="true" />
                                </div>
                            </div>
                        </div>                            
                        
                        <div class="row form-group" style="margin-left:0px;">   
                            <div class="sq-checkbox sq-checkbox-1">
                                <input type="checkbox" ng-model="config.createStockGroup" id="config-createGroup" />
                                <label class="sqn-label" for="config-createGroup">
                                    <tsq>Create a new stockgroup from imported symbols</tsq>
                                </label>
                            </div>   
                        </div>

                        <div class="row row-smaller sq-data-line sq-data-details-line">
                            <div class="col-sm-5">
                                <legend>
                                    <tsq>Folder/File csv format</tsq>
                                </legend>
                                <div class="radio">
                                    <label class="sq-wradio">
                                        <input type="radio" name="format" ng-model="config.format" value="amibroker" id="formatRadio0" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <span class="sq-mark"></span>
                                        <tsq>Date,Open,High,Low,Close,Volume<br>Date,Ask,Bid,Volume - in case of tick timeframes</tsq>
                                    </label>
                                </div>                                         
                            </div>
                            <div class="col-sm-7">
                                <legend>
                                    <tsq>If data already exists</tsq>
                                </legend>
                                <div class="radio">
                                    <label class="sq-wradio">
                                        <input type="radio" name="exists" ng-model="config.exists" value="overwrite" id="existsRadio0" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <span class="sq-mark"></span>
                                        <tsq>Overwrite</tsq>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="sq-wradio">
                                        <input type="radio" name="exists" ng-model="config.exists" value="skip" id="existsRadio1" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <span class="sq-mark"></span>
                                        <tsq>Skip</tsq>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="sq-wradio">
                                        <input type="radio" name="exists" ng-model="config.exists" value="create" id="existsRadio2" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <span class="sq-mark"></span>
                                        <tsq>Create new ticker in data - adds postfix 2 or 3 etc.</tsq>
                                    </label>
                                </div>                                
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="sq-fieldset">            
                        <div class="row">
                            <div class="col-sm-8">
                                <legend tsq>Data type</legend>
                                <div class="clearfix"></div>
                                <div class="radio">
                                    <label class="sq-wradio">
                                        <input type="radio" name="barType" ng-model="config.barType" ng-value="barDataTypes.startOfBar"
                                            id="barTypeRadio0" />
                                        <span class="sq-mark"></span>
                                        <tsq>Timestamp is start of bar time (MetaTrader, Dukascopy, forex data)</tsq>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="sq-wradio">
                                        <input type="radio" name="barType" ng-model="config.barType" ng-value="barDataTypes.endOfBar"
                                            id="barType2" />
                                        <span class="sq-mark"></span>
                                        <tsq>Timestamp is end of bar time (NinjaTrader, Tradestation, futures data)</tsq>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="data-postfix">
                                    <label tsq>Data postfix</label>
                                    <div>
                                        <input type="text" class="sqn-input" ng-model="config.postfix" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <instrument-chooser instance="instrumentChooser" help-text="true" />
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSave(massImportForm)" tsq>Save</button>
            </div>
        </div>
    </div>
</div>