<div id="results-sequential-optimization-container" class="spp-settings-wrapper sequential-optimization">
  <div class="spp-settings">
    <div class="left-panel">
      <div class="spp-box">
        <b><tsq>RESULT</tsq>: <tsq ng-if="passed" style="color:green">PASSED</tsq><tsq ng-if="!passed" style="color:red">FAILED</tsq></b><br /><br />

        <b tsq>By parameter</b>
        <div id="sequentialOptimizationParametersGrid" />
        <button ng-click="applyOptimizedValues()" ng-show="!parametersApplied" class="btn btn-default" tsq>
          Apply optimized values into strategy
        </button>
      </div>
    </div>
    <div class="right-panel">
      <div ng-repeat="instance in instances">
        <sequential-param-chart
          columns="columnsFrequency"
          instance="instance"
        ></sequential-param-chart>
      </div>
    </div>
  </div>
</div>
