.sequential-optimization .spp-settings .left-panel .spp-box .btn {
    width: 210px;
}

#sequentialOptimizationParametersGrid {
    height: 200px;
    margin-top: 10px;
}

.sequential-optimization label.found {
    color: green;
    font-weight: 550;
}

.sequential-optimization label.not-found {
    color: red;
    font-weight: 550;
}