.crosschecks-popup-filtering .sq-checkbox {
  display: inline-block;
  margin-right: -10px;
}

.crosschecks-popup-filtering .sqn-spinner {
  vertical-align: 2px !important;
}

.filtering-help {
  color: #777777 !important;
  margin-left: 0;
  font-style: italic;
}

.crosschecks-popup-filtering .conditions-grid-optimization {
  width: 380px;
}

.crosschecks-popup-filtering .conditions-grid {
  height: 200px !important;
}

.modal .max-optimisations-warning {
  color: #ff3838;
  margin-left: 142px;
}

#crossCheckSettingsModal .cross-vertical-wrapper {
  display: flex;
  flex-direction: row;
}

#crossCheckSettingsModal .cross-vertical-wrapper > fieldset:first-child {
  flex: 1 1 auto;
  margin-right: 5px;
}

#crossCheckSettingsModal .cross-vertical-wrapper > fieldset:last-child {
  flex: 0 0 320px;
}

#crossCheckSettingsModal .cross-vertical-wrapper > fieldset .sqn-label {
  white-space: initial;
}

.cross-settings-wf.cross-settings-wfmatrix .line .sqn-spinner {
  width: 98px;
  margin-right: 10px;
}

.cross-settings-wf.cross-settings-wfmatrix .line .control-label {
  width: 98px;
  margin-right: 10px;
}

.cross-opt-profile .distribution .sqn-label {
  width: 140px;
}

.cross-opt-profile .sqn-select.max-optimizations {
  width: 250px;
}