#what-to-retest .col-sm-12 {
    padding: 10px 0px 0px 0px;
}

#what-to-retest .input-row {
    display: inline-flex;
    margin-bottom: 10px;
    color: black;
    font-size: 13px;
}

#what-to-retest .input-row > .sqn-input {
    margin: -2px 10px 0px 10px;
    width: 130px;
}

#what-to-retest .help-text {
    font-weight: normal;
    margin-top: 20px;
}