<div class="reviewDataGrid-toolbar">
	<div style="float:left">
		<date-picker label="Skip to data" date="skipDate" on-date-change="onDateSkipChange(date)" min-date="symbolDateRangeFrom" max-date="symbolDateRangeTo" format="yyyy.mm.dd" />
		<button class="btn btn-default" type="button" ng-click="doSkip()">Skip</button>
	</div>
	
	<div style="float:right">
		<button class="btn btn-default" type="button" ng-click="doEditSelected()">Edit line</button>
		<button class="btn btn-default" type="button" ng-click="doDeleteSelected()">Delete line</button>
	</div>
</div>
<div class="reviewDataGrid-wrapper">
	<div id="reviewDataGrid" style="width: 100%; height: 100%;"></div>
</div>