<div class="modal" id="createNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Create new</h4>
            </div>
            <div class="modal-body">
                <form name="createNewForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}" style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <label class="sqn-label">
                        <tsq>Name</tsq>
                    </label>
                    <input type="text" class="sqn-input new-snippet-name" ng-model="createNewItem.name" name="Name"
                        ng-required="true" />
                    <div class="clearfix"></div>
                    <br />

                    <label class="sqn-label" tsq>Snippet type</label>

                    <div class="clearfix"></div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" ng-model="createNewItem.type" name="type" value="BlocksIndicators"
                                ng-checked="createNewItem.type=='BlocksIndicators'" />
                            <span class="sq-mark"></span>
                            <tsq>Indicator</tsq><br>
                        </label>
                        <p tsq>Create new custom indicator</p>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" ng-model="createNewItem.type" name="type" value="BlocksSignal"
                                ng-checked="createNewItem.type=='BlocksSignal'" />
                            <span class="sq-mark"></span>
                            <tsq>Signal</tsq><br>
                        </label>
                        <p tsq>Create signal based on existing indicator</p>
                        <div class="sqn-input sqn-select" ng-class="{'disabled': createNewItem.type!='BlocksSignal'}">
                            <span ng-bind="createNewItem.indicator"></span>
                            <select ng-model="createNewItem.indicator" ng-options="item for item in indicators" onFocus="sqnSelectFocus(this)"
                                onBlur="sqnSelectBlur(this)" ng-disabled="createNewItem.type!='BlocksSignal'"></select>
                        </div>
                    </div>


                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="BlocksOrder"
                                ng-checked="createNewItem.type=='BlocksOrder'" />
                            <span class="sq-mark"></span>
                            <tsq>Order action</tsq><br>
                        </label>
                        <p tsq>New trading action</p>
                        <div class="sqn-input sqn-select" ng-class="{'disabled':createNewItem.type!='BlocksOrder'}">
                            <span ng-bind="getOrderActionLabel()"></span>
                            <select ng-model="createNewItem.orderActionType" ng-options="item.value as item.name for item in orderActionTypes"
                                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-disabled="createNewItem.type!='BlocksOrder'"></select>
                        </div>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="BlocksOtherActions"
                                ng-checked="createNewItem.type=='BlocksOtherActions'" />
                            <span class="sq-mark"></span>
                            <tsq>Other action</tsq><br>
                        </label>
                        <p tsq>New custom action</p>
                    </div>


                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="ColumnsDatabanks"
                                ng-checked="createNewItem.type=='ColumnsDatabanks'" />
                            <span class="sq-mark"></span>
                            <tsq>Databank column</tsq><br>
                        </label>
                        <p tsq>New column (stats value) that can be used in databank</p>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="ColumnsTrades"
                                ng-checked="createNewItem.type=='ColumnsTrades'" />
                            <span class="sq-mark"></span>
                            <tsq>List of trades column</tsq><br>
                        </label>
                        <p tsq>New column (order value) that can be used in trade list</p>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="MoneyManagement"
                                ng-checked="createNewItem.type=='MoneyManagement'" />
                            <span class="sq-mark"></span>
                            <tsq>Money management</tsq><br>
                        </label>
                        <p tsq>New money management</p>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="TradeAnalysis"
                                ng-checked="createNewItem.type=='TradeAnalysis'" />
                            <span class="sq-mark"></span>
                            <tsq>Trade analysis chart</tsq><br>
                        </label>
                        <p tsq>New trade analysis chart</p>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="MonteCarlo"
                                ng-checked="createNewItem.type=='MonteCarlo'" />
                            <span class="sq-mark"></span>
                            <tsq>Monte Carlo method</tsq><br>
                        </label>
                        <p tsq>New Monte Carlo method</p>
                        <div class="sqn-input sqn-select">
                            <span ng-bind="getMCTypeLabel()"></span>
                            <select ng-model="createNewItem.mcType" ng-options="item.value as item.name for item in mcTypes"
                                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-disabled="createNewItem.type!='MonteCarlo'"></select>
                        </div>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="WhatIf"
                                ng-checked="createNewItem.type=='WhatIf'" />
                            <span class="sq-mark"></span>
                            <tsq>What if method</tsq><br>
                        </label>
                        <p tsq>New what if method</p>
                    </div>

                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="type" ng-model="createNewItem.type" value="CustomAnalysis"
                                ng-checked="createNewItem.type=='CustomAnalysis'" />
                            <span class="sq-mark"></span>
                            <tsq>Custom analysis</tsq><br>
                        </label>
                        <p tsq>New custom analysis method</p>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Cancel</a>
                <button type="button" class="btn btn-primary" ng-click="createNew(createNewForm)" tsq>OK</button>
            </div>
        </div>
    </div>
</div>