<header id="header">
  <a title="StrategyQuant" id="logo">
    <i class="fa fa-code" aria-hidden="true"></i>
    <tsq>Code Editor</tsq>
  </a>

  <ul class="nav-top">
    <li class="code-right-separator">
      <a ng-click="onCreateNew()">
        <i class="icon ico-new"></i>
        <b tsq>Create new</b>
      </a>
    </li>
    <li>
      <a ng-click="onSave()" ng-attr-title="{{langSave}}">
        <i class="icon" ng-class="saveEnabled ? 'ico-save' : 'ico-save-d'"></i>
      </a>
    </li>
    <li>
      <a ng-click="onSaveAs()" ng-attr-title="{{langSaveAs}}">
        <i class="icon ico-save-as"></i>
      </a>
    </li>
    <li class="code-right-separator">
      <a ng-click="onSaveAll()" ng-attr-title="{{langSaveAll}}">
        <i class="icon ico-save-all"></i>
      </a>
    </li>
    <li>
      <a ng-click="onUndo()">
        <i class="icon" ng-class="undoEnabled ? 'ico-left' : 'ico-left-d'"></i>
      </a>
    </li>
    <li class="code-right-separator">
      <a ng-click="onRedo()">
        <i
          class="icon"
          ng-class="redoEnabled ? 'ico-right' : 'ico-right-d'"
        ></i>
      </a>
    </li>
    <li>
      <a ng-click="onCompileAll()">
        <i
          class="icon"
          ng-class="compileAllEnabled ? 'ico-compile' : 'ico-compile-d'"
        ></i>
        <b tsq>Compile all</b>
      </a>
    </li>
    <li class="code-right-separator">
      <a ng-click="onCompile()">
        <i
          class="icon"
          ng-class="compileEnabled ? 'ico-compile' : 'ico-compile-d'"
        ></i>
        <tsq>Compile</tsq>
      </a>
    </li>
    <li class="code-right-separator">
      <a ng-click="onFixImports()">
        <i
          class="icon"
          ng-class="fixImportsEnabled ? 'ico-match' : 'ico-match-d'"
        ></i>
        <tsq>Fix imports</tsq>
      </a>
    </li>
    <li class="code-right-separator">
      <a ng-click="onFindInFiles()">
        <i class="icon ico-find"></i>
        <tsq>Find in files</tsq>
      </a>
    </li>
    <li
      ng-repeat="plugin in editorPlugins | orderBy:'+position'"
      class="code-right-separator"
    >
      <span ng-if="!plugin.isCombo" ng-dynamic-controller="plugin.controller">
        <a ng-click="onPluginClicked(plugin)">
          <i class="{{::plugin.iconClass}}"></i>
          <span ng-bind="plugin.title | tsq"></span>
        </a>
        <div ng-include="plugin.templateUrl"></div>
      </span>

      <span ng-if="plugin.isCombo" class="dropdown">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
          {{plugin.title}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li
            ng-repeat="option in plugin.options | orderBy: '+position' track by $index"
            ng-dynamic-controller="option.controller"
            ng-class="{ 'dropdown-submenu' : option.options }"
          >
            <a ng-if="::!option.options" ng-click="onPluginClicked(option)"
              ><i
                ng-class="option.iconClass"
                aria-hidden="true"
                v-if="option.iconClass"
              ></i
              >{{::option.title}}</a
            >
            <div
              ng-if="::!option.options"
              ng-include="option.templateUrl"
            ></div>

            <a
              ng-if="::option.options"
              tabindex="-1"
              class="dropdown-dont-close"
              ng-bind="::option.title"
            ></a>
            <ul
              ng-if="::option.options"
              class="dropdown-menu"
              ng-class="option.class"
            >
              <li
                ng-repeat="subItem in option.options | orderBy: '+position' track by $index"
              >
                <a
                  ng-click="onPluginClicked(subItem)"
                  ng-dynamic-controller="subItem.controller"
                  ng-bind="::subItem.title"
                ></a>
                <div ng-include="subItem.templateUrl"></div>
              </li>
            </ul>
          </li>
        </ul>
      </span>
    </li>
  </ul>
</header>
