<!-- Modal window-->
<div class="modal in centered" id="SetNoteModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq>Set note for selected strategies</tsq>
                </h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <div class="flex-expand">
                    <div>
                        <label class="additional sqn-label" tsq>Note</label>
                        <input type="text" ng-model="config.note" ng-change="settingsChanged()" class="sqn-input">
                    </div>                                          
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal">Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSubmit()" tsq="">OK</button>
            </div>
        </div>
    </div>
</div>