#customDataTab div.chart-setup-available-data {
    min-height: 35px;
}

#customDataTab div.chart-setup-reset-dates {
    min-height: 25px;
}

#customDataTab .inputFullSize{
    width:75%;
}

#customDataTab .description{
    font-style: italic;
    margin-left: 142px;
}

#customDataTab .btn.active{
    background: #237dd2 !important;
    border-color: #6babe6 !important;
    color: #ffffff !important;
    text-shadow: none;
}

#customDataTab .paramDesc{
display: inline-block;
    width: auto;
}

#customDataTab .chart-setup-box-1 label.small, #customDataTab .chart-setup-box-2 label.small{
    width: 100px;
}