.btn-dukasRange.selected {
    background: #2196f3;
    color: white;
}

#importProgressTable {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#importProgressTable tr {
    height: 30px;
}

#importProgressTable td.symbol {
    width: 140px;
}

.add-data-postfix {
    clear: both;
    padding-top: 18px;
}

.add-data-postfix .sq-input {
    margin-top: 3px;
    width: 124px;
    padding-top: 0;
}

.add-data-postfix label {
    font-weight: 400;
}

div.dukascopy-menu>button:before {
    content: '';
    background: url("../../../plugins/DataSourceDukascopy/dukascopy.ico") no-repeat;
    padding-left: 22px;
    display: inline-block;
    margin-left: -4px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#dukasDisclaimerModal .sq-fieldset h1, #cdnDisclaimerModal .sq-fieldset h1 {
    text-align: center;
    color: #444;
    margin-top: 0px;
}

#dukasDisclaimerModal .sq-fieldset p, #cdnDisclaimerModal .sq-fieldset p {
    color: #666;
}

#dukasDisclaimerModal .modal-body, #cdnDisclaimerModal .modal-body {
    padding-bottom: 0px;
}

#dukasImportModal .row-btns {
    margin-top: 18px;
    margin-bottom: 12px;
    margin-left: -6px;
    margin-right: -6px;
}

#dukasImportModal .row-btns .btn-dukasRange {
    width: 100%;
    margin: 0;
}

#dukasImportModal .radios {
    margin-left: -22px;
    position: relative;
    top: -10px;
}

#dukasImportModal .cdn-part {
    margin-left: 10px;
    margin-right: 8px;
    position: relative;
    top: -10px;
}

#dukasImportModal .sq-fieldset .row.cdn-part>div {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

#dukasImportModal .sq-fieldset .row.cdn-part>div:last-child {
    padding-left: 12px !important;
}

#dukasImportModal .cdn-part .sqn-label {
    margin-left: 0;
}

#dukasImportModal .cdn-part a {
    display: block;
    margin-top: 4px;
}

#dukasImportModal .sq-checkbox {
    margin-top: 4px;
}

#dukasImportTDModal .sq-legend-help {
    font-weight: 400;
}

#dukasImportTDModal .sqn-label {
    width: 168px;
}

#dukasImportTDModal .sqn-input {
    width: 326px;
    margin-right: 6px;
}

#dukasImportModal .cdn-part hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #D0D0D0;
}

body #dukasImportModal .cdn-part .btn.btn-primary {
    display: block;
    width: 160px;
    margin: 10px auto 0 auto;
}

#dukasImportModal #full-license-only {
    color: #1e70bc;
    font-weight: bold;
}