<!-- Modal window-->
<div class="modal" id="retestConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog type-warning" role="document">
        <div class="modal-content" style="width: 450px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Do you want to copy seleted strategies to Retester?</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <form class="form-horizontal" role="form">
                    <div class="sq-checkbox">
                        <input type="checkbox" ng-model="config.applyConfig" id="retest-apply-config" />
                        <label class="sqn-label" for="retest-apply-config"></label>
                        <label class="sqn-label" ng-click="config.applyConfig = !config.applyConfig" style="padding-top: 0px" tsq>Apply current config <br> This will overwrite your Retester config with this task's one.</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tsq>Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onMove(false)" tsq>Copy (keep original)</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onMove(true)" tsq>Move (remove from this databank)</button>
            </div>
        </div>
    </div>
</div>