<!-- Modal window-->
<div class="modal" id="importTDModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Import data from TickDownloader</h4>
            </div>
            <div class="modal-body">
                <form name="dukasImportTDForm" class="form-horizontal" role="form">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">

                        <div class="sq-legend-help">
                            <tsq>If you have TickDownloader installation you can import the data directly from the TD
                                downloaded data folders.</tsq><br />
                            <tsq>Please select your TickDownloader installation folder below.</tsq>
                        </div>
                        <div class="td-dir-select">
                            <label class="sqn-label" tsq>TickDownloader Installation</label>
                            <input type="text" class="sqn-input" ng-model="config.path" readonly="1" ng-required="true"
                                name="TickDownloader Data Folder" />
                            <a href ng-click="onSelect();" tsq>Select</a>
                        </div>

                        <div id="tdimportGrid"></div>

                        <div class="dukas-data-postfix">
                            <label tsq>Data postfix</label>
                            <div>
                                <input type="text" class="sqn-input" ng-model="config.postfix" />
                                <label tsq>This postfix will be optionally added to the data names created</label>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onStartImport(dukasImportTDForm)" tsq>Start
                    import</button>
            </div>
        </div>
    </div>
</div>