.help-panel label {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 10px;
}

.help-panel hr {
    margin: 0px;
}

#builderDataTab hr {
    margin-right: 10px;
    margin-left: 10px;
}

#builderDataTab>.flex-expand {
    padding: 10px;
}

#builderDataTab>.flex-expand .help-panel {
    padding: 0;
}

#builderDataTab .help-panel .sq-input-fixed-size-container {
    margin-top: 0;
}

#builderDataTab>.flex-expand .help-panel .sq-input {
    margin-bottom: 10px;
}

#builderDataTab .add-setup-line {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 4px;
}

#builderDataTab .add-oos-line {
    margin-bottom: 10px;
}

#builderDataTab .add-oos-line a {
    margin-left: 9px;
    font-size: 11px;
    font-weight: 400;
}

#builderDataTab .oos-header {
    display: flex;
}

.oos-body {
    display: flex;
    clear: both;
}

.oos-body .oosComponent {
    flex: 1 1 auto;
    margin-right: 4px;
}

.oos-body .link-button {
    flex: 0 0 auto;
}

.dropdown-tf .dropdown-menu .sqn-spinner {
    width: 46%;
    margin-top: 4px;
}

#builderDataTab>.sq-fieldset:first-child {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
}

#builderDataTab .chart-setup-box-1 .sqn-label:first-child, #builderDataTab .chart-setup-box-2 .sqn-label:first-child {
    text-align: right;
    padding-right: 8px !important;
}

.chart-setup-available-data .sq-input label:first-child {
    text-align: right;
    padding-right: 8px !important;
}

#builderDataTab .chart-setup-box-2.col-sm-3 .sqn-label:first-child {
    width: auto;
}

#builderDataTab .oos-range-single {
    display: inline-block;
}

#builderDataTab .oos-range-perc {
    font-weight: 400;
    margin-left: 10px;
}

.oos-title-data {
    top: 3px;
    position: absolute;
    left: 5px;
    font-size: 11px;
    color: #555555;
}

.oos-title-atr {
    bottom: 3px;
    position: absolute;
    left: 5px;
    font-size: 11px;
    color: #ff5555;
}

#builderDataTab .oos-range-single .sqn-select {
    width: 200px;
}

#builderDataTab .oos-range-single .sqn-select.isv {
    background-color: #cedce5;
}

#builderDataTab .oos-range-single .sqn-select.oos {
    background-color: #d0e5ce;
}

#builderDataTab .oos-range-single .sqn-select.notrade {
    background-color: #cccccc;
}

.oos-predefined-configs {
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 7px;
}

.oos-predefined-configs a {
    display: inline-block;
    margin-left: 18px;
    width: 102px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #c1c1c1;
}

.oos-predefined-configs a.oos-523 {
    background-image: url('../../img/oosl-523.png');
}

.oos-predefined-configs a.oos-325 {
    background-image: url('../../img/oosl-325.png');
}

.oos-predefined-configs a.oos-221221 {
    background-image: url('../../img/oosl-221221.png');
}

.oos-predefined-configs a.oos-isvfill {
    background-image: url('../../img/oosl-isvfill.png');
}

.oos-predefined-configs a.oos-oosfill {
    background-image: url('../../img/oosl-oosfill.png');
}