<div class="sq-input-fixed-size-container">
    <div ng-repeat="type in types track by $index" class="radio">
        <label class="sq-wradio">
            <input type="radio" name="FitnessType_{{::weightedGridId}}" value="{{::type.key}}" ng-model="$parent.typeSelected" ng-click="onTypeChange(type.key)">
            <span class="sq-mark"></span>
            {{type.name | tsq}}
        </label>
    </div>
</div>

<span ng-show="typeSelected == 'Weighted'">
    <div id="{{::weightedGridId}}" class="weighted-grid gridbox_compressed" style="width: 430px; height: 400px;"></div>
</span>