.optimization-tab {
  min-width: 560px;
}

.optimization-tab .strategy-file > div.sq-input {
  width: 300px;
  display: inline-block !important;
  margin-top: -2px !important;
  margin-bottom: 0 !important;
  margin-left: 10px;
  margin-right: 10px;
}

.optimization-tab .strategy-file > div.sq-input input {
  direction: rtl;
  text-align: left;
}

.optimization-tab .strategy-file > button {
  margin-left: 0;
  margin-top: -5px;
}

.optimization-tab .optimize-settings .line .radio {
  display: inline-block;
  width: 76px;
}

.optimization-tab .sq-fieldset .optimize-settings .line .setting-label {
  width: 123px;
  margin-left: 5px;
  padding-top: 0;
  text-align: left;
}

.optimization-tab .sq-fieldset .optimize-settings .line .sq-input {
  margin-bottom: 0;
  width: 241px;
}

.optimization-tab .sq-fieldset .optimize-settings .line .sq-input label {
  width: 130px;
  min-width: 130px;
}

.optimization-tab .optimize-settings .line .toolbar {
  display: inline-block;
  padding: 0;
}

.optimization-tab .optimize-settings .line .toolbar .sq-input {
  width: 80px;
  margin-right: 10px;
  margin-top: 0;
}

.optimization-tab .optimize-settings .line div.radio > label {
  width: 80px;
}

.optimization-tab .optimize-settings .walk-fo {
  margin-top: 6px;
}

.optimization-tab .optimize-settings .walk-fo .line {
  margin-bottom: 4px;
}

.optimization-tab .optimize-settings .walk-fm .line:first-child {
  margin-bottom: 0px;
}

.optimization-tab .optimize-settings .walk-fm .line:first-child label {
  width: 80px;
  text-align: center;
  margin-right: 10px;
}

.optimization-tab
  .optimize-settings
  .walk-fm
  .line:first-child
  label:first-child {
  margin-left: 127px;
}

.optimization-tab .optimize-settings .walk-fm .line {
  margin-bottom: 4px;
}

.optimization-part-strategy .radio > label,
.optimization-settings-left .radio > label {
  font-size: 13px;
  color: #333333;
  display: inline-block;
}

.optimization-part-strategy .databank-input {
  display: flex;
  margin-top: 4px;
}

.optimization-part-strategy .databank-input > .sqn-input {
  width: 200px;
  margin-top: 0;
  margin-left: 10px;
}

.optimization-spacer {
  height: 17px;
}

.optimize-settings .sqn-label {
  margin-left: 5px;
  width: 123px;
}

.optimize-settings .btn-group {
  margin-left: 10px;
}

.optimize-settings .btn-group .btn {
  padding: 0 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  border-radius: 2px;
  height: 21px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.optimize-settings .btn-default.active {
  background: #237dd2 !important;
  border-color: #237dd2 !important;
  color: #ffffff !important;
  text-shadow: none;
}

.optimize-settings .btn-default {
  box-shadow: none;
}

.optimize-settings .btn {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.optimize-settings .sqn-spinner {
  width: 80px;
  margin-right: 10px;
}

.optimize-settings label.setting-label {
  margin-right: 0;
}

.optimization-tab .row-unified .sq-fieldset {
  min-height: 215px;
}

.optimization-tab .optimize-settings.auto-settings .sqn-spinner {
  width: 78px;
}

.optimization-tab div.parameters-grid {
  height: 210px;
  margin-top: 6px;
  margin-left: 9px;
  position: relative;
}

.optimization-tab div.parameters-grid div.sq-grid {
  right: 0;
  height: 210px;
  position: absolute;
  left: 0;
  top: 0;
}

.optimization-tab div.sqn-input.max-optimizations {
  width: 250px;
}

.optimization-tab .optimisation-warning {
  color: #ff3838;
  margin-left: 9px;
  margin-top: 6px;
  margin-bottom: 6px;
  visibility: hidden;
}

.optimization-tab .optimisation-warning.active {
  visibility: visible;
}

.optimisation-help-text {
  margin-left: 9px;
}

.optimization-tab .toolbar {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.optimization-tab .sq-checkbox {
  display: inline-block;
}

.optimization-tab .total-params-combination .sqn-input {
  width: 114px;
}

.optimization-tab .short-input {
  width: 100px;
}

.optimization-tab .row.row-smaller > div.parameters-left {
  text-align: left;
  padding-right: 0px !important;
}

.optimization-tab .parameters-left .sqn-spinner {
  width: 114px;
}

.optimization-tab .parameters-left .sqn-spinner.short {
  width: 80px;
}

.optimization-tab hr {
  border-top: 1px solid #c0c0c0;
}

.optimization-tab .bottom-fieldsets .sq-fieldset {
  min-height: 390px;
}

.optimization-tab .radio.strategy-file .sqn-input {
  width: 500px;
  margin-left: 8px;
  margin-right: 4px;
}

.optimization-tab .optimize-settings .line .sqn-select {
  width: 240px;
}

label.no-padding {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

#autoPresetPopup div.modal-dialog {
  width: 630px;
}

.optimization-tab .auto-preset > button {
  margin-left: 23px;
}

.optimization-warning-ico {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../../img/ico-strategy-error.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  z-index: 100;
}

.optimization-tooltip-ico {
  width: 17px;
  height: 17px;
  background-position: center center;
  background-image: url(../../../img/sqn-btn-help.png);
  background-repeat: no-repeat;
  float: right;
}

.opt-row-single {
  margin-bottom: 6px;
}

.opt-row-single .col-sm-7 .sqn-label {
  position: relative;
  top: -16px;
  left: -18px;
}

.optimization-tab .sq-data-help {
  margin-top: 0;
}

.optimization-sequential .sqn-label {
  width: 200px;
  vertical-align: top;
  margin-top: -4px;
  white-space: initial;
  margin-bottom: 10px;
}
.optimization-sequential .sqn-spinner {
  margin: 0 8px 10px 8px;
}

.optimization-sequential .filtering-help {
  display: inline-block;
  margin-left: 215px;
}
