<fieldset class="sq-fieldset">
    <legend tsq>Automatically retest strategies</legend>

    <div class="clearfix"></div>

    <div class="autoretest-help" tsq>
        Strategies will be retested using their last settings. <br />
        <b>Date to</b> will be set to the latest date available.
    </div>

    <div class="row autoretest-first-row">
        <div class="col-sm-2">
            <label class="sqn-label" tsq>Source databank</label>
        </div>
        <div class="col-sm-8">
            <div class="sqn-input sqn-select">
                <span ng-bind="config.sourceDatabank"></span>
                <select ng-model="config.sourceDatabank" ng-options="item.name as item.name for item in config.availableDatabanks"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onSave()"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <label class="sqn-label" tsq>Target databank</label>
        </div>
        <div class="col-sm-8">
            <div class="sqn-input sqn-select">
                <span ng-bind="config.targetDatabank"></span>
                <select ng-model="config.targetDatabank" ng-options="item.name as item.name for item in config.availableDatabanks"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onSave()"></select>
            </div>
        </div>
    </div>
    <br />
</fieldset>