div.codeeditor-content #bottomTabs > div.tabs-body > div > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.tab-file {
  margin: 4px 12px;
  color: #777777;
  overflow: hidden;
}

.dhxtree_dhx_web .standartTreeRow_lor,
.dhxtree_dhx_web .standartTreeRow,
.dhxtree_dhx_web .selectedTreeRow_lor,
.dhxtree_dhx_web .selectedTreeRow {
  font-size: 12px !important;
  line-height: 14px;
}

#newFileModal .sqn-label {
  width: 80px;
}

#newFileModal .col-md-12 > .sqn-input {
  width: 350px;
}

#cloneModal .col-md-12 .sqn-input {
  width: 350px;
}

#newFileModal .col-md-12 > .sqn-input.sqn-select {
  width: 140px;
}

#newFileModal .sq-combo-input {
  width: 60px;
}

.code-right-separator {
  border-right: 1px solid rgba(69, 69, 69, 0.2);
  padding-right: 3px;
}

#header ul.nav-top {
  margin-left: 10px;
}

ul.nav-top > li:first-child {
  padding-right: 10px;
}

#createNewModal .radio {
  margin-left: 24px;
}

#createNewModal .radio label {
  display: block;
}

#createNewModal .radio p {
  padding-left: 20px;
  color: #777777;
  display: inline-block;
  margin-bottom: 0;
  font-style: italic;
}

#createNewModal .new-snippet-name {
  width: 60%;
  margin-left: 33px;
}

#createNewModal .radio .sqn-select {
  position: relative;
  top: -1px;
  margin-left: 12px;
}

#findInFilesModal .sqn-input {
  width: 515px;
}

#header .code-right-separator .dropdown-toggle {
  margin-left: 3px;
}

#header .code-right-separator .dropdown-menu > li {
  display: block;
}

#header .code-right-separator .dropdown-menu > li a {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857143;
  color: #333;
  border: 0;
}

#header .code-right-separator .dropdown-menu > li a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  border: 0;
}

.codeeditor-content #mainTabs .quant-tabs .tabs-header .ico-tab-delete {
  margin-left: 2px;
}

.codeeditor-content #mainTabs .quant-tabs div.tab-menu.dropdown-toggle {
  margin-left: 6px;
  vertical-align: -1px;
}

.codeeditor-content #mainTabs .quant-tabs .tabs-header {
  text-align: left;
  display: block;
  padding-left: 3px;
  overflow: hidden;
  height: 22px;
  white-space: nowrap;
  margin-right: 32px;
}

.codeeditor-content #rightTabs {
  height: 100%;
}

.codeeditor-content #rightTabs .quant-tabs#editorsTabs .nav {
  position: relative;
}

.codeeditor-content #rightTabs .quant-tabs#editorsTabs .nav .editors-opened {
  height: 100%;
  border: 0;
  overflow: auto;
  padding: 0;
  font-size: 11px;
}

.codeeditor-content
  #rightTabs
  .quant-tabs#editorsTabs
  .nav
  .editors-opened
  > div {
  padding: 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 21px;
  cursor: pointer;
  display: flex;
}

.codeeditor-content
  #rightTabs
  .quant-tabs#editorsTabs
  .nav
  .editors-opened
  > div
  .editor-path {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 4px;
  opacity: 0.7;
}

.codeeditor-content
  #rightTabs
  .quant-tabs#editorsTabs
  .nav
  .editors-opened
  > div.active {
  background-color: #85d3ff;
}

.codeeditor-content
  #rightTabs
  .quant-tabs#editorsTabs
  .nav
  .editors-opened
  > div
  .ico:before {
  content: "";
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background: url(../../img/icons-tree/leaf.gif);
  margin-right: 5px;
  display: inline-block;
  vertical-align: -4px;
}

.main-tab-active-line {
  display: block;
  position: fixed;
  left: 0px;
  height: 1px;
  background-color: #ffffff;
  z-index: 10;
}

.code-editor-split-tab {
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 3px;
  font-size: 16px;
  z-index: 100;
}

.codeeditor-content #mainTabs .main-split-edit .quant-tabs .tabs-header {
  margin-right: 10px;
}

.codeeditor-content .nav .sq-tree .item {
  font-size: 11px;
}

#rightTabs .quant-tabs#topTabs .tabs-body {
  bottom: 0;
}

.codeeditor-content
  #right-component
  #mainTabs
  .main-split-edit
  .editor-part-main
  .quant-tabs {
  right: 0;
}

#right-panel-split {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#rightTabs #right-panel-split .quant-tabs {
  height: auto;
  margin-top: 0;
}

#filenavigatorNew .item[data-text="Builtin"] + .items-level .missing-file {
  display: none;
}

.isDevelopment
  #filenavigatorNew
  .item[data-text="Builtin"]
  + .items-level
  .missing-file {
  display: inline-block;
}

.code-editor-morefilesbutton {
  position: absolute;
  cursor: pointer;
  right: 31px;
  top: 0px;
  font-size: 16px;
  z-index: 100;
  display: none;
}

.codeeditor-content
  #mainTabs
  #left-editor-component.overflown
  .code-editor-morefilesbutton {
  display: block;
}

.codeeditor-content
  #mainTabs
  #left-editor-component.overflown
  .quant-tabs
  .tabs-header {
  margin-right: 54px;
}

.code-editor-morefilesbutton .dropdown-menu {
  left: auto;
  right: 0;
  max-height: 300px;
  overflow: auto;
}

.code-editor-morefilesbutton .dropdown-menu .bold {
  font-weight: 600;
}

.codeeditor-content
  #mainTabs
  .main-split-edit
  #left-editor-component.overflown
  .quant-tabs
  .tabs-header {
  margin-right: 28px;
}

.codeeditor-content #mainTabs .main-split-edit .code-editor-morefilesbutton {
  right: 4px;
}


.context-menu-template.hidden {
  display: none;
}