<!-- Modal Connection details window-->
<div class="modal" id="addSymbolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Add symbol</h4>
            </div>
            <div class="modal-body">
                <form name="addSymbolForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}" style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <legend>Data settings</legend>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="sqn-label">
                                    <tsq>Data symbol name</tsq>
                                    <input type="text" class="sqn-input" ng-model="dataDetails.symbol" ng-required="true"
                                        name="Data symbol name" />
                                </label>
                            </div>
                        </div>

                        <legend style="margin-top: 15px" tsq>Data type</legend>
                        <div class="clearfix"></div>
                        <div class="radio">
                            <label class="sq-wradio">
                                <input type="radio" name="optionsRadios" ng-model="dataDetails.barType" ng-value="barDataTypes.startOfBar"
                                    id="optionsRadios1" />
                                <span class="sq-mark"></span>
                                <tsq>Timestamp is start of bar time (MetaTrader, Dukascopy, forex data)</tsq>
                            </label>
                        </div>
                        <div class="radio">
                            <label class="sq-wradio">
                                <input type="radio" name="optionsRadios" ng-model="dataDetails.barType" ng-value="barDataTypes.endOfBar"
                                    id="optionsRadios2" />
                                <span class="sq-mark"></span>
                                <tsq>Timestamp is end of bar time (NinjaTrader, Tradestation, futures data)</tsq>
                            </label>
                        </div>
                    </fieldset>

                    <instrument-chooser instance="instrumentChooser" help-text="true" />

                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSave(addSymbolForm)" tsq>Save</button>
            </div>
        </div>
    </div>
</div>