<div class="simple-build-settings" ng-class="{'disabled-panel': ($root.project.state == projectStates.running || $root.project.state == projectStates.paused) && isDashboard()}" ng-show="loaded">
    <div class="disabled-area-placeholder">
        <i class="fa fa-lock" title="Setting changes locked, they will be applied next time you start the project."></i>
    </div>

    <div class="settings-summary-title" tsq>Settings summary</div>

    <simple-data-settings />

    <br/>

    <div class="setting-row build-options">
        <settings-panel instance="settingsPanelInstance" custom-groups="retestOptions" />
    </div>

    <label class="settings-title" style="margin-top: 0px" tsq>Databanks</label>

    <div class="setting-row">
        <label class="sqn-label fixed-width" tsq>Source databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.inputDatabank}}</span>
            <select ng-model="config.inputDatabank" ng-options="item.name as item.name for item in availableDatabanks"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="saveConfig()"></select>
        </div>
        <div class="retest-selected pull-right">
            <div class="sq-checkbox">
                <input type="checkbox" id="sw-retest-selected" ng-model="config.retestSelected" ng-change="saveConfig()" />
                <label class="sqn-label" for="sw-retest-selected"></label>
            </div>
            <label class="sqn-label" tsq>Retest only selected</label>
        </div>
    </div>

    <div class="setting-row" style="margin-bottom: 20px">
        <label class="sqn-label fixed-width" tsq>Target databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.outputDatabank}}</span>
            <select ng-model="config.outputDatabank" ng-options="item.name as item.name for item in availableDatabanks"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="saveConfig()"></select>
        </div>
    </div>

    <br/>
    
    <simple-cross-check />

</div>