#buildModeTab {
    min-width: 460px;
}

#buildModeTab .sq-input.sq-input label {
    min-width: 154px;
}

#buildModeTab .toolbar {
    line-height: 16px;
}

#buildModeTab .toolbar .sq-input {
    margin-bottom: 0;
}

#buildModeTab .toolbar .radio {
    display: inline-block;
}

#buildModeTab .toolbar .radio input {
    vertical-align: -3px;
}

#buildModeTab .toolbar label {
    font-size: 11px;
    font-weight: 400;
}

#buildModeTab div.gridbox {
    height: 100px !important;
    margin-bottom: 8px;
}

#generationTypeOptions .radio label {
    color: #333333;
}

#generationTypeOptions .radio label span {
    font-size: 13px;
}

#buildModeTab .stop-conditions .radio {
    margin-bottom: 13px;
}

#buildModeTab .stop-conditions .sqn-spinner {
    width: 88px;
    margin: 0 6px;
}

#buildModeTab .genetic-settings-inputs {
    margin-bottom: 19px;
}

#buildModeTab .genetic-settings-inputs .sqn-label {
    width: 160px;
}

#buildModeTab .genetic-settings-inputs .sqn-spinner {
    width: 90px;
}

#buildModeTab .genetic-settings-options .sq-slider {
    margin-top: 1px;
    margin-right: 0;
}

#buildModeTab .genetic-settings-options .sq-slider label {
    margin-right: 5px !important;
}

#buildModeTab .genetic-settings-options .link i {
    margin-left: 6px;
    font-size: 15px;
}

#buildModeTab .decimation-coefficient .sq-slider {
    margin-top: 1px;
    margin-right: 5px;
}

#buildModeTab .restart-on-stagnation,
#buildModeTab .restart-on-finish {
    margin-left: 9px;
    margin-bottom: 9px;
}

#buildModeTab .restart-on-stagnation .sqn-select,
#buildModeTab .restart-on-stagnation .sqn-spinner {
    width: 70px;
    margin: 0 6px;
}

#buildModeTab .filter-initial-population-subitems {
    margin-left: 47px;
}

/* Genetic settings popup */

#geneticSettingsPopup label.help {
    color: #888888;
    padding-left: 10px;
    font-weight: 400;
}

#geneticSettingsPopup .mutation-probability>label {
    min-width: 123px;
}

#geneticSettingsPopup .migration-rate>label {
    min-width: 188px;
}

/* Filter settings popup */

#filterSettingsPopup div.radio {
    margin-left: 10px;
}

#filterSettingsPopup div.conditions-grid-wrapper {
    margin-top: 10px;
}

#filterSettingsPopup #filter-grid>.gridbox {
    min-height: 100px;
}

#buildModeTab .initial-population-generation .sq-input.sq-input {
    margin-right: 0;
}

#buildModeTab .initial-population-generation .sq-input.sq-input .sq-slider {
    position: relative;
    right: -20px;
}

#buildModeTab .initial-population-generation .sq-input.sq-input .sq-slider label {
    padding-right: 0;
}

#buildModeTab .initial-population-generation .sq-input.sq-input.genetic-required-size {
    font-size: 11px;
}

#buildModeTab .initial-population-generation .sq-input.sq-input.genetic-required-size label {
    font-size: 12px;
    min-width: 120px;
    padding-top: 0;
}

#buildModeTab .checkbox {
    margin-left: 9px;
}

#buildModeTab .advanced-genetic-settings {
    margin-left: 9px;
    margin-bottom: 10px;
    display: block;
}