<div id="editors-split-pane" ng-class="{'main-split-edit': splitEditTab!=null}">
  <div id="left-editor-component">
    <i
      class="fa fa-columns code-editor-split-tab"
      ng-show="splitEditTab==null && tabs.length > 0"
      aria-hidden="true"
      ng-attr-title="{{splitEditIconTooltipOpen}}"
      ng-click="openSplitEditor()"
    ></i>
    <div class="dropdown code-editor-morefilesbutton">
      <i
        class="fa fa-bars dropdown-toggle"
        aria-hidden="true"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
      ></i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <a
            ng-repeat="tab in tabs track by tab.file"
            ng-click="onSelectTab(tab)"
            ng-class="{'bold': activeTab==tab.file}"
            >{{tab.title}}</a
          >
        </li>
      </ul>
    </div>
    <div class="main-tab-active-line"></div>
    <div class="editor-part editor-part-main">
      <div class="quant-tabs">
        <div class="tabs-header">
          <div
            ng-repeat="tab in tabs track by tab.file"
            data-item="{{tab.dataItem}}"
            ng-class="{'active': activeTab==tab.file}"
            ng-click="onSelectTab(tab)"
            ng-mousedown="showMenu($event, tab)"
          >
            {{tab.title}} <span ng-show="tab.changed">*</span>
            <span class="ico-tab-delete" ng-click="onTabClose(tab)"></span>
          </div>
        </div>
        <div class="tabs-body">
          <div
            ng-repeat="tab in tabs track by tab.file"
            data-item="{{tab.dataItem}}"
            ng-class="{'active': activeTab==tab.file}"
          >
            <div class="tab-file">{{tab.file}}</div>
            <div ng-if="tab.protected" id="code-locked" tsq>
              StrategyQuant standard snippet - code locked
            </div>
            <pre class="editor" id="{{tab.editorId}}"></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right-editor-component">
    <i
      class="fa fa-window-close-o code-editor-split-tab"
      ng-if="splitEditTab!=null"
      aria-hidden="true"
      ng-attr-title="{{splitEditIconTooltipClose}}"
      ng-click="closeSplitEditor()"
    ></i>
    <div class="editor-part editor-part-split" ng-show="splitEditTab!=null">
      <div class="quant-tabs">
        <div class="tabs-header" style="overflow: visible">
          <div class="pseudo-active">
            {{splitEditTab.title}} <span ng-show="splitEditTab.changed">*</span>
            <span class="ico-tab-delete" ng-click="closeSplitEditor()"></span>
          </div>
        </div>
        <div class="tabs-body">
          <div data-item="{{splitEditTab.dataItem}}" class="active">
            <div class="tab-file">{{splitEditTab.file}}</div>
            <div ng-if="splitEditTab.protected" id="code-locked" tsq>
              StrategyQuant standard snippet - code locked
            </div>
            <pre class="editor" id="{{splitEditTabEditorId}}"></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
