<div class="simple-build-settings"
    ng-class="{'disabled-panel': ($root.project.state == projectStates.running || $root.project.state == projectStates.paused) && isDashboard()}"
    ng-show="loaded">
    <div class="disabled-area-placeholder">
        <i class="fa fa-lock" title="Setting changes locked, they will be applied next time you start the project."></i>
    </div>

    <div class="settings-summary-title" tsq>Settings summary</div>

    <div class="settings-predefined-configs dropdown">
        <button class="btn btn-default" data-toggle="dropdown"><tsq>Use predefined config</tsq> &nbsp;<i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu">
            <li>
                <a ng-click="loadTemplate(strategyTypes.defaultForex)" title="{{getStrategyTypeInfo(strategyTypes.defaultForex)}}" tsq>Default (forex)</a>
                <a ng-click="loadTemplate(strategyTypes.defaultFutures)" title="{{getStrategyTypeInfo(strategyTypes.defaultFutures)}}" tsq>Default (futures)</a>
                <a ng-click="loadTemplate(strategyTypes.defaultStockpicker)" title="{{getStrategyTypeInfo(strategyTypes.defaultStockpicker)}}" tsq>Default (stockpicker)</a>
                <a ng-click="loadTemplate(strategyTypes.market)" title="{{getStrategyTypeInfo(strategyTypes.market)}}" tsq>Market</a>
                <a ng-click="loadTemplate(strategyTypes.trendFollowing)" title="{{getStrategyTypeInfo(strategyTypes.trendFollowing)}}" tsq>Trend following</a>
                <a ng-click="loadTemplate(strategyTypes.meanReversal)" title="{{getStrategyTypeInfo(strategyTypes.meanReversal)}}" tsq>Mean reversal</a>
                <a ng-click="loadTemplate(strategyTypes.fuzzy)" title="{{getStrategyTypeInfo(strategyTypes.fuzzy)}}" tsq>Fuzzy</a>
                <a ng-click="loadTemplate(strategyTypes.daily)" title="{{getStrategyTypeInfo(strategyTypes.daily)}}" tsq>Daily</a>
            </li>
        </ul>
    </div>

    <simple-data-settings />

    <label class="settings-title" style="margin-top: 0px" tsq>Build options</label>

    <div class="setting-row build-options">
        <settings-panel custom-groups="buildOptions" instance="settingsPanelInstance" />
    </div>

    <span ng-if="!isBuilder">
        <label class="settings-title" style="margin-top: 0px" tsq>Databanks</label>

        <div class="setting-row">
            <label class="sqn-label fixed-width" tsq>Output databank</label>

            <div class="sqn-input sqn-select">
                <span>{{configWTB.outputDatabank}}</span>
                <select ng-model="configWTB.outputDatabank"
                    ng-options="item.name as item.name for item in availableDatabanks" onFocus="sqnSelectFocus(this)"
                    onBlur="sqnSelectBlur(this)" ng-change="onDatabankChange()"></select>
            </div>
        </div>
        <br />
        <br />
    </span>

    <simple-cross-check />

</div>