.money-management {
    min-width: 580px;
}

.money-management-initial-capital .sqn-spinner {
    max-width: 194px;
    margin-bottom: 6px;
    vertical-align: 3px;
}

.money-management .property-grid-with-sidenote {
    height: 210px;
}

.money-management .property-grid-with-sidenote>.property-grid-note-side {
    margin-left: 0;
    padding-left: 12px;
    background-color: #ececec;
    color: #555555;
}