<fieldset class="sq-fieldset sq-fieldset-select-property">
	<legend tsq>Strategy Quality ranking (fitness)</legend>

	<label class="sqn-label" tsq>Use</label>
	<div class="sqn-input sqn-select setup-input-use">
		<span ng-bind="getMethodLabel()"></span>
		<select ng-model="selectedMethod" ng-options="method.value as (method.name | tsq) for method in methods" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onMethodChange()"></select>
	</div>
	
	<br/>

	<label class="sqn-label" tsq>Compute from</label>
	<div class="fitness-methods-list">
		<div ng-repeat="method in methods">
			<div ng-show="method.value == fitness.method" ng-include="method.templateUrl" ng-dynamic-controller="method.controller" class="fitness-method-single" />
		</div>
	</div>
</fieldset>