<div id="partsToImproveContent">

    <fieldset class="sq-fieldset">
        <legend tsq>Choose parts to improve</legend>

        <!-- entry rules -->
        <legend tsq>Entry rules</legend>
        <div class="rule">
            <div class="input-checkbox checkbox">
                <label>
                    <input type="checkbox" ng-model="config.entryRules.long.use" ng-disabled="config.direction == directions.short" />
                    <tsq>LONG</tsq>
                </label>
            </div>
            <div class="action-select">
                <div class="sqn-input sqn-select" ng-hide="config.direction == directions.short">
                    <span>{{getOptionName(config.entryRules.long.action)}}</span>
                    <select ng-model="config.entryRules.long.action" ng-options="item.value as item.name for item in actions" onFocus="sqnSelectFocus(this)"
                        onBlur="sqnSelectBlur(this)" ng-disabled="config.direction == directions.short"></select>
                </div>
            </div>
            <label class="condition-input">{{getConditionText(config.entryRules.long)}}</label>
        </div>
        <div class="rule short">
            <div class="input-checkbox checkbox">
                <label>
                    <input type="checkbox" ng-model="config.entryRules.short.use" ng-disabled="(config.direction == directions.both && config.entryRules.symmetry) || config.direction == directions.long"
                    />
                    <tsq>SHORT</tsq>
                </label>
            </div>
            <div class="action-select">
                <div class="sqn-input sqn-select" ng-hide="(config.direction == directions.both && config.entryRules.symmetry) || config.direction == directions.long">
                    <span>{{getOptionName(config.entryRules.short.action)}}</span>
                    <select ng-model="config.entryRules.short.action" ng-options="item.value as item.name for item in actions" onFocus="sqnSelectFocus(this)"
                        onBlur="sqnSelectBlur(this)" ng-disabled="(config.direction == directions.both && config.entryRules.symmetry) || config.direction == directions.long"></select>
                </div>
            </div>
            <label class="condition-input">{{config.direction == directions.both && config.entryRules.symmetry ? Ltsqt('Symmetric to Long') : getConditionText(config.entryRules.short)}}</label>
        </div>

        <!-- order types -->
        <legend tsq>Order types</legend>
        <div class="rule">
            <div class="input-checkbox checkbox">
                <label>
                    <input type="checkbox" ng-model="config.orderTypes.long.use" ng-disabled="config.direction == directions.short" />
                    <tsq>LONG</tsq>
                </label>
            </div>
            <div class="action-select void" />
            <label class="condition-input">{{config.orderTypes.long.use ? Ltsqt('Generate randomly') : Ltsqt('Keep existing')}}</label>
        </div>
        <div class="rule short">
            <div class="input-checkbox checkbox">
                <label>
                    <input type="checkbox" ng-model="config.orderTypes.short.use" ng-disabled="config.direction == directions.long" />
                    <tsq>SHORT</tsq>
                </label>
            </div>
            <div class="action-select void" />
            <label class="condition-input">{{config.orderTypes.short.use ? Ltsqt('Generate randomly') : Ltsqt('Keep existing')}}</label>
        </div>

        <!-- exit rules -->
        <legend style="margin-top: 10px;" tsq>Exit rules</legend>
        <div class="rule">
            <div class="input-checkbox checkbox">
                <label>
                    <input type="checkbox" ng-model="config.exitRules.long.use" ng-disabled="config.direction == directions.short" />
                    <tsq>LONG</tsq>
                </label>
            </div>
            <div class="action-select">
                <div class="sqn-input sqn-select" ng-hide="config.direction == directions.short">
                    <span>{{getOptionName(config.exitRules.long.action)}}</span>
                    <select ng-model="config.exitRules.long.action" ng-options="item.value as item.name for item in actions" onFocus="sqnSelectFocus(this)"
                        onBlur="sqnSelectBlur(this)" ng-disabled="config.direction == directions.short"></select>
                </div>
            </div>
            <label class="condition-input">{{getConditionText(config.exitRules.long)}}</label>
        </div>
        <div class="rule short">
            <div class="input-checkbox checkbox">
                <label>
                    <input type="checkbox" ng-model="config.exitRules.short.use" ng-disabled="(config.direction == directions.both && config.exitRules.symmetry) || config.direction == directions.long"
                    />
                    <tsq>SHORT</tsq>
                </label>
            </div>
            <div class="action-select">
                <div class="sqn-input sqn-select" ng-hide="(config.direction == directions.both && config.exitRules.symmetry) || config.direction == directions.long">
                    <span>{{getOptionName(config.exitRules.short.action)}}</span>
                    <select ng-model="config.exitRules.short.action" ng-options="item.value as item.name for item in actions" onFocus="sqnSelectFocus(this)"
                        onBlur="sqnSelectBlur(this)" ng-hide="config.direction == directions.both && config.exitRules.symmetry"
                        ng-disabled="config.direction == directions.long"></select>
                </div>
            </div>
            <label class="condition-input">{{config.direction == directions.both && config.exitRules.symmetry ? Ltsqt('Symmetric to Long') : getConditionText(config.exitRules.short)}}</label>
        </div>

        <label class="help" tsq>Note - If you want to change symmetry of entry or exit block, you can do it in What to build tab.</label>

        <legend style="margin-top: 10px;" tsq>ATM - advanced exits</legend>

        <div class="rule short">
            <div class="input-checkbox checkbox" style="width: 500px">
                <label>
                    <input type="checkbox" ng-model="config.improveATM" ng-disabled="!$root.license.isUltimateVersion"/>
                    <tsq>Improve / generate (Ultimate version only)</tsq>
                    <a style="margin-left: 10px;" ng-click="onHowItWorks()" tsq>How it works</a>
                </label>
            </div>
        </div>
    </fieldset>
</div>