<div id="optionsTab">
    <div class="sq-checkbox disable-all-checkbox" ng-show="isAutoRetestTask" style="float: none;">
        <input type="checkbox" ng-model="config.useCustomSettings" ng-change="onCustomSettingsChange()"
            id="to-config-switch" />
        <label class="sqn-label" for="to-config-switch"></label>
        <label class="sqn-label"
            ng-click="config.useCustomSettings = !config.useCustomSettings; onCustomSettingsChange()" tsq>Use custom
            trading options</label>
    </div>

    <span ng-show="!isAutoRetestTask || config.useCustomSettings">
        <div class="row row-limited row-unified">

            <div class="col-lg-6">
                <fieldset class="sq-fieldset sq-fieldset-select-property">
                    <legend tsq>Build and Trading Options</legend>

                    <property-grid id="btPropertyGrid" instance="config.propertyGridInstance" after-init="afterPGInit" on-change="onPGChange" style="width: 100%; height: auto;" />
                </fieldset>
            </div>
        </div>
    </span>
</div>