#genetic-options .row:first-child .col-sm-6 .sq-fieldset {
    min-height: 186px;
}

#genetic-options .col-sm-6 .sq-fieldset {
    min-height: 280px;
}

#genetic-options .conditions-grid {
    height: 150px !important;
}

#genetic-options .genetic-settings-inputs>.sqn-label {
    width: 230px;
}

#genetic-options .genetic-settings-inputs>.sqn-spinner {
    width: 96px;
}

#genetic-options .col-sm-6:first-child .genetic-settings-inputs .sq-input>label {
    width: 136px;
    flex: 0 0 auto;
}

#genetic-options .col-sm-6:last-child .genetic-settings-inputs .sq-input>label {
    width: 210px;
    flex: 0 0 auto;
}

#genetic-options .col-sm-6:last-child .genetic-settings-inputs .sqn-spinner {
    margin-bottom: 9px;
}

#genetic-options .sq-input.genetic-required-size>label {
    margin-top: -3px;
}

#genetic-options .restart-on-stagnation .sqn-select {
    width: 180px;
    margin: 0 8px;
}

#genetic-options .restart-on-stagnation .sqn-spinner {
    width: 80px;
    margin: 0 8px;
}

#genetic-options .checkbox {}

#genetic-options .checkbox .sq-checkbox {
    margin-left: 5px;
}

#genetic-options .checkbox .gen-help {
    padding-left: 54px;
}

.gen-help {
    padding-left: 9px;
    color: #777777;
    font-style: italic;
}

.checkbox .gen-help {
    padding-left: 21px;
}

.filter-initial-population-subitems .gen-help {
    padding-left: 0;
}

#genetic-options .decimation-input.sq-input {
    margin-bottom: 5px;
}

#genetic-options #filter-grid button {
    margin-top: 17px !important;
}

#genetic-options .genetic-required-size.sq-input {
    margin-right: 0;
    white-space: nowrap;
}

#genetic-options .decimation-input .sq-slider {
    margin-left: 20px;
}

#genetic-options #filter-grid .conditions-btns {
    /* margin-top: 17px; */
}

#genetic-options .fresh-blood div.sqn-select {
    width: 50px;
}

#genetic-options .fresh-blood div.sqn-select>input {
    padding: 0px 8px;
}

#genetic-options div.sqn-spinner.generations-count {
    width: 70px;
}

#genetic-options div.sqn-spinner.generations-count>input {
    padding: 0px 8px;
}

#genetic-options fieldset.fresh-blood, #genetic-options fieldset.evolution-management {
    min-height: 150px !important;
}

#genetic-options .fresh-blood div.sqn-spinner.generations-count {
    margin-top: 5px;
}