::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #FEFEFE;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border: 1px solid #888888;
}

table.portfolio { width: 100%; background-color: #e0e2e3; color: #606060}
table.portfolio td { padding: 5px 5px 5px 10px; text-align: right; background-color: white; height: 15px; font-size: 11px;}
table.portfolio th { padding: 5px 5px 5px 10px; text-align: center; background-color: #eeeeee; font-size: 11px;}
table.portfolio td.name {white-space: nowrap;}