<!-- Modal window-->
<div class="modal" id="exportDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq>Export data for</tsq> '{{selectedFor}}'
                </h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <form name="exportDataForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}"
                    style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Choose data range to export</legend>

                        <date-range instance="dateRange" on-date-change="onDateRangeChange" />
                        
                        <br>
                        <legend tsq>Select timeframe, session and target timezone</legend>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="sqn-label timeframe-label" tsq>Timeframe</label>
                                <timeframe-picker timeframe="dataDetails.timeframe" min-timeframe="minTimeframe"
                                    enable-tick-tf="true" />
                            </div>
                            <div class="col-xs-6">
                                <label class="sqn-label timeframe-label" tsq>Session</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="dataDetails.session"></span>
                                    <select class="sq-select" ng-model="dataDetails.session"
                                        ng-options="session.name as session.name for session in availableSessions"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:16px;">
                           <div class="col-xs-12">
                                <label class="sqn-label timeframe-label" tsq>Timezone</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="getTimezoneLabel()"></span>
                                    <select ng-model="dataDetails.targetTimezone"
                                        ng-options="item.value as item.name for item in timezones"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                        onChange="sqnSelectChange(this)"></select>
                                </div>
                            </div> 
                        </div>     
                        <div class="row">
                            <div class="col-xs-12 desc">
                                Select a target time zone for the export. Choose Original to keep all timestamps unchanged.
                             </div>
                        </div>     
                    </fieldset>

                    <fieldset class="sq-fieldset csv-export-file-format">
                        <legend tsq>File format</legend>

                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label class="sqn-label" tsq>Predefined</label>
                                <div class="sqn-input sqn-select sqn-select-predefined-format">
                                    <span ng-bind="dataDetails.fileFormat"></span>
                                    <select ng-model="dataDetails.fileFormat"
                                        ng-options="item.name as item.name for item in fileFormats"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                        ng-change="onFileFormatChange()" readonly="1"></select>
                                </div>
                                <div class="line pull-right format-actions" style="display: inline-flex;">
                                    <button class="btn btn-default" ng-disabled="dataDetails.predefined"
                                        ng-click="onSaveFormat()" tsq>Save</button>
                                    <button class="btn btn-default" ng-click="onSaveFormatAs()">Save as</button>
                                    <button class="btn btn-default"
                                        ng-disabled="dataDetails.predefined || dataDetails.fileFormat == 'Custom'"
                                        ng-click="onDeleteFormat()" tsq>Delete</button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class="sqn-label" for="include-header" tsq>Include header</label>
                            <div class="sq-checkbox" ng-click="onIncludeHeaderChange()" style="display: inline-block;">
                                <input type="checkbox" ng-model="dataDetails.includeHeader" id="include-header">
                                <label>&nbsp;</label>
                            </div>
                        </div>

                        <div>
                            <label class="sqn-label file-label" tsq>Header</label>
                            <input type="text" class="sqn-input format-input" ng-model="dataDetails.header"
                                ng-disabled="!dataDetails.includeHeader" ng-change="setCustomFormat()" />

                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in items"><a
                                            ng-click="onHeaderItemChange(item)">{{item.name}}</a></li>
                                </ul>
                            </div>

                        </div>

                        <div>
                            <label class="sqn-label file-label" tsq>Format</label>
                            <input type="text" class="sqn-input format-input" ng-model="dataDetails.format"
                                ng-change="setCustomFormat()" />

                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in items"><a
                                            ng-click="onFormatItemChange(item)">{{item.name}}</a></li>
                                </ul>
                            </div>

                        </div>

                    </fieldset>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Select target</legend>

                        <div class="select-directory">
                            <label class="sqn-label file-label" tsq>Directory</label>
                            <input type="text" class="sqn-input" ng-model="dataDetails.directory" readonly="1" />
                            <a ng-click="openExportFilePicker();" tsq>Browse</a>
                        </div>

                        <div>
                            <label class="sqn-label file-label" tsq>File prefix</label>
                            <input type="text" class="sqn-input" ng-model="dataDetails.filePrefix" />
                            <span ng-bind="targetFile.name"></span>
                        </div>

                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onExport()" tsq>Export</button>
            </div>
        </div>
    </div>

    <div ng-include="'../../../plugins/DataManagerActions/exportToCsv/newFormatPopup.html'"></div>
</div>