#exportDataModal .file-input .sqn-input {
    width: 100%;
    text-align: right;
    margin-top: 2px;
    direction: rtl;
}

#exportDataModal a {
    vertical-align: -3px;
}

#exportDataModal .select-directory a {
    margin-left: 10px;
}

#exportDataModal .select-directory input {
    width: 75%;
}

#exportDataModal .file-label {
    width: 70px;
}

#exportDataModal .timeframe-label{
    width: 70px;
}

#exportDataModal .desc{
    font-style: italic;
    margin-left: 9px;
    margin-top: 4px;    
}

#exportDataModal .sqn-select-predefined-format {
    width: 270px;
}

#exportDataModal .format-input {
    width: 79%;
}

.modal .sq-fieldset.csv-export-file-format {
    overflow: visible;
}

.csv-export-file-format .dropdown {
    display: inline-block;
    vertical-align: middle;
}

body .csv-export-file-format .dropdown .btn {
    line-height: 21px;
    height: 22px;
    padding: 0 7px;
}