<div id="results-source-code-container" class="flex-container source-code-tab">
    <div>
        <form class="form-horizontal" role="form">

            <div class="">
                <label class="sqn-label" tsq>Source code type</label>
                <div class="sqn-input sqn-select source-code-select">
                    <span ng-bind="config.type | tsq"></span>
                    <select ng-model="config.type" ng-options="item.name as (item.name | tsq) for item in generators"
                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                        onChange="sqnSelectChange(this)"></select>
                </div>

                <button class="btn btn-default source-code-save" ng-click="onSave()" tsq>Save to file</button>
                <button class="btn btn-default source-code-copy" ng-click="onCopyToClipboard()" tsq>Copy to clipboard</button>
                <a ng-click="onRefresh()" title="Refresh" class="source-code-refresh"><i class="fa fa-refresh" aria-hidden="true" title="Refresh"></i></a>

                <span class="source-code-copied" tsq>Copied to clipboard</span>

                <span ng-if="broker.encryption">
                    <button class="btn btn-default source-code-save" ng-if="broker.supportsMT4"
                        ng-click="onSaveEA(true)" tsq>Save as EA (MT4)</button>
                    <button class="btn btn-default source-code-save" ng-if="broker.supportsMT5"
                        ng-click="onSaveEA(false)" tsq>Save as EA (MT5)</button>
                    <button class="btn btn-default source-code-save" ng-click="onConfigure()" tsq>Configure</button>
                </span>

                <div class="pull-right">
                    <variables-settings config="config" />
                    &nbsp;&nbsp;

                    <label class="sqn-label" tsq>MM used</label>
                    <div class="sqn-input sqn-select source-code-select-mm">
                        <span ng-bind="getMMLabel()"></span>
                        <select ng-model="config.mmType" ng-options="item.value as (item.name | tsq) for item in mmTypes"
                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                    </div>

                </div>
            </div>

            <div id="source-code-desc" ng-bind-html="generatorDescription | tsq"></div>
            <div id="source-code-desc" ng-show="isAWCloud && config.type!='Pseudo Code(*.TXT)'">
                <span class="pull-right">
                    <span ng-if="config.type=='Expert Advisor for MetaTrader4 (*.MQ4)'">
                        <a href="https://cdn.algowizard.io/indicators/MetaTrader4/Indicators.zip" tsq>Download
                            indicators for MetaTrader4</a>
                    </span>
                    <span ng-if="config.type=='Expert Advisor for MetaTrader5 (*.MQ5)'">
                        <a href="https://cdn.algowizard.io/indicators/MetaTrader5/Indicators.zip" tsq>Download
                            indicators for MetaTrader5</a>
                    </span>
                    <span ng-if="config.type=='EasyLanguage for Tradestation / MultiCharts (*.el)'">
                        <a href="https://cdn.algowizard.io/indicators/Tradestation/Indicators.zip" tsq>Download
                            indicators for Tradestation and Multicharts</a>
                    </span>
                </span>
                <div ng-bind-html="customIndicatorsInfo | tsq"></div>
            </div>
            <div id="source-code-warning" ng-show="warning"><span ng-bind="warning"></span><a id="source-code-learnmore" ng-show="learnMoreURL" ng-click="onLearnMore()" tsq>Learn more</a></div>
        </form>
    </div>
    <!--<div class="flex-expand">-->
    <pre class="editor" id="sc-editor"></pre>
    <!-- </div>-->

    <div ng-include="'../../../plugins/ResultsSourceCode/terminalConfigPopup.html'"></div>
    <div ng-include="'../../../plugins/ResultsSourceCode/customIndicatorsPopup.html'"></div>
</div>