<!-- Modal window-->
<div class="modal centered" id="terminalConfigPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 750px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" ng-bind="broker.configPopupTitle"></h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <div class="platform-config" ng-if="broker.supportsMT4 && (configToShow == 'MT4' || configToShow == 'all')" >
                    <div class="folder-line title" ng-show="configToShow == 'all'">
                        <label class="sqn-label" tsq>Configure this if you use MetaTrader 4</label>
                    </div>
                    <div class="folder-line">
                        <label class="sqn-label" tsq>Path to MetaTrader4</label>
                        <input type="text" class="sqn-input" ng-model="broker.mt4Path" readonly="1" />
                        <a ng-click="onSelectInstallFolder(true);" tsq>Select</a>
                    </div>
                    <div class="folder-line">
                        <label class="sqn-label" tsq>MetaTrader4 Experts Data Folder</label>
                        <input type="text" class="sqn-input" ng-model="broker.mt4DataPath" readonly="1" />
                        <a ng-click="onSelectDataFolder(true);" tsq>Select</a>
                    </div>
                </div>
                <div class="platform-config" ng-if="broker.supportsMT5 && (configToShow == 'MT5' || configToShow == 'all')">
                    <div class="folder-line title" ng-show="configToShow == 'all'">
                        <label class="sqn-label" tsq>Configure this if you use MetaTrader 5</label>
                    </div>
                    <div class="folder-line">
                        <label class="sqn-label" tsq>Path to MetaTrader5</label>
                        <input type="text" class="sqn-input" ng-model="broker.mt5Path" readonly="1" />
                        <a ng-click="onSelectInstallFolder(false);" tsq>Select</a>
                    </div>
                    <div class="folder-line">
                        <label class="sqn-label" tsq>MetaTrader5 Experts Data Folder</label>
                        <input type="text" class="sqn-input" ng-model="broker.mt5DataPath" readonly="1" />
                        <a ng-click="onSelectDataFolder(false);" tsq>Select</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSaveConfig()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>