.simple-notification-settings .sqn-label {
    width: 150px;
}

.simple-notification-settings .notification-checkbox {
    margin-left: 8px;
    margin-right: 8px;
}

.simple-notification-settings .simple-build-settings label.help {
    margin-left: 29px;
}