<!-- Modal window-->
<div class="modal modal-onefield" id="renameDatabankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq>Rename databank</tsq> '{{databankName}}'
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <label class="sqn-label" id="renameDBNameInput">
                        <tsq>New databank name</tsq>
                        <input type="text" class="sqn-input" ng-model="newDatabank.name" />
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onRename()" tsq>Rename</button>
            </div>
        </div>
    </div>
</div>