<div id="results-trade-analysis-container" class="flex-container">
    <div class="toolbar">
        <results-toolbar on-filter-change='onFilterChange' instance='toolbar' key="trade-analysis" ext-sample-type="true">
            <!-- Trade period by -->
            <label tsq>Period by</label>
            <div class="btn-group">
                <button ng-click="filter.period=1; print();" type="button" class="btn btn-default"
                    ng-class="{active: filter.period==1}" tsq>Open Time</button>
                <button ng-click="filter.period=2; print();" type="button" class="btn btn-default"
                    ng-class="{active: filter.period==2}" tsq>Close Time</button>
            </div>
        </results-toolbar>
    </div>
    <div class="flex-expand trade-analysis-result">
        <div class="padded-scroll trade-analysis-wrapper">
            <div class="fixed-panel">
                <div class="annual-stats-grid-wrapper">
                    <div id="annualStatsGrid" class="annual-stats-grid"></div>
                </div>
                <trade-analysis-panel instance="instanceFixedChart" class="trade-analysis-panel fixed-chart" width="500"
                    height="180"></trade-analysis-panel>
            </div>

            <div class="trade-analysis-panels">
                <div ng-repeat="instance in instances track by $index">
                    <trade-analysis-panel instance="instance" types="types" class="trade-analysis-panel" width="350"
                        height="160"></trade-analysis-panel>
                </div>
            </div>
        </div>
    </div>
</div>