.simple-build-settings {
    position: relative;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 0;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    padding: 10px 15px;
    border-top: 1px solid #e8e8e8;
}

.simple-build-settings div.settings-predefined-configs {
    position: absolute;
    top: 7px;
    right: 7px;
}

.simple-build-settings .settings-title {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #555555;
}

.simple-build-settings .settings-title a {
    font-weight: 400;
    margin-left: 8px;
    font-size: 12px;
}

.simple-build-settings .setting-row {
    display: inline-flex;
    width: 100%;
    margin-bottom: 4px;
}

.simple-build-settings .setting-row .btn-group {
    margin: 0;
}

.simple-build-settings .setting-row .btn-group button {
    padding: 0px 6px;
}

.simple-build-settings .setting-row .btn-group button {
    margin-top: 0;
}

.simple-build-settings .setting-row .pull-right {
    display: inline-flex;
}

.simple-build-settings .sqn-label.fixed-width {
    min-width: 115px;
    margin-left: 0;
    padding-left: 9px;
}

.simple-build-settings .sqn-label.gray-label {
    margin-left: 0;
    padding-left: 0;
    color: #777777;
}

.simple-build-settings .setting-row.strategy-type {
    display: block;
    text-align: left;
}

.simple-build-settings .setting-row.strategy-type.help {
    min-height: 40px;
    max-height: 40px;
    text-align: left;
    margin-left: 9px;
    margin-right: 9px;
}

.simple-build-settings .setting-row.strategy-type label {
    font-size: 12px;
    font-weight: normal;
    color: #888888;
}

.simple-build-settings .setting-row.strategy-quality .sqn-label {
    flex: 1 1 auto;
}

.simple-build-settings .setting-row.strategy-quality label.symbol {
    width: 20px;
    padding-left: 8px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    line-height: 24px;
}

.simple-build-settings .setting-row.strategy-quality .sqn-spinner {
    width: 116px;
}

.simple-build-settings .setting-row.strategy-quality-2 .sqn-spinner {
    width: 76px;
}

.simple-build-settings .toolbar .btn-group>button {
    padding: 0px 10px;
    height: 25px;
}

.simple-build-settings .setting-row .settings-group {
    background-color: transparent;
}

.simple-build-settings label.help {
    color: #777777;
    font-weight: normal;
    margin: 0 9px;
    font-style: italic;
}

.simple-build-settings div.row.databank {
    margin-top: -15px;
    margin-bottom: 6px;
}

.simple-build-settings div.row.databank .sqn-input {
    margin-left: 2px;
}


.simple-build-settings .setting-row.build-options {
    max-width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.auto-calibration .sqn-label {
    margin-top: 4px;
    padding-left: 41px;
}