<div class="data-manager-data">
	<div class="datamanager-help" ng-bind-html="tab.help | tsq"></div>

	<div class="toolbar">
		<search-filter filter="filter" style="display:inline-block;" filter-id="datamanaget-instruments-filter" />
		<div class="sqn-input sqn-select">
			<span ng-bind="getDataTypeLabel()"></span>
			<select ng-model="filter.dataType" ng-options="item.value as (item.name | tsq) for item in dataTypes" ng-change="filter.onSearch()"
			 onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" id="datamanager-instruments-datatypes-select">
				<option value="" tsq>All data types</option>
			</select>
		</div>
		<div class="sqn-input sqn-select">
			<span ng-bind="getBrokerProfileLabel()"></span>
			<select ng-model="filter.brokerId" ng-options="item.id as (item.name | tsq) for item in brokerProfiles" ng-change="filter.onSearch()" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" id="datamanager-instruments-brokers-select">
				<option value="" tsq>All broker profiles</option>
			</select>
		</div>
	</div>

	<div id="instrumentsGrid" style="overflow: hidden;position:absolute;width:100%;height:100%;"></div>

</div>

<div ng-include="'../../../plugins/DataManagerInstruments/views/addInstrumentPopup.html'"></div>
<div ng-include="'../../../plugins/DataManagerInstruments/views/massEditInstrumentPopup.html'"></div>