<div class="simple-build-settings simple-autoretest-settings" ng-class="{'disabled-panel': $root.project.state == projectStates.running || $root.project.state == projectStates.paused}">
    <div class="disabled-area-placeholder">
        <i class="fa fa-lock" title="Setting changes locked, they will be applied next time you start the project."></i>
    </div>

    <label class="settings-title" tsq>Clear selected databanks</label>
    <div tsq>All strategies inside selected databanks will be removed.</div><br />

    <div class="row" ng-repeat="databank in config.databanks track by $index">
        <div class="col-sm-12">
            <div class="sqn-input sqn-select">
                <span ng-bind="getDatabankTitle(databank)"></span>
                <select ng-model="databank" ng-options="item.name as item.title for item in availableDatabanks" onFocus="sqnSelectFocus(this)"
                    onBlur="sqnSelectBlur(this)" ng-change="onSave($index,databank)"></select>
            </div>
            <button class="sq-oos-btn-close" ng-click="onRemoveDatabank($index)"></button>
        </div>
    </div>

    <br>

    <button class="btn btn-default" ng-click="onAddDatabank()" tsq>Add databank</button><br /><br />
</div>