<div class="cross-checks">

    <fieldset class="sq-fieldset">
        
        <div class="pull-right" style="margin-top: -50px; margin-right: -12px;">
            <button class="btn btn-default" ng-click="onLoadCrossChecks()"><i class="fa fa-folder-open-o" aria-hidden="true"></i></button>
            <button class="btn btn-default" ng-click="onSaveCrossChecks()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
        </div>

        <div class="sq-checkbox disable-all-checkbox">
            <input type="checkbox" ng-model="config.disabled" ng-change="settingsChanged()" id="cc-config-disabled-all" />
            <label class="sqn-label" for="cc-config-disabled-all"></label>
            <label class="sqn-label" ng-click="config.disabled = !config.disabled; settingsChanged()" tsq>Disable all cross checks</label>
        </div>

        <div class="sq-checkbox independent-checkbox" ng-show="isRetester">
            <input type="checkbox" ng-model="config.evaluateAll" ng-change="settingsChanged()" id="cc-run-crosschecks-independently"
                ng-disabled="config.disabled" />
            <label class="sqn-label" for="cc-run-crosschecks-independently"></label>

            <div ng-click="config.evaluateAll = !config.evaluateAll; settingsChanged()">

                <tsq>Run all crosschecks independently from crosscheck filters failure</tsq>
                <br>
                <tsq>If turned off (default), when crosscheck filter on strategy fails no further crosschecks are evaluated.</tsq>
                <br>
                <tsq>If turned on, ALL crosschecks will be performed for strategy, even if some of cross checks don't pass the
                    filtering.
                </tsq>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="cross-check titles">
            <div class="sq-checkbox">
                <legend tsq>Basic (fast)</legend>
            </div>
            <div>
                <legend tsq>Cross Check Settings</legend>
            </div>
            <div ng-hide="isRetester">
                <legend tsq>Filters</legend>
            </div>
        </div>

        <div class="cross-check-desc" tsq>
            These cross checks require none or only one additional backtest, so they are fast.
        </div>

        <cross-check ng-repeat="crosscheck in config.crosschecks | filter: { type: 0 }" ng-class="{'last':$last}" crosscheck="crosscheck" license="license"
        />

        <div class="cross-check titles">
            <div class="sq-checkbox">
                <legend tsq>Standard (slow)</legend>
            </div>
            <div>
                <legend></legend>
            </div>
            <div>
                <legend></legend>
            </div>
        </div>

        <div class="cross-check-desc" tsq>
            Cross checks that require multiple additional backtests, thus multiplying the time of processing the whole strategy.
        </div>

        <cross-check ng-repeat="crosscheck in config.crosschecks | filter: { type: 1 }" ng-class="{'last':$last}" crosscheck="crosscheck" license="license"
        />


        <div class="cross-check titles">
            <div class="sq-checkbox">
                <legend tsq>Extensive (slowest)</legend>
            </div>
            <div>
                <legend></legend>
            </div>
            <div>
                <legend></legend>
            </div>
        </div>

        <div class="cross-check-desc" tsq>
            Walk-Forward process is very slow, it requires tens or even hundreds of repeated backtests of the strategy in different time ranges and settings.
        </div>

        <cross-check ng-repeat="crosscheck in config.crosschecks | filter: { type: 2 }" ng-class="{'last':$last}" crosscheck="crosscheck" license="license"
        />

    </fieldset>

</div>

<div ng-include="'../../../plugins/SettingsCrossChecks/crossCheckSettingsDialog.html'"></div>