.robustnessTest .radio label {
    padding-left: 0;
    margin-left: 0;
    width: 140px;
}

.robustnessTest .radio input {
    vertical-align: -3px;
}

.robustnessTest .radio.robustness-use label {
    margin-left: 10px;
    font-size: 13px;
    color: #333333;
}

.robustnessTest .sqn-label {
    width: 140px;
}

.robustnessTest .sqn-spinner {
    width: 140px;
}

.robustnessTest .sq-fieldset>.radio {
    margin-left: 9px;
}

.robustnessTest #settings-gridrt {
    width: 100% !important;
}

@media only screen and (max-width: 1200px) {
    .robustnessTest #settings-gridrt {
        margin-bottom: 16px;
    }
}

.cross-checks a {
    float: right;
    color: #67676e;
    font-size: 14px;
    position: relative;
    right: -15px;
}

.cross-checks .sq-checkbox {
    display: inline-block;
}

.cross-checks .sq-checkbox input[type=checkbox]+label {
    margin-left: 0;
    padding-left: 50px;
    font-size: 12px;
}

.cross-check-line {
    height: 2px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #f2f0f0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cross-checks .last .col-sm-12 .cross-check-line {
    display: none;
}

.cross-check-info {
    color: #555555;
    cursor: pointer;
}

.cross-check-info .cross-check-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

.disabled .sq-checkbox input[type=checkbox]:checked+label {
    background-image: url(../../img/sq-switch-disabled.png);
}

.sq-checkbox input[type=checkbox]:disabled:checked+label {
    background-image: url(../../img/sq-switch-disabled.png);
}

#crossCheckSettingsModal .sq-fieldset {
    margin: 15px;
    overflow: visible;
}

.cross-retest-precision .sqn-label {
    width: 140px;
    vertical-align: top;
}

.cross-retest-precision .sqn-input {
    margin-bottom: 10px;
}

.cross-retest-precision .col-sm-5 .sqn-label {
    width: 150px;
    text-align: right;
}

.cross-retest-precision .col-sm-6 .sqn-label {
    width: 190px;
    text-align: right;
}

.cross-retest-precision .col-sm-6 .label-check-wrapper{
    width: 190px;
    text-align: right;
    display: inline-block;
    margin-left: 9px;
}

.cross-retest-precision .col-sm-6 .label-check-wrapper>.sqn-label{
    width: auto;
    position: relative;
    top: -4px;    
}

.cross-retest-precision .col-sm-6 .label-check-wrapper>.sq-checkbox{
    display:inline-block;
}

.cross-retest-precision .col-sm-5 .sqn-spinner {
    width: 80px;
}

.cross-retest-precision .col-sm-5 .sqn-spinner .sqn-input {
    width: 100%;
}

.cross-retest-precision .col-sm-5 .sqn-input {
    width: 80px;
}

.cross-retest-precision .col-sm-6 .sqn-spinner {
    width: 80px;
}

.cross-retest-precision .col-sm-6 .sqn-spinner .sqn-input {
    width: 100%;
}

.cross-retest-precision .col-sm-6 .sqn-input {
    width: 80px;
}

.cross-retest-precision .col-sm-12 .sqn-input {
    width: 240px;
}

.cross-retest-precision .col-sm-12 .sqn-select {
    width: 240px;
}

.cross-retest-precision .col-sm-7 .sqn-input {
    width: 240px;
}

.cross-retest-precision .col-sm-7:first-child .sqn-input {
    width: 150px;
}

.cross-monte-manipulation .sqn-label {
    vertical-align: top;
}

.cross-monte-manipulation .sqn-spinner {
    vertical-align: middle;
    margin-bottom: 10px;
}

.cross-monte-manipulation .gridbox {
    width: 470px !important;
}

.cross-monte-manipulation .sgPropertyGrid {
    width: 230px !important;
    max-height: 250px;
    overflow: auto;
}

.wfresult-sqn-label {
    margin-left: 0;
}

.cross-check-help {
    margin: 15px;
}

.cross-check {
    display: flex;
    padding-left: 5px;
}

.cross-check>div {
    color: #555555;
    min-height: 48px;
    overflow: hidden;
    margin-right: 11px;
    background-color: #f5f5f5;
    margin-bottom: 13px;
    padding: 6px 12px;
    padding-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    cursor: pointer;
    flex: 1 1 auto;
}

.cross-check>div:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.cross-check>div.sq-checkbox {
    flex: 0 0 33%;
}

.cross-check>div:last-child {
    flex: 0 0 140px;
    margin-right: 0;
}

.cross-check.titles {
    margin-top: 10px;
}

.cross-check.titles>div {
    min-height: 0;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    box-shadow: none;
    cursor: default;
}

.cross-check>div.titles:hover {
    box-shadow: none;
}

.cross-check legend {
    border: 0;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #555555;
    padding-left: 4px;
    padding-bottom: 4px;
    font-weight: 700;
}

.cross-check .nr {
    color: #555555;
    display: inline-block;
    width: 20px;
    margin-right: 0;
    margin-left: -20px;
    padding-top: 6px;
}

.cross-check .sq-checkbox .sqn-label {
    color: #555555;
    font-weight: 700;
}

.disable-all-checkbox {
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 15px;
    margin-right: -30px;
    padding-left: 12px;
    width: 33%;
    float: left;
}

.disable-all-checkbox.sq-checkbox label:last-child {
    padding-top: 0;
}

.independent-checkbox {
    margin-top: 8px;
    display: flex !important;
}

.simple-cross-check .disable-all-checkbox {
    float: right;
    width: auto;
    padding-left: 0;
    padding-right: 19px;
}

.simple-cross-check .disable-all-checkbox.sq-checkbox label {
    padding-top: 0;
    padding-right: 2px;
}

.cross-check-desc {
    padding-left: 9px;
    margin-bottom: 10px;
    color: #777777;
    font-style: italic;
}

.crosschecks-popup-filtering .sqn-select, .crosschecks-popup-filtering .sqn-spinner {
    width: 80px;
    display: inline-block;
    margin: 0 8px 10px 8px;
}

.crosschecks-popup-filtering .sqn-spinner {
    vertical-align: 5px;
}

#crossCheckSettingsModal .tabs-body {
    overflow: visible;
}

#crossCheckSettingsModal.modal .modal-body {
    overflow: visible;
}

#crossCheckSettingsModal .modal-dialog {
    min-width: 810px;
}