<span id="builderDataTab" class="settings-minimum-width">
    <chart-setup ng-if="config.setups.length" setup="config.setups[0]" main-setup="true"
        on-main-symbol-change="onMainSymbolChange(symbol)"
        on-main-dates-change="onMainDatesChange(dateFrom, dateTo, reset)"
        on-subcharts-change="onSubchartsChange(subchartCount)" />

    <fieldset class="sq-fieldset" ng-if="enableOOSSettings">
        <legend tsq>Data range parts</legend>

        <a class="link-button" ng-click="$root.openlink('https://strategyquant.com/article/training-validation-test-periods')" tsq>What is it?</a>
        <div class="oos-predefined-configs">
            <tsq>Most used configs</tsq>:
            <a class="oos-523" ng-click="setSampleConfig(1)" title="IST: 50, ISV: 20, OOS: 30"></a>
            <a class="oos-325" ng-click="setSampleConfig(2)" title="OOS: 30, ISV: 20, IST: 50"></a>
            <a class="oos-221221" ng-click="setSampleConfig(3)" title="IST: 20, ISV: 20, OOS:10, IST: 20, ISV: 20, OOS:10"></a>
            <a class="oos-isvfill" ng-click="setSampleConfig(4)" title="IST,ISV,IST,ISV,IST,ISV,IST,ISV,IST,ISV,IST,ISV,IST,ISV,IST,ISV,IST,ISV,IST,ISV,OOS:30"></a>
            <a class="oos-oosfill" ng-click="setSampleConfig(5)" title="IST,OOS,IST,OOS,IST,OOS,IST,OOS,IST,OOS,IST,OOS,IST,OOS,IST,OOS,IST,OOS,IST,OOS"></a>
        </div>

        <div class="oos-body">
            <div id="dataOOSComponent" class="oosComponent graph-hidden"></div>
            <a class="link-button" ng-click="config.oosGraphShown ? hideOOSGraph() : showOOSGraph()">
                <tsq ng-if="config.oosGraphShown">Hide chart</tsq>
                <tsq ng-if="!config.oosGraphShown">Show chart</tsq>
            </a>
        </div>
        <div class="oos-ranges">
            <div ng-repeat="range in config.oosRanges">
                <oos-range types="types" ranges="config.oosRanges" range-data="range" index="$index"
                    on-remove="removeOOSRange(index)" on-modify="modifyOOSRange(index, type, dateFrom, dateTo)"
                    bounds="oosBounds" reloading="reloading" />
                <label class="oos-range-perc">(<span ng-bind="oosPercents[$index]" />%)</label>
            </div>
            <div class="add-oos-line">
                <a class="link-button" ng-click="addOOSRange()">
                    <i class="fa fa-plus-circle data-plus-icon" aria-hidden="true" ng-click="showTFDropDown()"></i>
                    <tsq>Add new part</tsq>
                </a>
            </div>
        </div>
    </fieldset>
</span>