<div>
    <span ng-show="config.tasks.length<1" tsq>No tasks defined.</span>

    <fieldset class="sq-fieldset sq-fieldset-select-property" ng-show="config.tasks.length>0">					
        <legend tsq>When Conditions Below Are True</legend>

        <project-conditions conditions="config.conditions" instance="conditionsInstance" />
    </fieldset>

    <fieldset class="sq-fieldset sq-fieldset-select-property" ng-show="config.tasks.length>0">					
        <legend tsq>Then</legend>
        <div class="go-to-task-input">
            <label class="sqn-label" tsq>Go To Task</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getTaskLabel()"></span>
                <select ng-model="config.task" ng-options="item.taskName as item.taskTitle for item in config.tasks" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
            </div>
        </div>

        <div class="go-to-task-optionally">
            <tsq>and (optionally)</tsq>
            <div>
                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.resetEvaluatedCycles" id="goto-reset-evaluated-cycles" />
                    <label for="goto-reset-evaluated-cycles" class="sqn-label" tsq>Reset Number of EVALUATED cycles (when it is evaluated)</label>
                </div>
                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.resetActivatedCycles" id="goto-reset-activated-cycles" />
                    <label for="goto-reset-activated-cycles" class="sqn-label" tsq>Reset Number of ACTIVATED cycles (when it skips)</label>
                </div>
            </div>
        </div>
    </fieldset>
</div>