<div class="yellowBanner" ng-show="disabledForSpecialTrial" ng-bind="disabledForSpecialTrialTitle"></div>

<div class="pc-container">
    <div class="sqn-engine">
        <div class="engine-project-numbers control-panel">
            <div class="project-control-panel" ng-class="{'active':!startBtnEnabled}">
                <button id="buttonStop-37a" type="button" class="btn btn-default sq-btn-process sq-btn-stop" ng-click="stop()" ng-disabled="!stopBtnEnabled" id="pc-button-stop">
                    <i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                    <span tsq>Stop</span>
                </button>

                <button id="buttonStart-37c" type="button" class="btn btn-primary sq-btn-process sq-btn-start" ng-click="start(false)" ng-disabled="!startBtnEnabled || disabledForSpecialTrial" id="pc-button-start">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    <span tsq>Recompute portfolio</span>
                </button>
                <div style="float: right;">
                    <button id="buttonStart-37c-auto" type="button" class="btn btn-primary sq-btn-process sq-btn-start pc-button-start-auto" ng-click="start(true)" ng-disabled="!startBtnEnabled || disabledForSpecialTrial" id="pc-button-start-auto">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <span tsq>Automatic computation</span>
                    </button>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{progressPct}}%">{{progressPct}}%</div>
            </div>
            <div class="currentTaskDesc">
                <tsq>Task</tsq>: <span ng-bind="lastEvent"></span>
              </div>
        </div>        

        <pc-settings class="pc-settings" instance="settings"></pc-settings>
    </div>

    <pc-results class="pc-results" instance="results"></pc-results>
</div>