<!-- Modal window-->
<div class="modal modal-autoheight centered" id="CEExportPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Export extensions</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <div class="description" tsq>Select user files to be exported.</div>

                <div class="filter-row">
                    <input type="text" class="sqn-input pull-left" ng-model="filter.phrase" ng-change="onFilterChange()"
                        ng-model-options="{ debounce: 400 }" placeholder="Type here to filter" />
                    <div class="pull-right" ng-bind="filter.text"></div>
                </div>

                <div id="exportTree" ng-show="!emptyList"></div>
                <div ng-show="emptyList" class="no-user-files-message" tsq>There are no user files that could be exported.</div>

            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button class="btn btn-primary" ng-show="!emptyList" ng-click="onExport()" tsq>Export</button>
            </div>
        </div>
    </div>
</div>