<div class="modal no-enter" id="sqEquityDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Add SQ Equity Data</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <form name="sqEquityDataForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <div ng-show="!lookedup">
                            <legend>
                                <tsq>Find data by</tsq>
                            </legend>

                            <div class="row row-smaller sq-data-line">
                                <div class="col-sm-2 text-right">
                                    <tsq>Exchange</tsq>
                                </div>
                                <div class="col-sm-10">
                                    <div class="sqn-input sqn-select">
                                        <span ng-bind="getExchangeLabel()"></span>
                                        <select ng-model="config.exchange"
                                            ng-options="exchange.id as exchange.name for exchange in exchanges"
                                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-smaller sq-data-line">
                                <div class="col-sm-2 text-right"></div>
                                <div class="col-sm-4">
                                    <div class="sq-checkbox">
                                        <input type="checkbox" ng-model="config.searchInTicker">
                                        <label ng-click="config.searchInTicker=!config.searchInTicker" tsq>Search in
                                            ticker</label>
                                    </div>
                                    <div class="sq-checkbox">
                                        <input ng-disabled="!config.searchInTicker" type="checkbox" ng-model="config.exact">
                                        <label ng-click="config.exact=!config.exact" tsq>Exact match</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="sq-checkbox">
                                        <input type="checkbox" ng-model="config.searchInName">
                                        <label ng-click="config.searchInName=!config.searchInName" tsq>Search in
                                            name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-smaller">
                                <div class="col-sm-2 text-right">
                                    <tsq>Search text</tsq>
                                </div>
                                <div class="col-sm-10">
                                    <textarea ng-model="config.symbols" style="height: 200px; width: 100%"></textarea>
                                    <div class="sq-data-help">
                                        <tsq>You can enter multiple symbols separated by comma, semicolon or new line.
                                        </tsq>
                                        <br>
                                        <tsq>for example: AAPL, Microsoft, Amazon</tsq>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary" ng-click="onLookup()"
                                            tsq>Lookup</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />

                            <div class="row row-smaller">
                                <div class="col-sm-2 text-right">
                                    <tsq>Data availability</tsq>
                                </div>
                                <div class="col-sm-10">
                                    <div class="sq-data-availability-line" ng-show="subscription.eodSubscriptionActive">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <tsq>End of Day data subscription active</tsq>
                                    </div>
                                    <div class="sq-data-availability-line"
                                        ng-show="!subscription.eodSubscriptionActive">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        <tsq>End of Day data subscription not active</tsq>
                                        <a ng-click="$root.openlink('https://strategyquant.com/data-subscription')"
                                            tsq>Subscribe</a>
                                    </div>
                                    <div class="sq-data-availability-line"
                                        ng-show="subscription.minuteSubscriptionActive">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <tsq>Intraday (M1) data subscription active</tsq>
                                    </div>
                                    <div class="sq-data-availability-line"
                                        ng-show="!subscription.minuteSubscriptionActive">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        <tsq>Intraday (M1) data subscription not active</tsq>
                                        <a ng-click="$root.openlink('https://strategyquant.com/data-subscription')"
                                            tsq>Subscribe</a>
                                    </div>
                                    <div class="sq-data-availability-line"
                                        ng-show="!subscription.eodSubscriptionActive || !subscription.minuteSubscriptionActive">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <tsq>Data available without subscription:</tsq> {{subscription.freeEquities}}
                                    </div>
                                </div>
                            </div>

                            <div ng-show="!subscription.eodSubscriptionActive || !subscription.minuteSubscriptionActive">
                                <img src="https://cdn.strategyquant.com/images/data_subscription_banner.png"
                                    width="728" height="90"
                                    ng-click="$root.openlink('https://strategyquant.com/data-subscription')" />
                            </div>
                        </div>

                        <div ng-show="lookedup">
                            <button type="button" class="btn btn-primary" ng-click="searchAgain()" tsq>&lt; Search
                                again</button>
                            <div class="sq-data-help">
                                <tsq>Choose from the found symbols below the ones that you want to add</tsq>
                                <div class="pull-right">
                                    <tsq>Found</tsq>: {{tickers.length}}, <tsq>selected</tsq>: {{tickersSelected}}
                                </div>
                            </div>

                            <div id="sqEquityDataGrid" style="height: 280px"></div>
                            <br />


                            <div class="row row-smaller sq-data-line sq-data-details-line">
                                <div class="col-sm-5">
                                    <legend>
                                        <tsq>Data details</tsq>
                                    </legend>
                                    <label class="sqn-label">
                                        <tsq>Name postfix</tsq>
                                    </label>
                                    <input type="text" class="sqn-input" ng-model="config.postfix" />
                                </div>
                                <div class="col-sm-7">
                                    <legend>
                                        <tsq>Bar type</tsq>
                                    </legend>
                                    <div class="radio">
                                        <label class="sq-wradio">
                                            <input type="radio" name="sqEquityBarType" ng-model="config.barType"
                                                ng-value="barDataTypes.startOfBar" id="optionsRadios1" />
                                            <span class="sq-mark"></span>
                                            <tsq>Timestamp is start of bar time (MetaTrader, Dukascopy, forex
                                                data)</tsq>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="sq-wradio">
                                            <input type="radio" name="sqEquityBarType" ng-model="config.barType"
                                                ng-value="barDataTypes.endOfBar" id="optionsRadios2" />
                                            <span class="sq-mark"></span>
                                            <tsq>Timestamp is end of bar time (NinjaTrader, Tradestation,
                                                futures data)</tsq>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <legend>
                                <tsq>Data timezone</tsq>
                            </legend>

                            <div class="clearfix"></div>

                            <div class="radio">
                                <label class="sq-wradio">
                                    <input type="radio" name="EquityTimezoneTypeRadio" ng-value="2"
                                        ng-model="config.timezoneType" />
                                    <span class="sq-mark"></span>
                                    <tsq>Exchange (default)</tsq>
                                </label>
                            </div>

                            <div class="radio">
                                <label class="sq-wradio" style="display: inline-block;">
                                    <input type="radio" name="EquityTimezoneTypeRadio" ng-value="0"
                                        ng-model="config.timezoneType" />
                                    <span class="sq-mark"></span>
                                    <tsq>add fixed shift</tsq>
                                </label>
                                &nbsp;&nbsp;
                                <div class="sqn-spinner" style="width: 100px;">
                                    <input type="text" class="sqn-input" min="-23" step="1" max="23"
                                        ng-model="config.timezoneShift" onFocus="sqnSpinnerFocus(this)"
                                        onBlur="sqnSpinnerBlur(this)" ng-disabled="config.timezoneType!=0" />
                                    <div class="sqn-spinner-btns">
                                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                    </div>
                                </div>
                                &nbsp;
                                <tsq>hours</tsq>
                            </div>

                            <div class="radio">
                                <label class="sq-wradio" style="display: inline-block;">
                                    <input type="radio" name="EquityTimezoneTypeRadio" ng-value="1"
                                        ng-model="config.timezoneType" />
                                    <span class="sq-mark"></span>
                                    <tsq>choose timezone</tsq>
                                </label>
                                &nbsp;&nbsp;
                                <div class="sqn-input sqn-select" style="width: 380px;">
                                    <span ng-bind="getTimezoneLabel()"></span>
                                    <select ng-model="config.timezone"
                                        ng-options="item.value as item.name for item in timezones"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                        onChange="sqnSelectChange(this)" ng-disabled="config.timezoneType!=1"></select>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <div class="sq-checkbox">
                        <input type="checkbox" ng-model="agreedConditions">
                        <label ng-click="agreedConditions=!agreedConditions" tsq>I confirm that I agree to</label>
                        <a ng-click="$root.showPopup('#equityDataUsageConditions')" tsq>StrategyQuant Data Usage
                            Conditions</a>
                    </div>
                </div>

                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onAdd(sqEquityDataForm)"
                    ng-show="tickers.length>0" tsq>Add</button>
            </div>
        </div>
    </div>
</div>

<div ng-include="'../../../plugins/DataSourceSQEquityData/add/dataUsageConditionsPopup.html'" />