.manage-views-btn i {
    color: #555555;
    font-size: 16px;
    vertical-align: -2px;
    margin-left: 6px;
    cursor: pointer;
}

#tradesGrid td {
    position: relative;
}

#tradesGrid td.chart-data {
    cursor: pointer;
}

#tradesGrid td.chart-data::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(../../img/chart-data.png);
}

#tradesGrid td.no-chart-data::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(../../img/no-chart-data.png);
}

.tradelist button.export {
    margin-top: 0;
    height: 22px;
    line-height: 1;
}

.includeExpiredDiv{
    display: flex;
    width: fit-content;
    margin-top: -22px;
    margin-left: 570px;
}

.includeExpiredDiv{
    margin-left: 1150px !important;
}

.sample-type-selector .sample-type-btn-name{
    width: unset !important;
}

.sample-type-selector .sample-type-btn-name{
    overflow: hidden !important;
}