<div id="results-trade-list-container" class="flex-container tradelist">
    <results-toolbar on-filter-change='onFilterChange' instance="toolbar" key="trade-list" ext-sample-type="true">
        <span class="pull-right" ng-show="!isMTAnalyzer">
            <label style="padding-right: 5px;" tsq>View</label>
            <div class="sq-input sq-input-select">
                <div class="sq-input-select-overlay">
                    <span>{{view.selected.name}}</span>
                    <select ng-options="view as view.name for view in views" ng-model="view.selected" ng-change="onViewChange()" />
                </div>
            </div>
            <a ng-click="onManageViews()" class="manage-views-btn">
                <i class="fa fa-cog" aria-expanded="true" title="Manage"></i>
            </a>
        </span>
        <span class="pull-right" ng-show="!isMTAnalyzer && !isAlgoWizardCloud">
            <button class="btn btn-default export" ng-click="onExport()" tsq>Export</button>
        </span>

        <div class="includeExpiredDiv">
            <label tsq>Include expired</label>
            <div class="sq-checkbox">
                <input type="checkbox" ng-model="filter.expired" id="tradelist-expired"
                    ng-change="print()">
                <label for="tradelist-expired">
                </label>
            </div>
        </div>

    </results-toolbar>
    <div class="flex-expand">
        <div class="datagrid_container">
            <div id="tradesGrid" class="gridbox_compressed" style="width:100%;height:100%;"></div>
        </div>
    </div>
</div>