.cross-settings-wf .sq-fieldset .toolbar {
    display: inline-block;
    vertical-align: 0px;
}

.cross-settings-wf .sqn-label {
    width: 130px;
}

.cross-settings-wf .sqn-spinner {
    width: 100px;
}

.cross-settings-wf .sq-checkbox {
    display: inline-block;
    margin-right: 10px;
}

.cross-settings-wf .sq-checkbox label {
    margin-left: 0 !important;
}

.cross-settings-wf .sqn-select {
    width: 260px;
}

.cross-settings-wf .line .control-label {
    width: 150px;
}

.cross-settings-wf .sqn-select.max-optimizations {
    width: 250px;
}