<div id="results-portfolio-correlation-container" class="flex-container">
    <div class="flex-expand" ng-hide="isPortfolio">
        <label id="notPortfolioLabel" tsq>Strategy is not a portfolio.</label>
    </div>

    <div ng-show="isPortfolio" class="flex-expand flex-container">
        <div class="portfolio-corelation-topbar">
            <label class="sqn-label" tsq>Correlation by</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getPeriodLabel()"></span>
                <select ng-model="config.period" ng-options="item.value as (item.name | tsq) for item in periods" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
            </div>
            <label class="sqn-label" tsq>Correlation of</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getTypeLabel()"></span>
                <select ng-model="config.type" ng-options="item.value as (item.name | tsq) for item in types" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
            </div>

            <div class="checkbox">
                <input type="checkbox" ng-model="config.allowNegativeCorrelation" id="PCallowNegativeCorrelation" />
                <label for="PCallowNegativeCorrelation" tsq>Allow negative correlation</label>
            </div>

            <div class="checkbox">
                <input type="checkbox" ng-model="config.addEmptyPeriods" id="PCaddEmptyPeriods" />
                <label for="PCaddEmptyPeriods" tsq>Add empty periods</label>
            </div>
        </div>

        <div class="portfolio-corelation-computebar">
            <button type="button" class="btn btn-primary" ng-click="onCompute()" ng-show="!computing" style="width: 100px;" tsq>Compute</button>
            <button type="button" class="btn btn-primary" ng-click="onStop()" ng-show="computing" style="width: 100px;" tsq>Stop</button>

            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    style="width:{{progress}}%">{{progress}}%</div>
            </div>
        </div>

        <quant-tabs id="correlation-tabs" class="flex-expand" instance="mainTabs" translate-headers="true" />
    </div>
</div>