#notPortfolioLabel {
    width: 100%;
    position: absolute;
    top: 40px;
    text-align: center;
    font-weight: 400;
}

.portfolio-corelation-topbar {
    display: flex;
    padding-top: 10px;
}

.portfolio-corelation-topbar .checkbox {
    margin-top: 3px;
    margin-left: 33px;
}

.portfolio-corelation-topbar .checkbox label {
    padding-left: 0;
}

.portfolio-corelation-topbar .sq-input {
    width: 307px;
    margin-right: 50px;
}

.portfolio-corelation-topbar .sq-input:first-child {
    width: 189px;
    margin-right: 18px;
}

.portfolio-corelation-computebar {
    display: flex;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 11px;
}

.portfolio-corelation-computebar .progress {
    margin-top: 4px;
    max-width: 772px;
    flex: 1 1 auto;
}

.portfolio-corelation-computebar .btn {
    margin-right: 12px;
}

#correlation-tabs {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#correlation-tabs .tabs-body {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
}

#correlation-tabs .tabs-body>div {}

#correlation-tabs .tabs-body>div>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* 
.corelation-matrix {
    padding: 10px;
    display: flex;
    flex-direction: column;
} */

.corelation-matrix-image {
    height: 38px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(../../../img/correlation_label.gif);
    margin-left: -4px;
    width: 678px;
}

.corelation-top-panel {
    height: 38px;
    flex: 0 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#correlation-grid {
    flex: 1 1 auto;
}

#overlappingTradesPopup .modal-dialog {
    width: auto;
    max-width: 760px;
}

#correlation-tabs .sq-grid-cell a {
    display: block;
    margin: 0 -5px;
}

.btn.btn-default.btn-portfolio-save {
    position: relative;
    width: 29px;
    font-size: 0;
    margin-left: 5px;
    margin-top: 8px;
    float: right;
}

.btn.btn-default.btn-portfolio-save:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../img/icon_save.png);
    background-repeat: no-repeat;
    background-position: center center;
}