<div class="simple-build-settings save-to-files">
    
    <label class="settings-title" tsq>Save to files</label>

    <div class="clearfix"></div>

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.overwrite" ng-change="settingsChanged()" id="save-to-files-overwrite-simple" />
        <label for="save-to-files-overwrite-simple" tsq>Overwrite existing files</label>
    </div>

    <br>

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.saveInSqxFormat" ng-change="settingsChanged()" id="save-to-files-sqx-simple" />
        <label for="save-to-files-sqx-simple" tsq>Save in SQX format</label>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directorySqx" readonly="1" ng-attr-title="{{config.directorySqx}}" ng-disabled="!config.saveInSqxFormat" />
        <a ng-click="openFilePicker('SaveToFilesSqx')" tsq>Browse</a>
    </div>

    <br />

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.saveInStrFormat" ng-change="settingsChanged()" id="save-to-files-str-simple" />
        <label for="save-to-files-str-simple" tsq>Save in STR (SQ3) format</label>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directoryStr" readonly="1" ng-attr-title="{{config.directoryStr}}"  ng-disabled="!config.saveInStrFormat" />
        <a ng-click="openFilePicker('SaveToFilesStr')" tsq>Browse</a>
    </div>

    <br />

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.exportDatabank" ng-change="settingsChanged()" id="export-databank-simple" />
        <label for="export-databank-simple" tsq>Export databank contents</label>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directoryDatabank" readonly="1" ng-attr-title="{{config.directoryDatabank}}" ng-disabled="!config.exportDatabank" />
        <a ng-click="openFilePicker('SaveToFilesDatabank')" tsq>Browse</a>
    </div>

    <br />

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.exportTrades" ng-change="settingsChanged()" id="export-trades-simple" />
        <label for="export-trades-simple" tsq>Export trades</label>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directoryTrades" readonly="1" ng-disabled="!config.exportTrades" ng-attr-title="{{config.directoryTrades}}" />
        <a ng-click="openFilePicker('SaveToFilesTrades')" tsq>Browse</a>
    </div>

    <br>

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.saveInHtmlFormat" ng-change="settingsChanged()" id="save-to-files-html-simple" />
        <label for="save-to-files-html-simple" tsq>Save in HTML format</label>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directoryHtml" readonly="1" ng-attr-title="{{config.directoryHtml}}" ng-disabled="!config.saveInHtmlFormat" />
        <a ng-click="openFilePicker('SaveToFilesHtml')" tsq>Browse</a>
    </div>

    <br>

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.saveInPdfFormat" ng-change="settingsChanged()" id="save-to-files-pdf-simple" />
        <label for="save-to-files-pdf-simple" tsq>Save in PDF format</label>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directoryPdf" readonly="1" ng-attr-title="{{config.directoryPdf}}" ng-disabled="!config.saveInPdfFormat" />
        <a ng-click="openFilePicker('SaveToFilesPdf')" tsq>Browse</a>
    </div>

    <br>

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.saveSourceCode" ng-change="settingsChanged()" id="save-to-files-sc-simple" />
        <label for="save-to-files-sc-simple" tsq>Save Source code</label>

        <div class="sqn-input sqn-select source-code-select">
            <span ng-bind="config.generator | tsq"></span>
            <select ng-model="config.generator" ng-options="item.name as (item.name | tsq) for item in config.generators" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
        </div>
    </div>

    <div class="task-load-save-line">
        <input type="text" class="sqn-input" ng-model="config.directorySC" readonly="1" ng-attr-title="{{config.directorySC}}" ng-disabled="!config.saveSourceCode" />
        <a ng-click="openFilePicker('SaveToFilesSC')" tsq>Browse</a>
    </div>

    <br>

    <div class="filtering-input filtering-input-load-save">
        <label class="sqn-label task-file-label" tsq>from databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.databank}}</span>
            <select ng-model="config.databank" ng-options="item.name as item.name for item in config.availableDatabanks"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
        </div>
    </div>


</div>