#buildTypeContent .fileComboInput {
  width: 350px;
  margin: -3px 0 0px 10px;
}

#buildTypeContent .fileComboInput input {
  text-align: left;
}

#buildTypeContent .browse-button {
  margin-top: 0;
}

#buildTypeContent .browse-button .fa-refresh {
  margin-right: 5px;
}

#buildTypeContent p {
  padding-left: 20px;
  color: #777777;
  font-style: italic;
}

#buildTypeContent #additionalChartsInput {
  margin: 0 6px;
  width: 60px;
}

#buildTypeContent #multiTFText {
  padding-left: 20px;
  margin-bottom: 10px;
  color: #777777;
  font-style: italic;
}

#buildTypeContent .link-button {
  margin-left: 5px;
  margin-top: 30px;
  display: block;
  font-weight: 400;
  font-size: 13px;
}

#buildTypeContent .link-button:hover {
  text-decoration: underline;
  color: #207ace;
}

#buildTypeContent #directionsFieldset .row {
  margin-bottom: 10px;
  white-space: nowrap;
}

#additionalConfigPopup .modal-dialog {
  width: 700px;
}

#additionalConfigPopup .modal-body {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#additionalConfigPopup .help-panel {
  padding-top: 0px;
  margin-bottom: 10px;
}

#additionalConfigPopup .setting {
  display: inline-flex;
  text-align: right;
}

#additionalConfigPopup .setting label {
  font-weight: 400;
}

#additionalConfigPopup .config-input {
  width: 80px;
  margin-left: 10px;
  margin-top: -2px;
  margin-bottom: 10px;
}

#additionalConfigPopup .empty {
  width: 114px;
  height: 30px;
}

#additionalConfigPopup .labels-col > label {
  font-weight: 400;
  color: #555555;
  width: 100%;
  height: 25px;
}

#additionalConfigPopup .complexity-internal .col:first-child {
  padding-left: 4px;
}

#additionalConfigPopup .complexity-internal .col:last-child {
  padding-right: 0;
}

#additionalConfigPopup .fuzzy-settings {
  margin-left: 25px;
  margin-bottom: -10px;
}

#additionalConfigPopup .fuzzy-settings .setting {
  margin-left: 20px;
}

.modal#additionalConfigPopup .sq-fieldset {
  padding-bottom: 0;
}

.modal#additionalConfigPopup .sq-fieldset legend {
  margin-bottom: 12px;
}

.modal#additionalConfigPopup .sq-fieldset:last-child {
  margin-bottom: 0;
}

#buildTypeContent .checkbox,
#buildTypeContent .radio {
  margin-bottom: 20px;
}

#buildTypeContent .strategy-directions .radio {
  margin-bottom: 0;
}

#buildTypeContent .input-checkbox {
  margin-left: 42px;
}

#buildTypeContent .input-checkbox label {
  line-height: 12px;
  margin-left: 7px;
  padding-left: 0;
}

#buildTypeContent .sq-fieldset:first-child .radio > label {
  font-size: 13px;
  color: #333333;
}

#buildTypeContent .strategy-template,
#buildTypeContent .strategy-directions {
  display: flex;
}

#buildTypeContent .improve-radio {
  margin-top: -20px;
  margin-bottom: 12px;
}

#buildTypeContent .improve-choice {
  display: flex;
  margin: 0px 0px 8px 45px;
}

#buildTypeContent .setting-last-padded {
  margin-left: 20px;
}

.hidden-element {
  visibility: hidden;
}

.additional-build-config-wrapper {
  margin-bottom: 14px;
}

.additional-build-config-section .additional-build-config-row {
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #f2f0f0;
  display: flex;
}

.additional-build-config-section:first-child
  .additional-build-config-row:first-child {
  border-top: 0;
}

.additional-build-config-section:last-child {
  border-bottom: 1px solid #f2f0f0;
}

.additional-build-config-section .additional-build-config-row .title {
  width: 214px;
  padding: 0 3px;
  border-right: 1px solid #e5e5e5;
  flex: 0 0 auto;
}

.additional-build-config-section .additional-build-config-row .title .sqn-label {
  color: #555555;
}

.additional-build-config-section .additional-build-config-row .title a {
  float: right;
  color: #555555;
  font-size: 13px;
  margin-top: 3px;
  margin-right: 3px;
}

.additional-build-config-section .additional-build-config-row .title a.disabled, #buildTypeContent label.sq-wradio.disabled  {
  color: #aaa!important;
}

.additional-build-config-section .additional-build-config-row .description {
  flex: 1 1 auto;
  padding: 0 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#directionsFieldset > legend {
  margin-bottom: 4px !important;
}

div.col-sm-12.maxshift-warning {
  padding: 0px;
}

div.maxshift-warning > label {
  text-align: right;
  width: 100%;
  color: #de4b4b;
}
