.data-manager-log {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.data-manager-log-log {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.data-manager-log .log-container {
    border: 1px solid #e0e0e0;
    position: relative;
    margin-top: 10px;
    flex: 1 1 auto;
}

.data-manager-log .log-scroll-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    white-space: nowrap;
    overflow: auto;
    overflow-y: scroll;
    font-size: 11px;
    background-color: #ffffff;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.data-manager-log-queue {
    padding: 10px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    right: 0;
    height: 100%;
    position: absolute;
}

.data-manager-log-log a {
    float: right;
}

.data-manager-log-log .log-container, .data-manager-log-log .queue-container {
    flex: 1 1 auto;
    margin-top: 0px;
}

.data-manager-log-queue .queue-container {
    flex: 1 1 auto;
    overflow: auto;
}

.data-manager-log-queue .queue-item {
    background-color: #ffffff;
    border: 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    padding: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.data-manager-log-queue .queue-item table {
    width: 100%;
    border: 0;
    table-layout: fixed;
}

.data-manager-log-queue .queue-item table .grid-widget-progress-bar {
    display: inline-block;
}

.data-manager-log-queue .queue-item table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .data-manager-log-buttons .btn.btn-default {
    height: 22px;
    line-height: 21px;
    margin-top: -6px;
}

.data-manager-log-buttons .btn i {
    font-size: 16px;
    vertical-align: -2px;
    margin-right: 7px;
}

.data-manager-log-buttons .btn i.fa-pause-circle-o, .data-manager-log-buttons .btn i.fa-play-circle-o {
    color: #ff3e00;
}

.data-manager-log-buttons .btn i.fa-stop-circle-o {
    color: #ff0000;
}