<fieldset class="sq-fieldset">

    <div ng-repeat="complexity in config.complexities track by $index" ng-if="$index == 0 || config.useDifferentSettings">
        <legend>{{complexity.chartName}}
            <span>{{complexity.chartInfo}}</span>
        </legend>

        <div class="complexity-internal">
            <div class="col col-sm-6 labels-col">
                <label tsq>Conditions in entry rule</label>
                <label tsq>Conditions in exit rule (if enabled)</label>
                <label tsq>Global Indicators period</label>
                <label tsq>Global Lookback period (Shift)</label>
                <label ng-show="$index == 0" tsq>Number of Exit Types (SL/PT/etc...)</label>
            </div>

            <div class="col col-sm-3">
                <div class="setting pull-right">
                    <label><tsq>Min</tsq>: </label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="30" step="1" ng-model="complexity.minConditions"
                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right">
                    <label><tsq>Min</tsq>: </label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="30" step="1" ng-model="complexity.minExitConditions"
                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right">
                    <label><tsq>Min</tsq>:</label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="2" step="1" ng-model="complexity.minPeriod" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                        />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right empty">
                </div>
                <div class="setting pull-right empty" ng-show="$index == 0">
                    <!--
                    <label><tsq>Min</tsq>: </label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="30" step="1" ng-model="complexity.minExitTypes"
                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="setting pull-right">
                    <label><tsq>Max</tsq>:</label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="30" step="1" ng-model="complexity.maxConditions" onFocus="sqnSpinnerFocus(this)"
                            onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right">
                    <label><tsq>Max</tsq>:</label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="30" step="1" ng-model="complexity.maxExitConditions" onFocus="sqnSpinnerFocus(this)"
                            onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right">
                    <label class="setting-last-padded"><tsq>Max</tsq>:</label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="2" step="1" ng-model="complexity.maxPeriod" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                        />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right">
                    <label><tsq>Max</tsq>:</label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="1000" step="1" ng-model="complexity.maxShift" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                        />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="setting pull-right" ng-show="$index == 0">
                    <label><tsq>Max</tsq>:</label>
                    <div class="sqn-spinner config-input">
                        <input type="text" class="sqn-input" min="0" max="30" step="1" ng-model="complexity.maxExitTypes" onFocus="sqnSpinnerFocus(this)"
                            onBlur="sqnSpinnerBlur(this)" />
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 maxshift-warning">
            <label ng-show="complexity.maxShift > 10" tsq>
                Warning - it is highly recommended NOT to use Shift bigger than 10.<br>
                Indicator values that much in the past ussually tell nothing about the current market conditions.
            </label>
        </div>
    </div>

    <div class="sq-checkbox" ng-show="config.complexities.length > 1">
        <input type="checkbox" ng-model="config.useDifferentSettings" id="useDifferentSettings" ng-change="settingsChanged()"/>
        <label for="useDifferentSettings" tsq>Use different settings for every chart</label>
    </div>

</fieldset>