<fieldset class="sq-fieldset task-load-from-files">
    <legend tsq>Load from files</legend>

    <div class="clearfix"></div>

    <div class="task-load-save-line">
        <label class="sqn-label task-file-label" tsq>Directory</label>
        <input type="text" class="sqn-input" ng-model="config.directory" ng-attr-title="{{config.directory}}"
            readonly="1" />
        <a ng-click="openFilePicker()" tsq>Browse</a>
    </div>

    <div class="filtering-input filtering-input-load-save">
        <label class="sqn-label task-file-label" tsq>to databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.databank}}</span>
            <select ng-model="config.databank" ng-options="item.name as item.name for item in config.availableDatabanks"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
        </div>
    </div>

    <div class="sq-checkbox">
        <input type="checkbox" ng-model="config.includeSubdirectories" ng-change="settingsChanged()"
            id="load-from-files-subdirectories" />
        <label for="load-from-files-subdirectories" tsq>Include also subdirectories</label>
    </div>

    <div>
        <label tsq>What to do with unrecognized instrument</label><br>
        <tsq>If strategy contains unrecognized instrument SQ will be not able to determine its pip and point values,
            etc.</tsq>

        <div class="radio">
            <label class="sq-wradio">
                <input type="radio" name="LoadFilesNoInstrumentAction" ng-value="0" ng-model="config.noInstrumentAction"
                    ng-change="settingsChanged()" ng-class="{'checked': config.noInstrumentAction==0}" />
                <span class="sq-mark"></span>
                <tsq>Skip strategy</tsq>
            </label>
        </div>

        <div class="radio">
            <label class="sq-wradio">
                <input type="radio" name="LoadFilesNoInstrumentAction" ng-value="1" ng-model="config.noInstrumentAction"
                    ng-change="settingsChanged()" ng-class="{'checked': config.noInstrumentAction==1}" />
                <span class="sq-mark"></span>
                <tsq>Use instrument</tsq>
            </label>

            <div class="sqn-input sqn-select">
                <span ng-bind="config.instrument"></span>
                <select ng-model="config.instrument"
                    ng-options="item.instrument as item.instrument for item in instruments"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
        </div>
    </div>
</fieldset>