.spp-settings-wrapper {
    background-color: #F6F6F6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.spp-settings {
    display: flex;
    flex-direction: row;
    padding: 10px 8px;
}

.spp-settings .left-panel {
    flex: 0 0 500px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.spp-settings .left-panel .spp-box {
    padding: 11px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    transition: all 120ms cubic-bezier(.4, 0, .2, 1);
}

.spp-settings .left-panel .spp-box .help-text {
    margin-bottom: 14px;
    color: #888888;
    font-size: 12px;
}

.spp-settings .left-panel .spp-box .btn {
    display: block;
    width: 80px;
    margin: 16px auto 6px auto;
}

.spp-settings .right-panel {
    flex: 1 1 auto;
}

.spp-settings .left-panel #sppStatsGrid {
    height: 200px;
}

.spp-panel {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    transition: all 120ms cubic-bezier(.4, 0, .2, 1);
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
    color: #555555;
}

.spp-panel chartjs {
    margin-bottom: 6px;
}

.spp-panel .sqn-select {
    border: 1px solid transparent;
    background: transparent;
    width: 100%;
    text-align: center;
}

.spp-panel .sqn-select:hover {
    border: 1px solid #c1c1c1;
    background-color: #ffffff;
    background-image: url(../../../img/sq-select.png);
    background-repeat: repeat-y;
    background-position: right center;
}

.spp-panel .median-value {
    color: #E8383C;
}