<div class="simple-gototask-settings">

    <span ng-show="config.tasks.length<1" tsq>No tasks defined.</span>

    <div class="simple-build-settings" ng-show="config.tasks.length>0">
        
        <label class="settings-title" tsq>When Conditions Below Are True</label>

        <project-conditions conditions="config.conditions" instance="conditionsInstance" />
        
        <label class="settings-title" tsq>Then</label>
        <div class="go-to-task-input">
            <label class="sqn-label" tsq>Go To Task</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getTaskLabel()"></span>
                <select ng-model="config.task" ng-options="item.taskName as item.taskTitle for item in config.tasks" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onTaskChange()"></select>
            </div>
        </div>

        <div class="go-to-task-optionally">
            <tsq>and (optionally)</tsq>
            <div>
                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.resetEvaluatedCycles" id="simple-goto-reset-evaluated-cycles" />
                    <label for="simple-goto-reset-evaluated-cycles" class="sqn-label" tsq>Reset Number of EVALUATED cycles (when it is evaluated)</label>
                </div>
                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.resetActivatedCycles" id="simple-goto-reset-activated-cycles" />
                    <label for="simple-goto-reset-activated-cycles" class="sqn-label" tsq>Reset Number of ACTIVATED cycles (when it skips)</label>
                </div>
            </div>
        </div>
    </div>

</div>