.modal-autoheight.modal.in#yahooAddModal .modal-dialog {
    height: 90%;
    min-height: 380px;
    width: 900px;
}

.modal-autoheight.modal.in#yahooAddModal .modal-dialog .modal-body {
    display: flex;
    flex-direction: column;
}

#yahooAddModal #yahooDataGrid {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#yahooAddModal .yahoo-grid-wrapper {
    flex: 1 1 auto;
    margin: 0 20px;
    position: relative;
}

#yahooAddModal #yahooDataGrid tr.category>td:nth-child(2) {
    font-weight: bold;
    font-size: 12px;
    border-right: 0;
    overflow: visible;
}

#yahooAddModal #yahooDataGrid tr.category>td:nth-child(3) {
    border-right: 0;
}

#yahooAddModal .yahoo-filter {
    display: flex;
    margin: 10px 20px;
}

#yahooAddModal .yahoo-filter>.sqn-label {
    flex: 1 1 auto;
    text-align: right;
}

#dukasAddModal .yahoo-filter>.sqn-select {
    width: 184px;
}

#dukasAddModal .yahoo-filter #instSearchInput {
    width: 240px !important;
}

.yahoo-data-postfix {
    display: flex;
    margin: 20px 20px 0 20px;
}

.yahoo-data-postfix>label {
    width: 160px;
    margin-right: 0;
    flex: 0 0 auto;
}

.yahoo-data-postfix>div:last-child {
    flex: 1 1 auto;
}

.yahoo-data-postfix>div:last-child>label {
    font-weight: 400;
    display: block;
    margin-top: 4px;
    font-size: 11px;
    color: #777777;
}

#yahooAddModal .modal-body .flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

#yahooAddModal .modal-body .sq-fieldset {
    height: 100%;
    position: relative;
}

.yahoo-data-postfix:last-child {
    margin-top: 6px;
}

.yahoo-data-postfix .radio {
    margin-top: 0;
    margin-left: 0;
}

#yahooAddModal textarea {
    width: 100%;
    height: 300px;
}