<!-- Modal window-->
<div class="modal centered" id="additionalConfigPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-class="{'br-edition': isBrazilianEdition}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{activeSettings.setting}} <tsq>settings</tsq></h4>
            </div>
            <div class="modal-body" style="min-height: 310px;">
                <div ng-repeat="settingPlugin in settingsPlugins" ng-include="settingPlugin.templateUrl" ng-dynamic-controller="settingPlugin.controller"
                    ng-if="activeSettings.plugin.name == settingPlugin.name"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default sqn-btn-help" ng-click="onHelp()">
                    <span tsq>Help</span>
                </button>
                <a ng-click="onResetToDefault()" tsq>Reset to default</a>
                <a ng-click="onClose()" data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSaveAdditionalConfig()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>