<div class="simple-build-settings task-update-data">
    <label class="settings-title" tsq>Update data</label>
    <div class="clearfix"></div>

    <div class="radio">
        <label class="sq-wradio">
            <input type="radio" name="SimpleSettingsUpdateDataType" value="project" ng-model="config.type" ng-change="settingsChanged()" ng-class="{'checked': config.type=='project'}" />
            <span class="sq-mark"></span>
            <tsq>Update only data used in this project</tsq>
        </label>
    </div>

    <div class="radio">
        <label class="sq-wradio">
            <input type="radio" name="SimpleSettingsUpdateDataType" value="all" ng-model="config.type" ng-change="settingsChanged()" ng-class="{'checked': config.type=='all'}" />
            <span class="sq-mark"></span>
            <tsq>Update all data</tsq>
        </label>
    </div>
</div>