<!-- Modal window-->
<div class="modal modal-onefield" ng-class="{'modal-autoheight-blocked': resources.missingSymbols.length>10}"
    id="resolveCustomResourcesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" tsq>Resolve custom resources</h4>
            </div>
            <div class="modal-body" style="height: auto; max-height: 80vh;">
                <form name="newProjectForm" class="form-horizontal" role="form">
                    <div class="text-center"><label class="main-label" tsq>Undefined / different blocks found</label>
                    </div>

                    <div class="resources-table-header" ng-show="missingResources.length">
                        <div class="resources-row">
                            <div tsq>Block name</div>
                            <div tsq>Type</div>
                            <div tsq>Status</div>
                            <div tsq>Action</div>
                        </div>
                    </div>

                    <div class="resources-table-body" ng-show="missingResources.length">
                        <div class="resources-row" ng-repeat="resource in missingResources">
                            <div><span ng-bind="resource.name" /></div>
                            <div><span ng-bind="resource.type" /></div>
                            <div><span ng-bind="resource.statusText" /></div>
                            <div class="toolbar">
                                <div class="btn-group"
                                    ng-show="resource.type == 'snippet' || resource.type == 'customIndy'">
                                    <button class="btn btn-default" ng-class="{'active' : resource.action == 'ignore'}"
                                        tsq>Ignore</button>
                                </div>
                                <div class="btn-group"
                                    ng-show="(resource.type == 'customBlock' || resource.type == 'randomGroup') && resource.status == resourceStatuses.doesntExist">
                                    <button class="btn btn-default" ng-class="{'active' : resource.action == 'ignore'}"
                                        ng-click="resource.action = 'ignore'" tsq>Ignore</button>
                                    <button class="btn btn-default" ng-class="{'active' : resource.action == 'add'}"
                                        ng-click="resource.action = 'add'" tsq>Create</button>
                                </div>
                                <div class="btn-group"
                                    ng-show="(resource.type == 'customBlock' || resource.type == 'randomGroup') && resource.status == resourceStatuses.differs">
                                    <button class="btn btn-default"
                                        ng-class="{'active' : resource.action == 'useFromSQ'}"
                                        ng-click="resource.action = 'useFromSQ'" tsq>Use from SQ</button>
                                    <button class="btn btn-default"
                                        ng-class="{'active' : resource.action == 'useFromConfig'}"
                                        ng-click="resource.action = 'useFromConfig'" tsq>Use from loaded strategy</button>
                                </div>
                                <div class="btn-group"
                                    ng-show="(resource.type == 'customBlock' || resource.type == 'randomGroup') && resource.status == resourceStatuses.existsWithDifferentName">
                                    <span ng-bind="resource.differentName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a ng-click="onCancelImport()" tsq>Close</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onSubmit()" tsq>Continue
                    loading</button>
            </div>
        </div>
    </div>
</div>