<div class="optimization-profile-wrapper" id="results-optimization-profile-container">
  <div class="flex-container optimization-profile">
    <div class="optimization-profile-left">
      <div class="pct-profitable-optim">
        <b tsq>% of Profitable Optimizations</b>

        <table>
          <tr>
            <td>
              <tsq>Total optimizations</tsq>
              <span>{{simulations.total.count}}</span>
            </td>
            <td>{{simulations.total.pct}} %</td>
          </tr>
          <tr>
            <td>
              <tsq>Profitable optimizations</tsq>
              <span>{{simulations.profitable.count}}</span>
            </td>
            <td>{{simulations.profitable.pct}} %</td>
          </tr>
          <tr>
            <td>
              <tsq>Losing optimizations</tsq>
              <span>{{simulations.losing.count}}</span>
            </td>
            <td>{{simulations.losing.pct}} %</td>
          </tr>
          <tr>
            <td>
              <tsq>Zero profit (no trades ?) optimizations</tsq>
              <span>{{simulations.zero.count}}</span>
            </td>
            <td>{{simulations.zero.pct}} %</td>
          </tr>
          <tr>
            <td>
              <tsq>Check</tsq> - <tsq>more than</tsq> {{config.profitOptPct}} %
              <tsq>must be profitable </tsq>
              ({{checks.profitableOptPct}} %)
            </td>
            <td
              ng-class="getCheckResultClass(checks.profitableOptCheckResult)"
              ng-bind="getCheckResult(checks.profitableOptCheckResult)"
            ></td>
          </tr>
        </table>
      </div>

      <div class="perform-distr">
        <b tsq>Performance Distribution</b>
        <br />
        <chartjs instance="chart" width="500" height="200"></chartjs>
        <br />
        <b tsq>Checks</b>
        <table>
          <tr>
            <td>
              <tsq>Average profit</tsq> ($ {{checks.avgProfit}}) &gt; $
              {{config.avgProfit}}
            </td>
            <td
              ng-class="getCheckResultClass(checks.avgProfitCheckResult)"
              ng-bind="getCheckResult(checks.avgProfitCheckResult)"
            ></td>
          </tr>
          <tr>
            <td>
              <tsq>Uniform distribution</tsq> ({{checks.uniformDistrChanges}})
              &lt; {{config.uniformDistrChanges}} <tsq>changes</tsq>
            </td>
            <td
              ng-class="getCheckResultClass(checks.uniformDistrCheckResult)"
              ng-bind="getCheckResult(checks.uniformDistrCheckResult)"
            ></td>
          </tr>
          <tr>
            <td>
              <tsq>Best profit</tsq> ($ {{checks.topProfit}}) &lt;
              <tsq>Avg profit</tsq> + {{config.stdevAvgProfit}}
              <tsq>StdDev</tsq> ($ {{checks.stdev}})
            </td>
            <td
              ng-class="getCheckResultClass(checks.topProfitCheckResult)"
              ng-bind="getCheckResult(checks.topProfitCheckResult)"
            ></td>
          </tr>
        </table>
        <div class="customize-checks-level">
          <a ng-click="onCustomizeChecksLevel()" tsq>Customize checks level</a>
        </div>
      </div>
    </div>

    <div class="flex-expand">
      <div class="threed-chart">
        <b tsq>Optimization Chart</b>
        <div class="has-not-chart" ng-show="!hasChart" tsq>
          No data for 3D Optimization chart.<br /><br />
          This is default behavior, because 3D Chart data are huge and take a
          lot of memory and file size, and are usually not needed.<br /><br />
          You can enable saving 3D chart data in global Configuration (top right
          icon) in Optimization tab.
        </div>
        <div class="has-chart" ng-show="hasChart">
          <div class="optim-3dchart-parent">
            <div class="optim-3dchart-wrapper">
              <div
                class="maximizeController"
                ng-attr-title="{{maximizeTitle}}"
                ng-bind-html="maximizeText"
                ng-click="maximizePerform()"
              ></div>
              <div class="row">
                <div class="col-xs-3">
                  <label class="sqn-label" tsq>Chart</label>
                  <div class="sqn-input sqn-select">
                    <span ng-bind="getChartTypeLabel()"></span>
                    <select
                      ng-model="configChart.chart"
                      ng-options="item.type as item.name for item in chartTypes"
                      onFocus="sqnSelectFocus(this)"
                      onBlur="sqnSelectBlur(this)"
                    ></select>
                  </div>
                </div>

                <div
                  class="col-xs-3"
                  ng-show="configChart.chart=='3D' || configChart.chart=='2D'"
                >
                  <label class="sqn-label" tsq>X - Axis</label>
                  <div class="sqn-input sqn-select">
                    <span>{{configChart.xaxis}}</span>
                    <select
                      ng-model="configChart.xaxis"
                      ng-options="item for item in parameters"
                      onFocus="sqnSelectFocus(this)"
                      onBlur="sqnSelectBlur(this)"
                    ></select>
                  </div>
                </div>

                <div class="col-xs-3" ng-show="configChart.chart=='3D'">
                  <label class="sqn-label" tsq>Y - Axis</label>
                  <div class="sqn-input sqn-select">
                    <span>{{configChart.yaxis}}</span>
                    <select
                      ng-model="configChart.yaxis"
                      ng-options="item for item in parameters"
                      onFocus="sqnSelectFocus(this)"
                      onBlur="sqnSelectBlur(this)"
                    ></select>
                  </div>
                </div>

                <div class="col-xs-3">
                  <label class="sqn-label">
                    <tsq ng-show="configChart.chart!='3D'">Y - Axis</tsq>
                    <tsq ng-show="configChart.chart=='3D'">Z - Axis</tsq>
                  </label>
                  <div class="sqn-input sqn-select">
                    <span ng-bind="getZaxisLabel()"></span>
                    <select
                      ng-model="configChart.zaxis"
                      ng-options="item.type as item.name for item in values"
                      onFocus="sqnSelectFocus(this)"
                      onBlur="sqnSelectBlur(this)"
                    ></select>
                  </div>
                </div>
              </div>

              <div class="toolbar" ng-show="configChart.chart=='3D'">
                <label class="sqn-label">
                  <tsq>Chart type</tsq>
                </label>
                <div class="btn-group">
                  <button
                    ng-click="chartTypeChanged('dot-color-one')"
                    type="button"
                    class="btn btn-default btn-normal"
                    ng-class="{active: configChart.type=='dot-color-one'}"
                    title="3D Point"
                    tsq
                  >
                    3D Point
                  </button>
                  <button
                    ng-click="chartTypeChanged('dot-color')"
                    type="button"
                    class="btn btn-default btn-normal"
                    ng-class="{active: configChart.type=='dot-color'}"
                    title="3D Points"
                    tsq
                  >
                    3D Points
                  </button>
                  <button
                    ng-click="chartTypeChanged('bar')"
                    type="button"
                    class="btn btn-default btn-normal"
                    ng-class="{active: configChart.type=='bar'}"
                    title="3D Bar"
                    tsq
                  >
                    3D Bar
                  </button>
                  <button
                    ng-click="chartTypeChanged('surface')"
                    type="button"
                    class="btn btn-default btn-normal"
                    ng-class="{active: configChart.type=='surface'}"
                    title="3D Surface"
                    tsq
                  >
                    3D Surface
                  </button>
                  <button
                    ng-click="chartTypeChanged('top')"
                    type="button"
                    class="btn btn-default btn-normal"
                    ng-class="{active: configChart.type=='top'}"
                    title="Top view"
                    tsq
                  >
                    Top view
                  </button>
                </div>
              </div>

              <div
                ng-show="configChart.chart=='3D'"
                id="optim-3dchart"
                style="height: 400px"
              >
                Icon
              </div>

              <chartjs
                class="optim-chart-2d"
                ng-show="configChart.chart!='3D'"
                instance="chart2d"
                width="600"
                height="400"
              ></chartjs>

              <div
                id="optim-3dchart-info"
                ng-show="configChart.chart=='3D' && (configChart.type=='surface' || configChart.type=='top' || configChart.type=='dot-color-one')"
                tsq
              >
                This chart type displays only the worst values. Switch to Point
                view to see all the values.
              </div>
              <div
                id="optim-3dchart-info"
                ng-show="configChart.chart=='2D'"
                tsq
              >
                This chart type displays only the worst and best values. Switch
                to Point view to see all the values.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="optimization-results-table threed-chart" ng-show="hasChart">
        <div class="toolbar">
          <label class="sqn-label">
            <tsq>Results for</tsq>: {{getChartTypeLabel()}}</label
          >
          <label class="sqn-label label-first-500">
            <tsq>Only first 500 results are displayed</tsq></label
          >
          <div class="pull-right">
            <button
              class="btn btn-default btn-normal export"
              ng-click="onExport()"
              tsq
            >
              Export
            </button>
            <opt-manage-views instance="manageviews" type="rt" />
          </div>
        </div>
        <div id="optimResultsGrid" class="gridbox_compressed"></div>
      </div>
    </div>
  </div>
</div>

<div
  ng-include="'../../../plugins/ResultsOptimizationProfile/optimProfileLevelsPopup.html'"
/>
