<!-- Modal window-->
<div class="modal" id="optimProfileLevelsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Optimization profile levels</h4>
            </div>
            <div class="modal-body" style="height: auto">
                <form class="form-horizontal" role="form">
                    <fieldset class="sq-fieldset">
                        <div>
                            <div class="sq-checkbox">
                                <input type="checkbox" ng-model="config.evalProfitOptCheck" id="config.evalProfitOptCheck" />
                                <label for="config.evalProfitOptCheck"></label>
                            </div>
                            <label class="sqn-label" tsq>% of Profitable Optimizations</label> &gt;
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="5" step="5" max="100" ng-model="config.profitOptPct"
                                    onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-disabled="!config.evalProfitOptCheck"/>
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="sq-checkbox">
                                <input type="checkbox" ng-model="config.evalAvgProfitCheck" id="config.evalAvgProfitCheck" />
                                <label for="config.evalAvgProfitCheck"></label>
                            </div>
                            <label class="sqn-label" tsq>Average profit (in $) of all optimizations is</label> &gt; $
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="-10000" step="100" max="100000" ng-model="config.avgProfit"
                                    onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-disabled="!config.evalAvgProfitCheck"/>
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="sq-checkbox">
                                <input type="checkbox" ng-model="config.evalUniformDistrCheck" id="config.evalUniformDistrCheck" />
                                <label for="config.evalUniformDistrCheck"></label>
                            </div>
                            <label class="sqn-label" tsq>Uniform distribution - less than</label>
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="1" step="1" max="20" ng-model="config.uniformDistrChanges"
                                    onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-disabled="!config.evalUniformDistrCheck"/>
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            <label class="sqn-label" tsq>changes from positive to negative</label>
                        </div>

                        <div>
                            <div class="sq-checkbox">
                                <input type="checkbox" ng-model="config.evalTopProfitCheck" id="config.evalTopProfitCheck" />
                                <label for="config.evalTopProfitCheck"></label>
                            </div>
                            <label class="sqn-label">Best Optimization profit</label>
                            &lt; <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="0.5" step="0.1" max="3" ng-model="config.stdevAvgProfit"
                                    onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-disabled="!config.evalTopProfitCheck"/>
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            <label class="sqn-label" tsq>StDev of average profit</label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="saveOptimProfileLevels()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>