#optim-3dchart {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.optim-3dchart-parent #optim-3dchart {
  margin-top: 12px;
}

#optim-3dchart > div {
  position: absolute !important;
}

.optim-3dchart-results {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.optim-3dchart-results-title {
  font-size: 11px;
  color: #777777;
  border-bottom: 1px solid #e5e5e5;
  padding: 6px;
  white-space: -moz-pre-wrap !important;
  white-space: -webkit-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.optim-3dchart-results .dasboard-result-iframe-placeholder {
  display: none;
}

.optimization-profile-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f6f6f6;
}

.optimization-profile {
  display: flex;
  flex-direction: row;
  padding: 10px 8px;
  position: static;
  overflow: visible;
  height: auto;
}

.optimization-profile .flex-expand {
  overflow: visible;
  min-width: 400px;
  max-width: 1200px;
}

.optimization-profile-left {
  margin-right: 16px;
  flex: 0 1 520px;
}

.pct-profitable-optim,
.perform-distr,
.optimization-profile .threed-chart {
  padding: 11px;
  margin-bottom: 16px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.optimization-profile .threed-chart {
  display: flex;
  flex-direction: column;
}

#optimProfileLevelsModal .sqn-spinner {
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
  width: 80px;
  vertical-align: 3px;
}

#optimProfileLevelsModal .sq-checkbox {
  display: inline-block;
  margin-right: -8px;
}

.optimization-profile-left table {
  border: 0;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 12px;
}

.optimization-profile-left td {
  padding: 0 6px;
  text-align: right;
  color: #207ace;
  border-bottom: 1px solid #e3e3e3;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.optimization-profile-left td span {
  float: right;
  margin-right: 11px;
  color: #207ace;
}

.optimization-profile-left td:first-child {
  padding: 0;
  text-align: left;
  color: #555555;
  border-right: 1px solid #e3e3e3;
}

.optimization-profile-left td:first-child:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 12px;
}

.optimization-profile-left td:last-child {
  width: 82px;
  padding: 0;
  padding-left: 16px;
  white-space: nowrap;
  text-align: right;
}

.optimization-profile-left tr td:last-child:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  bottom: -1px;
  width: 12px;
}

.optimization-profile-left tr:last-child td {
  border-bottom: 0;
}

.threed-chart .row {
  margin-bottom: 10px;
  margin-top: 10px;
}

.threed-chart .col-xs-4 {
  display: flex;
  flex-direction: row;
}

.customize-checks-level {
  text-align: right;
  margin-top: 5px;
}

.optim-check-passed {
  color: #009000 !important;
  font-weight: 700;
}

.optim-check-failed {
  color: #c00000 !important;
  font-weight: 700;
}

.optim-check-noteval {
  color: grey !important;
  font-weight: 700;
}

.threed-chart .toolbar {
  background-color: #cdcdd9;
  border-bottom: 0;
  padding-top: 5px;
  padding-left: 0;
}

.optimization-profile .threed-chart .has-not-chart {
  text-align: center;
  margin-top: 26px;
}

#optim-3dchart-info {
  text-align: center;
}

.optimization-results-table .toolbar .toolbar {
  display: inline-block;
  padding-top: 0;
  margin-left: 10px;
  padding-bottom: 0;
  padding-right: 0;
}

#optimResultsGrid {
  width: 100%;
  height: 300px;
}

.optimization-results-table .label-first-500 {
  font-style: italic;
  margin-left: 200px;
}

.optim-chart-2d > div {
  margin: 0 auto;
}

.optimization-profile .has-chart .col-xs-3 .sqn-label {
  min-width: 100px;
}

.optim-3dchart-wrapper {
  position: relative;
  background-color: #ffffff;
}

.optim-3dchart-wrapper .maximizeController {
  position: absolute;
  top: 8px;
  right: 18px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  z-index: 100;
}

.optim-3dchart-parent .maximizeController {
  top: -28px;
  right: 9px;
}

body > .optim-3dchart-wrapper {
  position: fixed;
  width: auto;
  height: auto;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
}

body > .optim-3dchart-wrapper #optim-3dchart {
  flex: 1 1 auto;
  height: auto;
}

body > .optim-3dchart-wrapper .toolbar {
  background-color: #cdcdd9;
  border-bottom: 0;
  padding-top: 5px;
  padding-left: 0;
}

body > .optim-3dchart-wrapper .row {
  padding: 8px 0;
}

body > .optim-3dchart-wrapper .optim-chart-2d {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.optim-3dchart-parent .optim-3dchart-wrapper .optim-chart-2d > div {
  width: 100% !important;
}

body > .optim-3dchart-wrapper .optim-chart-2d > div {
  flex: 1 1 auto;
  width: 100% !important;
}
