<!-- Modal window-->
<div class="modal centered" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" tsq>Loading records</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <label tsq>Loading selected records into databank...</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                        ng-style="{ 'width' : info.progress+'%' }"> {{info.progress}}%</div>
                </div>

                <div ng-show="selectInstrument" class="choose-instrument">
                    <p>
                        <tsq>Strategy</tsq> <b>{{info.reportName}}</b> <tsq>contains an unrecognized symbol.</tsq><br>
                        <tsq> To continue, choose from existing instruments or create a new one.</tsq><br>
                        <tsq> Unrecognized Symbol:</tsq> <b>{{info.symbol}}</b>
                    </p>

                    <instrument-chooser instance="instrumentChooser" />
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="cancel()" tsq>Cancel</a>
                <button ng-show="selectInstrument" type="button" class="btn btn-primary" ng-click="onSave(addAliasForm)" tsq>Continue</button>
            </div>
        </div>
    </div>
</div>