    <Events>
      <Event name="OnBarUpdate" useRuleEvalCheck="true" createDefault="true" help="The rules below are evaluated on every tick. This is where you should put your strategy logic - opening, modifying and closing positions.">
        <Types>
		  <Type key="SignalFuzzy" name="Fuzzy logic signal" contains="MainComparisons,IndyComparisons" />	
          <Type key="Signal" name="Signals" contains="MainComparisons,IndyComparisons" />
          <Type key="IfThen" name="If - Then" contains="MainComparisons,IndyComparisons,TradeActions,VariableActions,LogActions" />
          <Type key="IfThenElse" name="If - Then - Else" contains="MainComparisons,IndyComparisons,TradeActions,VariableActions,LogActions" />
          <Type key="ForEachTrade" name="For Each Trade" contains="MainComparisons,IndyComparisons,TradeActions,VariableActions,LogActions,TradeComparisons" />
          <Type key="ActionOnly" name="Action only" contains="CreateOrder,ModifyOrder,CloseOrder,VariableActions,LoggingMessaging" />
        </Types>
      </Event>
      <Event name="OnInit" help="The rules below are evaluated before the EA starts. You can use it to initialize some values.">
        <Types>
          <Type key="IfThen" name="If - Then" contains="MainComparisons,IndyComparisons,CreateOrder,ModifyOrder,CloseOrder,VariableActions,LoggingMessaging" />
          <Type key="IfThenElse" name="If - Then - Else" contains="MainComparisons,IndyComparisons,CreateOrder,ModifyOrder,CloseOrder,VariableActions,LoggingMessaging" />
          <Type key="ActionOnly" name="ACTION only" contains="CreateOrder,ModifyOrder,CloseOrder,VariableActions,LoggingMessaging" />
        </Types>
      </Event>
      <Event name="OnDeinit" help="The rules below are evaluated when the EA finishes. You can use it to deinitialize some values, close remaining positions, etc.">
        <Types>
          <Type key="IfThen" name="If - Then" contains="MainComparisons,IndyComparisons,VariableActions,TradeActions,LogActions" />
          <Type key="IfThenElse" name="If - Then - Else" contains="conditions,VariableActions,TradeActions,LogActions" />
          <Type key="ForEachTrade" name="For Each Trade" contains="MainComparisons,IndyComparisons,TradeActions,VariableActions,LogActions,TradeComparisons" />
          <Type key="ActionOnly" name="ACTION only" contains="CreateOrder,ModifyOrder,CloseOrder,VariableActions,LoggingMessaging" />
        </Types>
      </Event>
    </Events>