<!-- Modal window-->
<div class="modal centered" id="CEImportedFilesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="height: auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" tsq>Import completed</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                    <label style="font-size:14px; font-weight: 700; margin-bottom: 10px;" tsq>Import completed successfully!</label><br>
                    <label style="font-size:13px; font-weight: 600; margin-bottom: 10px;" tsq>List of imported files:</label>
                    
                    <div ng-show="imported.files.length>0" class="files-list">
                        <label style="width: 100%; font-weight: 500; padding-left: 10px;" ng-repeat="file in imported.files">
                            <i class="fa fa-circle" style="font-size: 8px; color: dimgrey; margin-right: 5px;" aria-hidden="true"></i>
                            {{::file}}
                        </label>    
                    </div>
                    <div ng-show="imported.files.length==0">
                        <label style="width: 100%; font-weight: 500; padding-left: 10px;" tsq>No files imported.</label>
                    </div>

                    <div ng-show="imported.notImportedFiles.length>0" class="files-list">
                        <label style="font-size:13px; font-weight: 600; margin-bottom: 10px;" tsq>List of NOT imported files:</label>
                        
                        <label style="width: 100%; font-weight: 500; padding-left: 10px;" ng-repeat="file in imported.notImportedFiles">
                            <i class="fa fa-circle" style="font-size: 8px; color: dimgrey; margin-right: 5px;" aria-hidden="true"></i>
                            {{::file.name}} - {{::file.reason}}
                        </label>    
                    </div>
            </div>
            <div class="modal-footer">
                <button ng-show="imported.files.length>0" class="btn btn-primary pull-left" ng-click="onRecompileAll()" tsq>Recompile all snippets</button>
                <a data-dismiss="modal" tsq>Close</a>
            </div>
        </div>
    </div>
</div>