<div class="automatic-portfolio-builder-settings">
    <div class="clearfix"></div>

    <!-- Portfolio -------------------------------------------------------------------------------------------- -->
    <label class="sqn-label sqn-label-bold" tsq>Portfolio</label>
    <div id="searchTypeOptions" class="searchTypeOptionsCls">
        <label class="sqn-label wFirstCol" tsq>Search for portfolios using</label>
        <div class="radio">
            <label class="sq-wradio">
                <input type="radio" name="pmSearchType" value="bruteforce" ng-model="config.searchType" ng-change="settingsChanged()"/>
                <span class="sq-mark"></span>
                <span tsq>Brute force</span>
            </label>
        </div>
        <div class="radio">
            <label class="sq-wradio">
                <input type="radio" name="pmSearchType" value="genetic" ng-model="config.searchType" ng-change="settingsChanged()"/>
                <span class="sq-mark"></span>
                <span tsq>Genetic search</span>
            </label>
        </div>
        <div class="linkSettingsDiv">
            <a class="link-button" style="color: unset" ng-click="showGeneticSettingsPopup()">
                <i class="fa fa-cog"></i>
            </a>
        </div>
    </div>

    <!-- Data range ---------------------------------------------------------------------------------------------- -->
    <div class="flexRow alignCenter dateDiv mBot5px data-range">
        <label class="sqn-label sqn-label-bold wFirstCol" tsq>Data range</label>
        <div class="radio mw145px">
            <label class="sq-wradio">
                <input type="radio" name="pmDateRange" value="full" ng-model="config.dateRange" ng-change="settingsChanged()"/>
                <span class="sq-mark"></span>
                <span tsq>Full available</span>
            </label>
        </div>
        <div class="radio">
            <label class="sq-wradio">
                <input type="radio" name="pmDateRange" value="limited" ng-model="config.dateRange" ng-change="settingsChanged()" class="noMarTop"/>
                <span class="sq-mark"></span>
            </label>
        </div>
        <date-picker label="{{'From' | tsq}}" date="config.dateRangeFrom" format="yyyy.mm.dd" on-date-change="settingsChanged()" ng-disabled="ngDisabled" force-date-change="forceDateChange" />
        <date-picker label="{{'To' | tsq}}" date="config.dateRangeTo" format="yyyy.mm.dd" on-date-change="settingsChanged()"  ng-disabled="ngDisabled" force-date-change="forceDateChange" class="marLeft10"/>
    </div>

    <div class="flexRow alignCenter mTop10 mBot25px">
        <div class="sq-input wFirstCol">
            <label tsq>In Sample part</label>
        </div>    
        
        <div class="marLeftMinus75">
            <sq-slider changed="settingsChanged" sq-model="config.dateRangeIsPct" min="0" max="100" step="1" width="200" postfix="%" />
        </div>

        <div class="sq-checkbox pLeft10">
            <input type="checkbox" ng-model="config.reverseSample" id="pm-gen-reverse-sample" ng-change="settingsChanged()"/>
            <label for="pm-gen-reverse-sample" tsq>reverse IS / OOS (if checked OOS part will be first)</label>
        </div>
    </div>

    <!-- Settings ---------------------------------------------------------------------------------------------- -->
    <div class="flexRow alignCenter mBot5px">
        <label class="sqn-label sqn-label-bold wFirstCol" tsq># of strategies in portfolio</label>
        <div class="marLeftMinus53">
            <label class="sqn-label w40px" tsq>min</label>
            <div class="sqn-spinner">
                <input type="text" class="sqn-input" min="2" step="1" max="1000000" ng-model="config.minStrategies" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>

            <label class="sqn-label pLeft10 w40px" tsq>max</label>
            <div class="sqn-spinner">
                <input type="text" class="sqn-input" min="0" step="1" max="1000000" ng-model="config.maxStrategies" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="flexRow alignCenter mBot25px">
        <label class="sqn-label sqn-label-bold wFirstCol" tsq>Maximum portfolios to store in databank</label>
        <div class="sqn-spinner">
            <input type="text" class="sqn-input" min="0" step="1" max="1000000" ng-model="config.maxStrategiesDatabank" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
            <div class="sqn-spinner-btns">
                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
            </div>
        </div>
    </div>

    <div class="flexRow alignCenter mBot5px">
        <label class="sqn-label sqn-label-bold wFirstCol" tsq>Rank portfolios by</label>
        <div class="sqn-input sqn-select fitnessInput">
            <span ng-bind="getFitnessLabel()"></span>
            <select ng-model="config.fitnessType" ng-options="item.type as (item.name | tsq) for item in fitnessTypes" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" onChange="sqnSelectChange(this)" ng-change="settingsChanged()"></select>
        </div>
    </div>

    <div class="flexRow alignCenter mBot25px">
        <label class="sqn-label sqn-label-bold wFirstCol" tsq>Sectors selection</label>
        <span tsq>Max allowed strategies from the same sector</span>
        
        <div class="sqn-spinner pLeft10">
            <input type="text" class="sqn-input" min="0" step="1" max="1000000" ng-model="config.maxStrategiesSector" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
            <div class="sqn-spinner-btns">
                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
            </div>
        </div>
    </div>

    <!-- Databanks ---------------------------------------------------------------------------------------------- -->
    <label class="sqn-label sqn-label-bold" tsq>Databanks</label>

    <div class="setting-row flexRow alignCenter mBot5px">
        <label class="sqn-label fixed-width wFirstCol" tsq>Source databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.inputDatabank}}</span>
            <select ng-model="config.inputDatabank" ng-options="item.name as item.name for item in config.availableDatabanks"  onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
        </div>
        <div class="retest-selected retest-selectedInput">
            <div class="sq-checkbox">
                <input type="checkbox" id="pm-only-selected" ng-model="config.onlySelected" ng-change="settingsChanged()" /><label class="sqn-label" for="pm-only-selected"></label>
            </div>
            <label class="sqn-label" style="margin-top: -2px;" tsq>only selected</label>
        </div>
    </div>

    <div class="setting-row flexRow alignCenter" style="margin-bottom: 20px">
        <label class="sqn-label fixed-width wFirstCol" tsq>Target databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.outputDatabank}}</span>
            <select ng-model="config.outputDatabank" ng-options="item.name as item.name for item in config.availableDatabanks" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
        </div>
    </div>

    <!-- Money Management ---------------------------------------------------------------------------------------------- -->
    <div class="pm-money-management">  
        <label class="sqn-label sqn-label-bold" tsq>Money Management</label>

        <div>
            <label class="sqn-label fixed-width wFirstCol mBot5px" tsq>Initial capital</label>
            <div class="sqn-spinner">
                <input type="text" class="sqn-input" min="0" step="1" ng-model="config.initialCapital" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-change="settingsChanged()"/>
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>
        </div>

        <div class="setting-row flexRow">
            <label class="sqn-label fixed-width wFirstCol" tsq>Used method</label>

            <div class="retest-selected retest-selectedInput">
                <div class="sq-checkbox">
                    <input type="checkbox" id="pm-mm-optional" ng-model="config.mmMethodOptional" ng-change="settingsChanged()" /><label class="sqn-label" for="pm-mm-optional"></label>
                </div>
                <label class="sqn-label" style="margin-top: -2px;" tsq>optional (if not selected, the original MM method from strategy is used)</label>
            </div>
        </div>
        <multi-property-grid ng-show="config.mmMethodOptional" instance="config.mmPropGridInstance" on-change="onMMPropGridChange" options="mmMethods" title="" custom-id="pm-money-management-properties"/>
        <br ng-show="!config.mmMethodOptional">
    </div>  

    <!-- Filtering ---------------------------------------------------------------------------------------------- -->
    <div class="pm-filtering">  
        <label class="sqn-label sqn-label-bold" tsq>Filtering</label>
        <br>
        <div class="flexRow alignCenter mBot25px">
            <label class="sqn-label sqn-label-bold wFirstCol" tsq>Correlation</label>
            <span ng-bind="printCorrelation()"></span>
            <a class="link-button" ng-click="showCorrelationPopup()" style="color: unset"><i class="fa fa-cog"></i></a>
        </div>

        <label class="sqn-label sqn-label-bold" tsq>Filter portfolios where</label>
        <conditions-grid instance="config.condGridInstance" after-init="afterCGInit" on-refresh="onCGRefresh" custom-id="pm-conditions" class="mLeft5"/>
    </div>

    <div ng-include="'../../../plugins/SettingsAutomaticPortfolioBuilder/geneticSettingsPopup.html'"></div>
    <div ng-include="'../../../plugins/SettingsAutomaticPortfolioBuilder/correlationSettingsPopup.html'"></div>
</div>
