<div class="modal" id="pmGeneticSettingsPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" tsq>Genetic settings</h4>
            </div>
            <div class="modal-body">
                <div class="flexRow alignCenter justify-between mTop10">
                    <label class="sqn-label sqn-label-bold" tsq>Population size</label>
                    <div class="sqn-spinner">
                        <input type="text" class="sqn-input" min="10" step="10" max="100000" ng-model="config.populationSize" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                    
                    <label class="sqn-label sqn-label-bold" tsq>Generations</label>
                    <div class="sqn-spinner">
                        <input type="text" class="sqn-input" min="10" step="100" max="5000" ng-model="config.generations" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                </div>              

                <div class="flexRow alignCenter mTop10">
                    <div class="sq-checkbox">
                        <input type="checkbox" ng-model="config.restartAfterStagnation" id="pm-gen-restart-after-stagnation" ng-change="settingsChanged()"/>
                        <label for="pm-gen-restart-after-stagnation" class="mRight5" tsq>Restart if fitness of In Sample stagnates for</label>
                    </div>
                    
                    <div class="sqn-spinner mRight5">
                        <input type="text" class="sqn-input" min="10" step="10" max="500" ng-model="config.generationLimit" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" ng-change="settingsChanged()"/>
                        <div class="sqn-spinner-btns">
                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                        </div>
                    </div>
                    generations(s)
                </div>

                <div class="sq-checkbox mTop10">
                    <input type="checkbox" ng-model="config.runContinually" id="pm-gen-run-continually" ng-change="settingsChanged()"/>
                    <label for="pm-gen-run-continually" tsq>Run continually (start again when finished, runs until stopped)</label>
                </div>
                
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
            </div>
        </div>
    </div>
</div>