<!-- Modal window-->
<div class="modal" id="exportToMT5Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq>Export to MT5 data (99% history quality) for</tsq> '{{dataDetails.symbol}}'
                </h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <form name="exportDataForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}" style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Choose data range to export</legend>

                        <date-range instance="dateRange" on-date-change="onDateRangeChange" />
                    </fieldset>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Select timeframe to export</legend>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="radio">
                                    <label class="sq-wradio"><input type="radio" name="timeframe" value="{{::TF.TICK}}"
                                            ng-model="dataDetails.timeframe" ng-disabled="!isTickData" /><span class="sq-mark"></span>
                                        <tsq>Tick data</tsq>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="sq-wradio"><input type="radio" name="timeframe" value="{{::TF.M1}}"
                                            ng-model="dataDetails.timeframe" /><span class="sq-mark"></span>
                                        <tsq>M1 data</tsq>
                                    </label>
                                </div>

                                <div class="timeframeM1Settings">
                                    <div class="radio">
                                        <label class="sq-wradio"><input type="radio" name="spread" value="points" ng-model="dataDetails.spread" /><span class="sq-mark"></span>
                                            <tsq>Use fixed spread</tsq>
                                            <div class="sqn-spinner">
                                                <input type="text" class="sqn-input" min="0" max="1000" step="1"
                                                    ng-model="dataDetails.spreadPoints" onFocus="sqnSpinnerFocus(this)"
                                                    onBlur="sqnSpinnerBlur(this)" />
                                                <div class="sqn-spinner-btns">
                                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                                </div>
                                            </div>
                                            <tsq>points</tsq>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label class="sq-wradio"><input type="radio" name="spread" value="pips" ng-model="dataDetails.spread" /><span class="sq-mark"></span>
                                            <tsq>Use fixed spread</tsq>
                                            <div class="sqn-spinner">
                                                <input type="text" class="sqn-input" min="0" max="1000" step="1"
                                                    ng-model="dataDetails.spreadValue" onFocus="sqnSpinnerFocus(this)"
                                                    onBlur="sqnSpinnerBlur(this)" />
                                                <div class="sqn-spinner-btns">
                                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                                </div>
                                            </div>
                                            <tsq>pips</tsq>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label class="sq-wradio"><input type="radio" name="spread" value="real"
                                                ng-model="dataDetails.spread" ng-disabled="!isTickData" /><span
                                                class="sq-mark"></span>
                                            <tsq>User real spread from Tick data</tsq>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:24px;">
                           <div class="col-xs-12">
                                <label class="sqn-label" tsq>Target timezone</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="getTimezoneLabel()"></span>
                                    <select ng-model="dataDetails.targetTimezone"
                                        ng-options="item.value as item.name for item in timezones"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                        onChange="sqnSelectChange(this)"></select>
                                </div>
                            </div> 
                        </div>   
                        <div class="row">
                            <div class="col-xs-12 desc">
                                Select a target time zone for the export. Choose Original to keep all timestamps unchanged.
                             </div>
                        </div>                                                                
                    </fieldset>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Select target</legend>

                        <div class="select-directory">
                            <label class="sqn-label file-label" tsq>Directory</label>&nbsp;
                            <input type="text" class="sqn-input" ng-model="dataDetails.directory" readonly="1" />
                            <a ng-click="openExportFilePicker();" tsq>Browse</a>
                        </div>

                        <div>
                            <label class="sqn-label file-label" tsq>File name</label>
                            <input type="text" class="sqn-input" ng-model="dataDetails.fileName" />
                            .csv
                        </div>

                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onExport()" tsq>Export</button>
            </div>
        </div>
    </div>
</div>