#exportToMT5Modal .file-input .sqn-input {
    width: 100%;
    text-align: right;
    margin-top: 2px;
    direction: rtl;
}

#exportToMT5Modal a {
    vertical-align: -3px;
}

#exportToMT5Modal .timeframeM1Settings {
    margin-left: 60px;
}

#exportToMT5Modal .select-directory a {
    margin-left: 10px;
}

#exportToMT5Modal .select-directory input {
    width: 75%;
}

#exportToMT5Modal .desc{
    font-style: italic;
    margin-left: 9px;
    margin-top: 4px;    
}