<div class="money-management">
    <div class="sq-checkbox disable-all-checkbox" ng-show="isAutoRetestTask" style="float: none;">
        <input type="checkbox" ng-model="config.useCustomSettings" ng-change="onCustomSettingsChange()"
            id="mm-config-switch" />
        <label class="sqn-label" for="mm-config-switch"></label>
        <label class="sqn-label"
            ng-click="config.useCustomSettings = !config.useCustomSettings; onCustomSettingsChange()" tsq>Use custom
            MoneyManagement settings</label>
    </div>

    <span ng-show="!isAutoRetestTask || config.useCustomSettings">
        <fieldset class="sq-fieldset">
            <legend tsq>Choose initial capital</legend>
            <div class="sq-input-fixed-size-container money-management-initial-capital">
                <label class="sqn-label" tsq>Initial capital</label>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.initialCapital"
                        onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
            </div>
        </fieldset>

        <multi-property-grid instance="config.mmPropGridInstance" on-change="onMMPropGridChange" options="mmMethods" title="{{'Choose Money Management method' | tsq}}" custom-id="money-management-properties"/>

        <multi-property-grid instance="config.rmPropGridInstance" on-change="onRMPropGridChange" options="rmMethods" title="{{'Choose Risk Management method' | tsq}}" ng-show="false" custom-id="risk-management-properties"/>
    </span>
</div>