<div class="modal modal-autoheight" id="darwinexAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Add Darwinex data</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <fieldset class="sq-fieldset">
                    <div class="flex">
                        <legend tsq>Choose from available data</legend>

                        <div class="darwinex-filter">
                            <search-filter filter="filter" style="display: inline-block;" />
                        </div>

                        <div class="darwinex-grid-wrapper">
                            <div id="darwinexDataGrid"></div>
                        </div>

                        <div class="dukas-data-postfix" style="margin-top:24px">
                            <label tsq>Broker profile *</label>
                            <div>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="getBrokerProfileLabel()"></span>
                                    <select ng-model="dataDetails.broker" ng-options="item.id as item.name for item in brokerProfiles" 
                                        onFocus="sqnSelectFocus(this)"
                                        onBlur="sqnSelectBlur(this)" 
                                        ng-change="onBrokerChanged()"
                                        ></select>
                                </div>   
                            </div> 
                            <label style="margin-left:50px;" tsq>Data postfix</label>
                            <div>
                                <input type="text" class="sqn-input" ng-model="dataDetails.postfix" />
                                <label tsq>This postfix will be optionally added to the data names created</label>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <free-data-disclaimer confirmed="dataDetails.disclaimerConfirmed" datasource="{{'Darwinex' | tsq}}"/>

                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSave()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>

<div ng-include="'../../../plugins/DataSourceDarwinex/add/selectInstrumentsPopup.html'"></div>