.portfoliocomposer-tab {
    padding-top: 5px;
}

.portfoliocomposer-tab #source-code {
    width: 100%;
    height: 100%;
    position: absolute;
}

.portfoliocomposer-tab .source-code-select {
    width: 250px;
    display: inline-flex;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 3px;
    margin-right: 4px;
}

.portfoliocomposer-tab .source-code-select-mm {
    width: 180px;
    display: inline-flex;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}

.portfoliocomposer-tab .source-code-save {
    margin-right: 4px;
    height: 22px;
    line-height: 1;
    margin-top: 3px;
}

.portfoliocomposer-tab .source-code-copy {
    color: #ff0000 !important;
    height: 22px;
    line-height: 1;
    margin-top: 3px;
}

.portfoliocomposer-tab .source-code-refresh {
    color: black !important;
    margin-top: 3px;
    margin-left: 6px;
}

.portfoliocomposer-tab .source-code-copied {
    color: #ff0000;
    display: none;
    line-height: 27px;
    font-size: 11px;
    padding: 0 11px;
}

.portfoliocomposer-tab #source-code-desc {
    margin: 5px 9px;
}

.portfoliocomposer-tab #source-code-warning {
    margin-top: 5px;
    padding: 4px 4px 4px 9px;
    color: black;
    background-color: #FFFFBF;
}

.portfoliocomposer-tab #source-code-learnmore {
    margin-top: 5px;
    margin-left: 10px;
    padding: 4px 4px 4px 9px;
}

.portfoliocomposer-tab .checkbox {
    margin-left: 33px;
    display: inline-block;
}

.portfoliocomposer-tab .checkbox label {
    padding-left: 0;
}

.portfoliocomposer-tab .ace_editor {
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.portfoliocomposer-tab .ace-eclipse .ace_gutter {
    border-right: 1px solid #bddefb;
}

.portfoliocomposer-tab .ace_scroller {
    border-top: 1px solid #bddefb;
}

.portfoliocomposer-tab .pull-right>.sq-checkbox {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}

.portfoliocomposer-tab .editor {
    height: auto;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    overflow: hidden;
}