.select-market {
    width: 95%;
    text-align: left;
}

.sqn-select.select-market span {
    padding: 0 11px;
}

fieldset.cross-monte-manipulation div.settings-grid {
    width: 490px !important;
}

fieldset.cross-monte-manipulation .sq-checkbox-1 {
    display: inline-block;
    vertical-align: 4px;
    margin-left: 25px;
}

fieldset.cross-monte-manipulation .sq-checkbox-1 .sqn-label:first-child {
    padding-top: 0;
    padding-right: 0;
}

fieldset.cross-monte-manipulation .sq-checkbox-2 {
    display: inline-block;
}

fieldset.cross-monte-manipulation .sq-checkbox-2 .sqn-label {
    min-width: 154px;
    margin-left: 9px!important;
}

fieldset.cross-monte-manipulation>.sqn-label:first-child {
    min-width: 154px;
}

fieldset.cross-monte-manipulation .backtest-precision-switch {
    margin-bottom: 10px;
}

fieldset.cross-monte-manipulation .backtest-precision-switch .sqn-select {
    width: 240px;
}

.cross-monte-manipulation .property-grid-note {
    display: none;
}

/* .cross-monte-manipulation .sq-grid-body tr td {
    white-space: break-spaces;
} */

#crossCheckSettingsModal .property .property-title {
    font-size: 11px;
}