<!-- Modal window-->
<div class="modal" id="exportToMT4Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 800px; height: auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq>Export to MetaTrader 4 FXT and HST for</tsq> '{{dataDetails.symbol}}'
                </h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <form name="exportToMT4Form" class="form-horizontal" role="form" ng-class="{'submitted': errors}"
                    style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Choose data range to export</legend>

                        <date-range instance="dateRange" on-date-change="onDateRangeChange" />

                        <div class="data-export-time-help" tsq>
                            Please note that MT4 has file-size limit of maximum 4GB, it won't be able to process bigger
                            data files.
                        </div>

                    </fieldset>

                    <fieldset class="sq-fieldset data-export-output-folder">
                        <legend tsq>Output folder</legend>

                        <div class="clearfix"></div>

                        <div class="folder-line">
                            <label class="sqn-label" tsq>MT4 Installation</label>
                            <input type="text" class="sqn-input" ng-model="config.appPath"
                                ng-attr-title="{{config.appPath}}" readonly="1" />
                            <a href ng-click="onSelectInstallFolder();" tsq>Select</a>
                        </div>

                        <div class="folder-line">
                            <label class="sqn-label" tsq>MT4 Data Folder</label>
                            <input type="text" class="sqn-input" ng-model="config.dataPath"
                                ng-attr-title="{{config.dataPath}}" readonly="1" />
                            <a href ng-click="onSelectDataFolder();" tsq>Select</a>
                        </div>

                        <div class="folder-line">
                            <label class="sqn-label" tsq>Server name</label>
                            <div class="sqn-input sqn-select">
                                <span ng-bind="config.serverName"></span>
                                <select ng-model="config.serverName" ng-options="item for item in serverNames"
                                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="sq-fieldset data-export-properties">

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="sqn-label" tsq>Symbol</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="config.specSymbol"></span>
                                    <select ng-model="config.specSymbol"
                                        ng-options="item.symbol as item.symbol for item in symbols"
                                        ng-change="onSymbolChange()" onFocus="sqnSelectFocus(this)"
                                        onBlur="sqnSelectBlur(this)"></select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="sqn-label" tsq>Name in MT4</label>
                                <input type="text" class="sqn-input data-export-mt4-name" ng-model="config.mt4Symbol" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="sqn-label" tsq>Timeframe</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="config.timeframe"></span>
                                    <select ng-model="config.timeframe" ng-options="item for item in timeframes"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                                </div>
                                <div>
                                    <label class="sqn-label" tsq>Target timezone</label>
                                    <div class="sqn-input sqn-select">
                                        <span ng-bind="getTimezoneLabel()"></span>
                                        <select ng-model="config.targetTimezone"
                                            ng-options="item.value as item.name for item in timezones"
                                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                            onChange="sqnSelectChange(this)"></select>
                                    </div>
                                    <div class="small">Select a target time zone for the export. Choose Original to keep all timestamps unchanged.</div>                                
                                </div>                                          
                            </div>
                            <div class="col-sm-6">
                                <label class="sqn-label" tsq>Encoding</label>
                                <input type="text" list="mt4_list_encodings" class="sqn-input data-export-mt4-name" ng-model="config.encoding" />
                                <datalist id="mt4_list_encodings">
                                    <option value="windows-1250">
                                    <option value="windows-1252">
                                    <option value="ISO-8859-1">
                                    <option value="ISO-8859-2">
                                </datalist>

                                <div class="small">If your symbol names contain special characters, specify the export encoding (usually windows-1252). Leave the field empty to use the system default.</div>
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="sqn-label" tsq>Export mode</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="config.exportMode"></span>
                                    <select ng-model="config.exportMode" ng-options="item for item in exportModes"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                                </div>
                            </div>                   
                            <div class="col-sm-6"></div>
                        </div>                                                              

                        <div class="mt4-properties">
                            <a href ng-click="onSelectConfigFile();" tsq>Load other MT4 data specification file</a>
                            <br />
                            <br />

                            <div class="row row-smaller">
                                <div ng-repeat="property in properties" class="col-sm-4">
                                    <span ng-bind="property.name" /></span>: <span ng-bind="property.value" />
                                </div>
                            </div>
                        </div>

                        <label class="warning" tsq>Warning - there was a change in MT4 from Build 8xx up - it does not
                            respect the spread setting from FXT file, instead it applies spread configured in Strategy
                            Tester.</label>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default sqn-btn-help" ng-click="onHelp()" tsq>Help</button>
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onStartExport(exportToMT4Form)" tsq>Start
                    export</button>
            </div>
        </div>
    </div>
</div>