.equity-chart-report-wrapper-main {
    position: relative;
    width: 800px !important;
    height: 600px !important;
}

.equity-chart-report-wrapper-main #equitychart-report {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    height: auto !important;
    overflow: hidden;
}