<!-- Modal window-->
<div class="modal modal-onefield" id="modifySymbolsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Modify custom project symbols in bulk</h4>
            </div>
            <div class="modal-body">
                <div class="modal-help-box" tsq>Mass modification of symbols and/or timeframes in all tasks of the project. You can use star (*) in place of symbol or timeframe to match all.</div>
                <div class="modifySymbolsModal-flex-row">
                    <fieldset class="sq-fieldset msm-currentsymbols">
                        <legend tsq>Current symbols in project</legend>

                        <div class="clearfix"></div>

                        <div ng-repeat="item in modifySymbolsList" class="msm-currentsymbol-single">
                            {{item}}
                        </div>

                    </fieldset>
                    <fieldset class="sq-fieldset msm-modify">
                        <legend tsq>Modify</legend>
                        <div class="clearfix"></div>
                        <form name="modifySymbolsForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}"
                            style="text-align: left;">

                            <form-errors errors="errors"></form-errors>

                            <div ng-repeat="item in modifySymbols" class="msm-modify-row">
                                <input type="text" class="sqn-input" ng-model="item.symbolFrom" />

                                <i class="fa fa-chevron-right" aria-hidden="true"></i>

                                <input type="text" class="sqn-input" ng-model="item.symbolTo" />

                                <div class="sq-checkbox">
                                    <input type="checkbox" ng-model="item.applyDefaultSettings"id="ms-apply-default-settings-{{::$index}}" />
                                    <label for="ms-apply-default-settings-{{::$index}}" tsq>apply default settings</label>
                                </div>
                            </div>

                            <br />
                            <br />

                            <legend tsq>Usage</legend>
                            <div class="clearfix"></div>
                            <div ng-repeat="item in exampleSymbols" class="msm-modify-row">
                                <input type="text" class="sqn-input" ng-model="item.symbolFrom" disabled="disabled" />
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <input type="text" class="sqn-input" ng-model="item.symbolTo" disabled="disabled" />
                            </div>

                        </form>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onModifySymbols(modifySymbolsForm)"
                    tsq>Save</button>
            </div>
        </div>
    </div>
</div>