<div class="taskmanager-container taskmanager-projects-container" ng-class="{'br-edition': isBrazilianEdition}">
    <div class="sqn-project-name"><tsq>Custom projects</tsq> <a class="link-button tm-reload-projects fa fa-refresh" ng-click="loadProjects()"></a></div>
    <div class="tm-projects-table-wrapper">
        <table class="tm-projects-table">
            <tr tm-project-control ng-repeat="project in projects" instance="project"></tr>
        </table>
    </div>
    <div class="taskmanager-btns">
        <button type="button" class="btn btn-primary" ng-click="onAddNewProject()" tsq>Create new project</button>
        <button type="button" class="btn btn-default" ng-click="onOpenProject()" tsq>Open existing project</button>
    </div>
</div>

<div ng-include="'../../../plugins/TaskManagerProjects/newProjectPopup.html'"></div>
<div ng-include="'../../../plugins/TaskManagerProjects/renameProjectPopup.html'"></div>
<div ng-include="'../../../plugins/TaskManagerProjects/modifySymbolsPopup.html'"></div>