<!-- Modal window-->
<div class="modal modal-onefield" id="renameProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Rename custom project</h4>
            </div>
            <div class="modal-body">
                <form name="renameProjectForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}"
                    style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <label class="sqn-label">
                        <tsq>Project name</tsq>
                        <input type="text" class="sqn-input" ng-model="project.projectName" />
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onRenameProject(renameProjectForm)"
                    tsq>Save</button>
            </div>
        </div>
    </div>
</div>