<div class="simple-notification-settings">
    <div class="simple-build-settings">

        <label class="settings-title" tsq>Notification / Pause</label>

        <div class="notification-input">
            <label class="sqn-label" tsq>Notification type</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getNotificationTypeLabel()"></span>
                <select ng-model="config.type" ng-options="item.key as item.name for item in config.types" onFocus="sqnSelectFocus(this)"
                    onBlur="sqnSelectBlur(this)"></select>
            </div>
            <div ng-show="config.type == 'email'">
                <label class="sqn-label" tsq>Send email to</label>
                <input type="text" class="sqn-input" ng-model="config.email" />
            </div>
        </div>

        <div class="sq-checkbox notification-checkbox" ng-click="config.wait=!config.wait">
            <input type="checkbox" ng-model="config.wait">
            <label>
                <tsq>Pause project and wait for user action</tsq>
            </label>
        </div>
        <!-- <div class="checkbox notification-checkbox">
            <label>
                <input type="checkbox" ng-model="config.wait" />
                <tsq>Pause project and wait for user action</tsq>
            </label>
        </div> -->
        <label class="help" tsq>
            If checked the project will pause until you unpause it.
            <br /> This lets you do manual filtering of strategies or review of the project process.
        </label>
    </div>



</div>