<div class="crosschecks-popup-filtering">
    <div class="cross-check-help modal-help-box">
        <tsq>If you define any conditions here they will be evaluated after this cross check is computed.</tsq>
        <br> <tsq>If strategy fails these conditions, it will be dismissed (thrown away) and no further cross check will be evaluated.</tsq>
    </div>

    <fieldset class="sq-fieldset">
        <a class="link-button pull-right" ng-click="onLoadDefaultWFConditions()" tsq>Set recommended WF conditions</a>
        <br>

        <div tsq>WF Matrix produces a table of X rows and Y columns, where each cell is a different WF optimization test.</div>
        <br>
        <div>
            <tsq>Filter passes when it finds an area of</tsq>
            <div class="sqn-input sqn-select">
                <span>{{config.robRows}}</span>
                <select ng-model="config.robRows" ng-options="item for item in wfRows" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                    ng-change="onFitnessFunctionChange()"></select>
            </div><tsq>rows and</tsq>
            <div class="sqn-input sqn-select">
                <span>{{config.robCols}}</span>
                <select ng-model="config.robCols" ng-options="item for item in wfColumns" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                    ng-change="onFitnessFunctionChange()"></select>
            </div><tsq>columns</tsq>
            <br> <tsq>where at least</tsq>
            <div class="sqn-input sqn-select">
                <span>{{config.robComb}}</span>
                <select ng-model="config.robComb" ng-options="item for item in wfCombinations" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                    ng-change="onFitnessFunctionChange()"></select>
            </div><tsq>results have robustness score >=</tsq>
            <div class="sqn-spinner">
                <input type="text" class="sqn-input" min="0" step="1" max="100" ng-model="config.thresholdPct" ng-change="onFitnessFunctionChange()"
                    onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
                <div class="sqn-spinner-btns">
                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                </div>
            </div>%
        </div>

        <br/> 
        <tsq>Robustness score is computed as a % of conditions that passed vs. all conditions</tsq>

        <br/>

        <conditions-grid name="crosscheckName" instance="config.condGridInstance" after-init="afterCGInit" on-refresh="onCGRefresh" custom-id="cc-filters"></conditions-grid>

    </fieldset>
</div>