<div class="pc-settings-tab-container pc-autocomputation">
    <label class="sqn-label sqn-label-bold" tsq>Automatic computation</label>
    <div class="sq-data-help">
        Creates various portfolios with different weight allocations and returns the optimal portfolio with the best profit/risk ratio.
    </div>

    <div class="sq-input-fixed-size-container">
        <label class="sqn-label" tsq>Model</label>
        <div class="sqn-input sqn-select model-select">
            <span ng-bind="getModelTypeLabel()"></span>
            <select ng-model="config.modelType" ng-options="item.value as (item.name | tsq) for item in modelTypes" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
        </div>
    </div>
    <br>
    <div class="sq-input-fixed-size-container">
        <label class="sqn-label" tsq>Fitness</label>
        <div class="sqn-input sqn-select">
            <span ng-bind="getSelectionTypeLabel()"></span>
            <select ng-model="config.selectionType" ng-options="item.value as (item.name | tsq) for item in selectionTypes" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
        </div>
    </div>
    
    <div class="sq-input-fixed-size-container">
        <label class="sqn-label" tsq>Max simulations</label>
        <div class="sqn-spinner">
            <input type="text" class="sqn-input" min="0" step="1" ng-model="config.maxSimulations" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
            <div class="sqn-spinner-btns">
                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
            </div>
        </div>
    </div>
    <div class="sq-input-fixed-size-container">
        <label class="sqn-label" tsq>Risk free rate</label>
        <div class="sqn-spinner">
            <input type="text" class="sqn-input" min="0" step="0.1" max="1" ng-model="config.riskFreeRate" onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)" />
            <div class="sqn-spinner-btns">
                <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
            </div>
        </div>
    </div>
</div>