.stopstart-settings {
    max-width: 500px;
}

.stopstart-settings .sqn-label {
    padding-top: 0;
    margin-bottom: 4px;
    margin-left: 0;
}

.stopstart-settings .sqn-select {
    width: 200px;
    margin-bottom: 10px;
}

.stopstart-settings {}