<div class="simple-build-settings" ng-class="{'disabled-panel': ($root.project.state == projectStates.running || $root.project.state == projectStates.paused) && isDashboard()}">
    <div class="disabled-area-placeholder">
        <i class="fa fa-lock" title="Setting changes locked, they will be applied next time you start the project."></i>
    </div>

    <div class="settings-summary-title" tsq>Settings summary</div>

    <simple-data-settings />

    <br />

    <label class="settings-title" tsq>Optimization</label>

    <div class="setting-row optimization-type toolbar settingsRowClass">
        <label class="sqn-label" tsq>Type:</label>
        <div class="btn-group">
            <button ng-click="onOptimizationTypeSelect(optimizationTypes.simple)" type="button" class="btn btn-default"
                ng-class="{active: config.optimization == optimizationTypes.simple}" tsq>Simple</button>
            <button ng-click="onOptimizationTypeSelect(optimizationTypes.sequential)" type="button" class="btn btn-default"
                ng-class="{active: config.optimization == optimizationTypes.sequential}" tsq>Sequential</button>
            <button ng-click="onOptimizationTypeSelect(optimizationTypes.walk_fo)" type="button" class="btn btn-default"
                ng-class="{active: config.optimization == optimizationTypes.walk_fo}" tsq>Walk-forward</button>
            <button ng-click="onOptimizationTypeSelect(optimizationTypes.walk_fm)" type="button" class="btn btn-default"
                ng-class="{active: config.optimization == optimizationTypes.walk_fm}" tsq>Walk-forward matrix</button>
        </div>
    </div>

    <div class="optimize-settings setting-row line settingsRowClass" style="margin-top: 4px" ng-show="config.optimization != optimizationTypes.simple && config.optimization != optimizationTypes.sequential">
        <label class="sqn-label" tsq>Period type:</label>
        <div class="btn-group" title="Period type" style="margin-left: 0">
          <button
            ng-click="config.periodType=constants.optimization.periodTypes.percent"
            type="button"
            class="btn btn-default"
            ng-class="{active: config.periodType==constants.optimization.periodTypes.percent}"
            tsq
          >
            Percent
          </button>
          <button
            ng-click="config.periodType=constants.optimization.periodTypes.days"
            type="button"
            class="btn btn-default"
            ng-class="{active: config.periodType==constants.optimization.periodTypes.days}"
            tsq
          >
            Days
          </button>
          <button
            ng-click="config.periodType=constants.optimization.periodTypes.bars"
            type="button"
            class="btn btn-default"
            ng-class="{active: config.periodType==constants.optimization.periodTypes.bars}"
            tsq
          >
            Bars (TS compatible)
          </button>
        </div>

        <div class="btn-group" title="Optimization type" style="margin-left: 10px">
          <button
            ng-click="config.optimizationType=constants.optimization.optimizationTypes.floating"
            type="button"
            class="btn btn-default"
            ng-class="{active: config.optimizationType==constants.optimization.optimizationTypes.floating}"
            tsq
          >
            Floating
          </button>
          <button
            ng-click="config.optimizationType=constants.optimization.optimizationTypes.fixed"
            type="button"
            class="btn btn-default"
            ng-class="{active: config.optimizationType==constants.optimization.optimizationTypes.fixed}"
            tsq
          >
            Fixed
          </button>
        </div>
      </div>

    <div class="setting-row" ng-if="config.optimization != optimizationTypes.simple && config.optimization != optimizationTypes.sequential">
        <div ng-if="config.optimization == optimizationTypes.walk_fo" class="walk-fo">
            <div class="line">
                <label class="sqn-label">{{printParamLabel(1, config.periodType)}}:</label>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param1" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
            </div>
            <div class="line">
                <label class="sqn-label">{{printParamLabel(2, config.periodType)}}:</label>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param2" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="config.optimization == optimizationTypes.walk_fm" class="walk-fm">
            <div class="line">
                <label class="sqn-label"></label>
                <label class="control-label" tsq>Start</label>
                <label class="control-label" tsq>Stop</label>
                <label class="control-label" tsq>Step</label>
            </div>
            <div class="line wf-matrix">
                <label class="sqn-label" ng-show="config.periodType == constants.optimization.periodTypes.percent"><tsq>Out of sample %</tsq>:</label>
                <label class="sqn-label" ng-show="config.periodType != constants.optimization.periodTypes.percent"><tsq>In Sample days</tsq>:</label>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param1Start" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param1Stop" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param1Step" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
            </div>
            <div class="line wf-matrix">
                <label class="sqn-label" ng-show="config.periodType == constants.optimization.periodTypes.percent"><tsq>Walk Forward runs</tsq>:</label>
                <label class="sqn-label" ng-show="config.periodType != constants.optimization.periodTypes.percent"><tsq>Out of Sample days</tsq>:</label>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param2Start" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param2Stop" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
                <div class="sqn-spinner">
                    <input type="text" class="sqn-input" min="0" step="1" ng-model="config.param2Step" onFocus="sqnSpinnerFocus(this)"
                        onBlur="sqnSpinnerBlur(this)" />
                    <div class="sqn-spinner-btns">
                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="radio centered" ng-show="config.optimization == optimizationTypes.simple">
        <label class="sq-wradio">
            <input type="radio" name="SimpleOptimizationRadios" ng-model="config.simpleType" ng-value="constants.optimization.simpleOptimizations.storeAll" ng-change="optimizationSimpleTypeChanged(constants.optimization.simpleOptimizations.storeAll)"/>
            <span class="sq-mark"></span>
            <tsq>Store all optimizations into databank</tsq>
        </label>
    </div>
    <div class="radio centered" ng-show="config.optimization == optimizationTypes.simple">
        <label class="sq-wradio">
            <input type="radio" name="SimpleOptimizationRadios" ng-model="config.simpleType" ng-value="constants.optimization.simpleOptimizations.storeBest" ng-change="optimizationSimpleTypeChanged(constants.optimization.simpleOptimizations.storeBest)"/>
            <span class="sq-mark"></span>
            <tsq>Store only best optimization</tsq>
        </label>
    </div>

    <div>
        <label class="settings-title" tsq>Strategy to optimize</label>

        <div class="setting-row radio strategy-file">
            <label class="sq-wradio">
                <input type="radio" name="SourceRadios" ng-model="config.source" ng-value="constants.optimization.sources.file"
                    ng-change="onSourceChange()" />
                <span class="sq-mark"></span>
                <tsq>Select</tsq>
            </label>
            <input id="strategy-to-optimize" type="text" class="sqn-input" style="width: 500px;" ng-model="config.filePath" readonly="1" dir="rtl" ng-disabled="config.source != constants.optimization.sources.file" ng-attr-title="{{config.filePath}}" />
            <a class="browse-button" ng-click="onSelectFile()" tsq>Load</a>
        </div>
        <div class="setting-row radio databank-input">
            <label class="sq-wradio">
                <input type="radio" name="SourceRadios" ng-model="config.source" ng-value="constants.optimization.sources.databank"
                    ng-change="onSourceChange()" />
                <span class="sq-mark"></span>
                <tsq>All strategies in databank</tsq>
            </label>
            <div class="sqn-input sqn-select" ng-style="{'visibility': (!isOptimizer && config.source == constants.optimization.sources.databank)?'visible':'hidden'}">
                <span>{{config.sourceDatabank}}</span>
                <select ng-model="config.sourceDatabank" ng-options="item.name as item.name for item in databanks" onFocus="sqnSelectFocus(this)"
                    onBlur="sqnSelectBlur(this)" ng-change="onParametersChange()"></select>
            </div>
        </div>
        <div class="setting-row radio databank-input">
            <span ng-style="{'visibility': (!isOptimizer)?'visible':'hidden'}">&nbsp;&nbsp;&nbsp;<tsq>Output databank</tsq></span>
            <div class="sqn-input sqn-select" ng-style="{'visibility': (!isOptimizer)?'visible':'hidden'}">
                <span>{{config.outputDatabank}}</span>
                <select ng-model="config.outputDatabank" ng-options="item.name as item.name for item in databanks" onFocus="sqnSelectFocus(this)" 
                    onBlur="sqnSelectBlur(this)" ng-change="onParametersChange()"></select>
            </div>
        </div>
        <br />
    </div>

    <label class="settings-title" ng-show="config.source == constants.optimization.sources.file" tsq>Parameters</label>

    <div class="setting-row param-settings" >
        <label class="auto-params-desc" ng-show="config.mode == parametersModes.automatic" ng-bind="printDistribution()"></label>
        <parameters-grid instance="parametersGrid" simple="true" on-change="onParametersChange()" ng-show="config.source == constants.optimization.sources.file && config.mode == parametersModes.manual" />
    </div>
    

</div>