<div class="modal" id="visualLogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" tsq>Visual project flow</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <a ng-click="refreshVisualLog()" href="" class="pull-right" tsq>Refresh</a><br>
                
                <fieldset class="sq-fieldset">
                    <div class="toolbar">
                        <label class="sqn-label">
                            <tsq>Ratio</tsq>
                        </label>
                        <div class="btn-group">
                            <button ng-click="visualLog.type='global';" type="button" class="btn btn-default"
                                ng-class="{active: visualLog.type=='global'}" tsq>Global</button>
                            <button ng-click="visualLog.type='relative';" type="button" class="btn btn-default"
                                ng-class="{active: visualLog.type=='relative'}" tsq>Relative</button>
                        </div>
                        <div style="margin: 10px 0px 0px 9px" ng-if="visualLog.type=='global'">
                            <div tsq>Blue bar displays the portion of processed strategies relative to the very first task.</div>                  
                            <div tsq>Green bar below displays % of successful (processed, passed, copied) results of the current task.</div>
                        </div>
                    </div>
                </fieldset>

                <div>
                    <div ng-repeat="task in visualLog.tasks" class="row row-smaller">
                        <div class="col-sm-4">
                            <div class="visuallog-task-box">
                                <span class="task-name">{{task.title}}</span>
                                <span class="task-type">{{task.type}}</span>
                                <span class="task-iterations">[{{task.iterations}}]</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div ng-repeat="stat in task.stats">
                                <div class="visuallog-bar-wrapper" ng-show="(visualLog.type=='global' || stat.percentageCompareAction)">
                                    <div class="bar-name">{{stat.action}}</div>
                                    <div class="bar-outer">
                                        <div ng-show="stat.display == 'bar' && stat.order == 1" class="bar bar-blue" ng-style="{ 'width': stat.pct + '%' }"></div>
                                        <div ng-show="stat.display == 'bar' && stat.order != 1" class="bar" ng-style="{ 'width': stat.pct + '%' }"></div>
                                        <div ng-show="stat.display == 'milliseconds'">{{formattedTime(stat.count)}}</div>
                                    </div>
                                    <div ng-show="needToShowCount(stat.display)" class="bar-count">{{stat.count}} <span ng-show="stat.pct && stat.order != 1">({{stat.pct}} %)</span></div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>