<!-- Modal Add broker window-->
<div class="modal" id="addBrokerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:700px; height:auto;">
        <div class="modal-content" style="width:100%; height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span ng-bind="currentAction | tsq"></span> <tsq>Broker profile</tsq></h4>
            </div>
            <div class="modal-body">
                <form name="addBrokerForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}" style="text-align: left;">
                    <fieldset class="sq-fieldset">
                        <form-errors errors="errors"></form-errors> 

                        <div class="row sq-data-line">
                            <div class="col-sm-3">
                                <label class="sqn-label" tsq="">Broker profile name *</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="sqn-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" 
                                ng-model="currentBroker.name" ng-required="true" name="Broker profil name" required="required">
                            </div>
                        </div>
                        <div class="row sq-data-line">
                            <div class="col-sm-3">
                                <label class="sqn-label" tsq="">Description</label>
                            </div>
                            <div class="col-sm-9">
                                <textarea ng-model="currentBroker.desc" style="height: 200px; width: 100%" class="ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                            </div>
                        </div>                 
                    </fieldset>  
                    <fieldset class="sq-fieldset" ng-show="stockPickerVisible">
                        <legend tsq>Stockpicker functionality</legend>
                        <div class="row sq-data-line">
                            <div class="col-sm-12">
                                <div class="sq-checkbox">
                                    <input ng-disabled="!canSetSpUse" type="checkbox" ng-model="currentBroker.stockPickerUse" id="stockPickerUse"/>
                                    <label for="stockPickerUse" style="text-align: left; margin: 1rem;">
                                        <tsq>Use this broker profile for filtering stocks</tsq><br>
                                        <tsq>You will be able to edit available list using grid action</tsq>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Metatrader 4/5 functionality</legend>
                            <div class="row sq-data-line">
                                <div class="col-sm-12">
                                    <div class="sq-checkbox">
                                        <input ng-disabled="!canSetMtUse" type="checkbox" ng-model="currentBroker.mtUse" id="mtUse"/>
                                        <label for="mtUse" style="text-align: left; margin: 1rem;">
                                            <tsq>Use this broker profile for instruments setting for MT4/5</tsq>
                                        </label>
                                    </div>      
                                </div>  
                            </div>   
                            
                            <div class="row sq-data-line">
                                <div class="col-sm-3">
                                    <label class="sqn-label" tsq="">Broker timezone</label>
                                </div>
                                <div class="col-sm-9">                                  
                                    <div class="sqn-input sqn-select" style="width: 380px;"  ng-class="{'disabled': !canSetTimezone}">
                                        <span ng-bind="getTimezoneLabel()"></span>
                                        <select ng-model="currentBroker.mtTimezone"
                                            ng-options="item.value as item.name for item in timezones"
                                            ng-disabled="!canSetTimezone"
                                            onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                            onChange="sqnSelectChange(this)"></select>
                                    </div>
                                </div>
                            </div>  
                            
                            <div class="row sq-data-line">
                                <div class="col-sm-3">
                                    <label class="sqn-label" tsq="">Instrument/data postfix</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="sqn-input" 
                                    ng-model="currentBroker.postfix" ng-required="currentBroker.mtUse" name="Instrument / data postfix">
                                </div>
                            </div>

                    </fieldset>                  
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSaveBroker(addBrokerForm)" tsq>Save</button>
            </div>
        </div>
    </div>
</div>