<div class="data-manager-data">
    <div class="datamanager-help" >
        <span ng-show="!isQuantDataManager" ng-bind-html="tab.help | tsq"></span>
        <span ng-show="isQuantDataManager" ng-bind-html="tab.helpQDM | tsq"></span>
        <span><a ng-click="openHelp()" tsq>Learn more</a></span>
    </div>

	<div id="brokersGrid" style="overflow: hidden;position:absolute;width:100%;height:100%;"></div>
</div>

<div ng-include="'../../../plugins/DataManagerBroker/views/addBrokerModal.html'"></div>
<div ng-include="'../../../plugins/DataManagerBroker/views/editStocksModal.html'"></div>
<div ng-include="'../../../plugins/DataManagerBroker/views/importInstrumentsModal.html'"></div>
<div ng-include="'../../../plugins/DataManagerBroker/views/importSessionsModal.html'"></div>