<!-- Modal window-->
<div class="modal dataImport" id="importInstrumentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 730px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq>Instruments import from XML</tsq>
                </h4>
            </div>
            <div class="modal-body">
                <form name="importDataForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}" style="text-align: left;">

                    <form-errors errors="errors"></form-errors>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Choose file</legend>

                        <div class="row form-group">
                            <div class="col-xs-12 file-input">
                                <label class="sqn-label" tsq>Data file</label>
                                <input type="text" class="sqn-input" ng-model="dataDetails.importFile" readonly="1"
                                    ng-required="true" name="Data file" />
                                <a class="browse-button" ng-click="openImportFilePicker();" tsq>Browse</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 timezone-input">
                                <label class="sqn-label" tsq>Broker profile</label>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="getBrokerProfileLabel()"></span>
                                    <select ng-model="dataDetails.broker" ng-options="item.id as item.name for item in mtBrokerProfiles" onFocus="sqnSelectFocus(this)"
                                        onBlur="sqnSelectBlur(this)"  ng-change="onImportBrokerChange()"
                                        ></select>
                                </div>  
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 file-input">
                                <label class="sqn-label" tsq="">Postfix</label>
                                <div>
                                    <input type="text" class="sqn-input" 
                                    ng-model="dataDetails.postfix" name="data postfix">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="sq-fieldset">
                        <legend tsq>Select instruments to import</legend>    

                        <div class="row form-group">
                            <div class="col-xs-12">
                                <div id="importInstrumentsGrid" class="gridbox_compressed" style="height: 205px" />
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onStartImport(importDataForm)" tsq>Start Import</button>
            </div>
        </div>
    </div>
</div>