<div class="modal no-enter" id="brFuturesDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Add BMF Futures Data</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <form name="sqFuturesDataForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}">

                    <form-errors errors="errors"></form-errors>
                    <fieldset class="sq-fieldset">
                        <div>
                            <div class="sq-data-help">
                                <tsq>Choose from the found symbols below the ones that you want to add</tsq>
                                <div class="pull-right">
                                    <tsq>Found</tsq>: {{tickers.length}}, <tsq>selected</tsq>: {{tickersSelected}}
                                </div>
                            </div>

                            <div id="brDataGrid" style="height: 280px"></div>
                            <br />

                            <div class="row row-smaller sq-data-line sq-data-details-line">
                                <div class="col-sm-5">
                                    <legend>
                                        <tsq>Data details</tsq>
                                    </legend>
                                    <label class="sqn-label">
                                        <tsq>Name postfix</tsq>
                                    </label>
                                    <input type="text" class="sqn-input" ng-model="brConfig.postfix" />
                                </div>
                                <div class="col-sm-7">
                                    <legend>
                                        <tsq>Bar type</tsq>
                                    </legend>
                                    <div class="radio">
                                        <label class="sq-wradio">
                                            <input type="radio" name="sqFuturesBarType" ng-model="brConfig.barType"
                                                ng-value="barDataTypes.startOfBar" id="optionsRadios1" />
                                            <span class="sq-mark"></span>
                                            <tsq>Timestamp is start of bar time (MetaTrader, Dukascopy, forex
                                                data)</tsq>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="sq-wradio">
                                            <input type="radio" name="sqFuturesBarType" ng-model="brConfig.barType"
                                                ng-value="barDataTypes.endOfBar" id="optionsRadios2" />
                                            <span class="sq-mark"></span>
                                            <tsq>Timestamp is end of bar time (NinjaTrader, Tradestation,
                                                futures data)</tsq>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <legend>
                                <tsq>Data timezone</tsq>
                            </legend>

                            <div class="clearfix"></div>

                            <div class="radio">
                                <label class="sq-wradio">
                                    <input type="radio" name="FuturesTimezoneTypeRadio" ng-value="2"
                                        ng-model="brConfig.timezoneType" />
                                    <span class="sq-mark"></span>
                                    <tsq>Exchange (default)</tsq>
                                </label>
                            </div>

                            <div class="radio">
                                <label class="sq-wradio" style="display: inline-block;">
                                    <input type="radio" name="FuturesTimezoneTypeRadio" ng-value="0"
                                        ng-model="brConfig.timezoneType" />
                                    <span class="sq-mark"></span>
                                    <tsq>add fixed shift</tsq>
                                </label>
                                &nbsp;&nbsp;
                                <div class="sqn-spinner" style="width: 100px;">
                                    <input type="text" class="sqn-input" min="-23" step="1" max="23"
                                        ng-model="brConfig.timezoneShift" onFocus="sqnSpinnerFocus(this)"
                                        onBlur="sqnSpinnerBlur(this)" ng-disabled="brConfig.timezoneType!=0" />
                                    <div class="sqn-spinner-btns">
                                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                    </div>
                                </div>
                                &nbsp;
                                <tsq>hours</tsq>
                            </div>

                            <div class="radio">
                                <label class="sq-wradio" style="display: inline-block;">
                                    <input type="radio" name="FuturesTimezoneTypeRadio" ng-value="1"
                                        ng-model="brConfig.timezoneType" />
                                    <span class="sq-mark"></span>
                                    <tsq>choose timezone</tsq>
                                </label>
                                &nbsp;&nbsp;
                                <div class="sqn-input sqn-select" style="width: 380px;">
                                    <span ng-bind="getTimezoneLabel()"></span>
                                    <select ng-model="brConfig.timezone"
                                        ng-options="item.value as item.name for item in timezones"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                        onChange="sqnSelectChange(this)" ng-disabled="brConfig.timezoneType!=1"></select>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <div class="sq-checkbox">
                        <input type="checkbox" ng-model="brConfig.brAgreed">
                        <label ng-click="brConfig.brAgreed=!brConfig.brAgreed" tsq>I confirm that I agree to</label>
                        <a ng-click="$root.showPopup('#futuresDataUsageConditions')" tsq>StrategyQuant Data Usage
                            Conditions</a>
                    </div>
                </div>

                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onAddBr(sqFuturesDataForm)"
                    ng-show="brTickers.length>0" tsq>Add</button>
            </div>
        </div>
    </div>
</div>

<div ng-include="'../../../plugins/DataSourceSQFuturesData/add/dataUsageConditionsPopup.html'" />