<!-- Modal window-->
<div class="modal" id="dataDeleteConfirmPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width: 600px;">
		<div class="modal-content">
			<div class="modal-header modal-header-red">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel" tsq>Delete data</h4>
			</div>
			<div class="modal-body">
				{{dataDeleteConfirmText | tsq}}
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal" tsq>Close</a>
				<button type="button" class="btn btn-primary" ng-click="callAction('clear')" tsq>Clear data</button>
				<button type="button" class="btn btn-primary" ng-click="callAction('deleteconfirm')" tsq>Delete</button>
			</div>
		</div>
	</div>
</div>