<div class="data-manager-data">
    <div class="data-manager-data-header">
        <div>
            <div class="datamanager-help" ng-bind-html="tab.help | tsq"></div>
            <div class="toolbar">
                <search-filter filter="filter" style="display: inline-block;" filter-id="datamanaget-data-filter" />
                <div class="sqn-input sqn-select">
                    <span ng-bind="getDataSourceLabel()"></span>
                    <select ng-model="filter.dataSource"
                        ng-options="item.value as (item.name | tsq) for item in dataSources"
                        ng-change="filter.onSearch()" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                        id="datamanager-datasources-select">
                        <option value="" tsq>All data sources</option>
                    </select>
                </div>
                <div class="sqn-input sqn-select">
                    <span ng-bind="getDataTypeLabel()"></span>
                    <select ng-model="filter.dataType"
                        ng-options="item.value as (item.name | tsq) for item in dataTypes" ng-change="filter.onSearch()"
                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" id="datamanager-datatypes-select">
                        <option value="" tsq>All data types</option>
                    </select>
                </div>
                <div ng-if="!isQuantDataManager" class="sqn-input sqn-select">
                    <span ng-bind="getGroupLabel()"></span>
                    <select ng-model="filter.group"
                        ng-options="item.name as (item.name | tsq) for item in groups" ng-change="filter.onSearch()"
                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" id="datamanager-group-select">
                        <option value="" tsq>By stock group - none</option>
                    </select>
                </div>
                <div class="sqn-input sqn-select">
                    <span ng-bind="getBrokerProfileLabel()"></span>
                    <select ng-model="filter.brokerId" ng-options="item.id as (item.name | tsq) for item in brokerProfiles" ng-change="filter.onSearch()"
                     onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" id="datamanager-data-brokers-select">
                        <option value="" tsq>All broker profiles</option>
                    </select>
                </div>

                <label class="sqn-label">
                    <tsq>Records</tsq>: {{totalRecords}}
                </label>
            </div>
        </div>
    </div>

    <div id="dataGrid" style="overflow: hidden;position:absolute;width:100%;height:100%;"></div>

    <div ng-include="'../../../plugins/DataManagerData/dataDeleteConfirmPopup.html'"></div>
    <div ng-include="'../../../plugins/DataManagerData/dataEdit.html'"></div>
    <div ng-if="!isQuantDataManager" ng-include="'../../../plugins/DataManagerData/addBrPopup.html'"></div>
</div>