<!-- Modal Connection details window-->
<div class="modal" id="editSymbolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width: 700px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel" tsq>Edit symbol</h4>
			</div>
			<div class="modal-body">
				<form name="editSymbolForm" class="form-horizontal" role="form" ng-class="{'submitted': errors}" style="text-align: left;">

					<form-errors errors="errors"></form-errors>

					<fieldset class="sq-fieldset edit-symbol-settings">
						<legend tsq>Data settings</legend>
						<div class="clearfix">
							<label class="sqn-label" tsq>Data symbol name</label>
							<input type="text" class="sqn-input" ng-model="dataDetails.symbol" ng-hide="true" name="Data symbol name" />
							<input type="text" class="sqn-input symbol-short-input" ng-model="dataDetails.symbolNew" ng-required="true" name="Data symbol name"
							/>
						</div>

						<div class="clearfix symbol-full-row">
							<label class="sqn-label" tsq>Bar type</label>
							<input type="text" class="sqn-input" ng-model="dataDetails.barTypeText" ng-disabled="true" />
						</div>

						<div class="clearfix symbol-full-row">
							<label class="sqn-label" tsq>Timezone</label>
							<input type="text" class="sqn-input" ng-model="dataDetails.timezone" ng-disabled="true" />
						</div>

					</fieldset>

					<instrument-chooser instance="instrumentChooser" help-text="true" ng-disabled="!instrumentEditable" />

				</form>
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal" tsq>Close</a>
				<button type="button" class="btn btn-primary" ng-click="onEditSave(editSymbolForm)" tsq>Save</button>
			</div>
		</div>
	</div>
</div>