#CEExportPopup #exportTree {
  height: auto;
  flex: 1 1 auto;
  border: 1px solid #bddefb;
  margin-top: 6px;
}

#CEExportPopup .description {
  margin-bottom: 6px;
}

#CEExportPopup .sqn-input {
  width: 210px;
}

#CEExportPopup .filter-row .pull-right {
  color: #888888;
}

#CEExportPopup #exportTree .item[data-text="user"] .sq-tree-checkbox {
  display: none;
}

#CEExportPopup .no-user-files-message {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}
