#customDataAddModal .sq-legend-help {
    font-weight: 400;
}

#customDataAddModal .sq-fieldset .radio {
    margin-left: 9px;
}

#customDataEditModal .sq-legend-help {
    font-weight: 400;
}

#customDataEditModal .sq-fieldset .radio {
    margin-left: 9px;
}

#customDataGrid {
    width: 100%;
    height: auto !important;
    flex: 1 1 auto;
    position: relative !important;
}

/* .sq-wradio input[type=radio]:disabled+.sq-mark {
    background-image: url(../../img/sq-radio-disabled.png) !important;
    cursor: not-allowed;
} */

#customDataEditModal .sq-wradio input[type=radio]:checked+.sq-mark {
    background-image: url(../../img/sq-radio-active.png) !important;
}