#customDataImportModal .sq-combo-input {
    z-index: 15;
}

#customDataImportModal #cdColumnsGrid table.sq-grid-header>tr>td {
    padding: 0px;
}

#customDataImportModal #cdColumnsGrid table.sq-grid-header>tr>td div.sqn-select {
    width: 100%;
}

.reviewCustomDataGrid-wrapper {
    position: absolute;
    left: 9px;
    right: 9px;
    bottom: 9px;
    top: 9px;
}

#customDataViewModal #reviewCustomDataGrid {
    position: absolute;
    top: 0;
    left: 0;
}

.custom-data-fixedlabel {
    width: 80px;
}

.custom-data-widefield {
    width: 210px;
}

.col-sm-9 .custom-data-widefield {
    width: 306px;
}

#customDataAddModal .col-sm-3 .sqn-input {
    width: 75px;
}

.custom-data-line {
    margin-bottom: 10px;
}

#customDataAddModal .modal-dialog {
    width: 800px;
}

#customDataAddModal .dm-cd-flexirow {
    display: flex;
    margin-bottom: 4px;
}

#customDataAddModal .dm-cd-flexirow input {
    flex: 1 1 auto;
}

#customDataAddModal .sq-fieldset {
    max-width: none;
}