<div>
    <fieldset class="sq-fieldset sq-fieldset-select-property">
        <legend><tsq>Custom analysis</tsq> <a class="link-button" ng-click="$root.openlink('https://strategyquant.com/doc/strategyquant/custom-analysis')" tsq>What is it?</a></legend>

        <label class="sqn-label" tsq>Performs the specified custom analysis on all strategies of given databank</label>

        <br/>
        <br/>

        <div class="clearfix"></div>

        <div class="custom-analysis-row">
            <label class="sqn-label" tsq>Per strategy analysis</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getMethodLabel(config.perStrategy1)"></span>
                <select ng-model="config.perStrategy1" ng-options="item.value as item.name for item in config.availableMethodsPerStrategy"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
            <div class="custom-analysis-row">
                <label style="width:auto !important" class="sqn-label" tsq>Input args</label>
                <input type="text" ng-model="config.inputArgsPerStrategy1" ng-change="settingsChanged()" class="sqn-input">
            </div>
        </div>

        <div class="custom-analysis-row">
            <label class="sqn-label" tsq>Full databank analysis</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getMethodLabel(config.fullDatabank1)"></span>
                <select ng-model="config.fullDatabank1" ng-options="item.value as item.name for item in config.availableMethodsFullDatabank"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
            <div class="custom-analysis-row">
                <label style="width:auto !important" class="sqn-label" tsq>Input args</label>
                <input type="text" ng-model="config.inputArgsFullDatabank1" ng-change="settingsChanged()" class="sqn-input">
            </div>            
        </div>

        <div class="custom-analysis-row">
            <label class="sqn-label" tsq>Per strategy analysis</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getMethodLabel(config.perStrategy2)"></span>
                <select ng-model="config.perStrategy2" ng-options="item.value as item.name for item in config.availableMethodsPerStrategy"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
            <div class="custom-analysis-row">
                <label style="width:auto !important" class="sqn-label" tsq>Input args</label>
                <input type="text" ng-model="config.inputArgsPerStrategy2" ng-change="settingsChanged()" class="sqn-input">
            </div>                 
        </div>

        <div class="custom-analysis-row">
            <label class="sqn-label" tsq>Full databank analysis</label>
            <div class="sqn-input sqn-select">
                <span ng-bind="getMethodLabel(config.fullDatabank2)"></span>
                <select ng-model="config.fullDatabank2" ng-options="item.value as item.name for item in config.availableMethodsFullDatabank"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
            <div class="custom-analysis-row">
                <label style="width:auto !important" class="sqn-label" tsq>Input args</label>
                <input type="text" ng-model="config.inputArgsFullDatabank2" ng-change="settingsChanged()" class="sqn-input">
            </div>                   
        </div>

        <br/>
        
        <div class="custom-analysis-row">
            <label class="sqn-label text-right" tsq>Source</label>
            <div class="sqn-input sqn-select">
                <span>{{config.databankSource}}</span>
                <select ng-model="config.databankSource" ng-options="item.name as item.name for item in config.availableDatabanks"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
        </div>
    
        <div class="custom-analysis-row">
            <label class="sqn-label text-right" tsq>Target</label>
            <div class="sqn-input sqn-select">
                <span>{{config.databankTarget}}</span>
                <select ng-model="config.databankTarget" ng-options="item.name as item.name for item in config.availableDatabanks"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="settingsChanged()"></select>
            </div>
        </div>

        <br/>

        <div class="custom-analysis-row">
            <label class="sqn-label">
                <div class="sq-checkbox pull-right">
                    <input type="checkbox" ng-model="config.filter" ng-change="settingsChanged()" id="ca-filter" />
                    <label for="ca-filter"></label>
                </div>
            </label>
            <div>
                <label class="sqn-label cursor-pointer" ng-click="config.filter=!config.filter; settingsChanged()">
                    <tsq>Filter by results of custom analysis</tsq><br>
                    <tsq>If true strategies that don't pass will be removed</tsq>
                </label>
            </div>
        </div>
    </fieldset>
</div>