<div class="simple-build-settings simple-autoretest-settings"
    ng-class="{'disabled-panel': ($root.project.state == projectStates.running || $root.project.state == projectStates.paused) && isDashboard()}">
    <div class="disabled-area-placeholder">
        <i class="fa fa-lock" title="Setting changes locked, they will be applied next time you start the project."></i>
    </div>

    <label class="settings-title" tsq>Automatically retest strategies</label>

    <div class="clearfix"></div>

    <label class="help" tsq>
        Strategies will be retested using their last settings. <br />
        <b>Date to</b> will be set to the latest date available.
    </label>

    <div class="row first">
        <div class="col-sm-3">
            <label class="sqn-label" tsq>Source databank</label>
        </div>
        <div class="col-sm-6">
            <div class="sqn-input sqn-select">
                <span ng-bind="config.sourceDatabank"></span>
                <select ng-model="config.sourceDatabank"
                    ng-options="item.name as item.name for item in config.availableDatabanks"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onSave()"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label class="sqn-label" tsq>Target databank</label>
        </div>
        <div class="col-sm-6">
            <div class="sqn-input sqn-select">
                <span ng-bind="config.targetDatabank"></span>
                <select ng-model="config.targetDatabank"
                    ng-options="item.name as item.name for item in config.availableDatabanks"
                    onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onSave()"></select>
            </div>
        </div>
    </div>

    <br>
</div>