<div class="modal" id="renameTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" tsq>Rename task</h4>
            </div>
            <div class="modal-body">
                <form name="addSymbolForm" class="form-horizontal" role="form" style="text-align: left;">

                    <fieldset class="sq-fieldset">
                        <legend tsq>Enter the name</legend>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="sqn-label" style="width: 100%">
                                    <tsq>Name</tsq>
                                    <input style="width: 75%" type="text" class="sqn-input" ng-model="rename.newName" />
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onRenameTaskConfirm()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>