.tm-project-tasks-title {
    margin-bottom: 30px;
}

.tm-project-tasks-title span {
    font-weight: 700;
    font-size: 15px;
    color: #555555;
}

.tm-project-tasks-title .project-control-panel {
    position: static;
    display: flex;
    float: right;
}

.tm-project-tasks-title .project-control-panel .progress {
    order: 1;
}

.tm-project-tasks-title .project-control-panel .sq-btn-stop {
    order: 2;
}

.tm-project-tasks-title .project-control-panel .sq-btn-pause {
    order: 3;
}

.tm-project-tasks-title .project-control-panel .sq-btn-start {
    order: 4;
}

.tm-tasks-list {
    margin: 0 auto;
    text-align: center;
    background-color: #f6f6f6;
    height: 100%;
    position: absolute;
    width: 100% !important;
    overflow: hidden;
}

.sqn-tasksflow{
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    min-width: 300px;
    max-width: 95% !important;
}

.resizeControl{
    position: absolute;
    right: 0px;
    z-index: 2;
    bottom: 0px;
    height: fit-content !important;
    background: #f7efef;
}

.resizeControlDiv{
    background: #bddefb;
    position: absolute;
    width: 9px;
    bottom: 0;
    right: 0;
}

.noSelect{
    user-select: none;
}

.innerResizeControlDiv{
    height: unset;
    background: transparent;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rotateDiv{
    font-size: 10px !important;
    cursor: col-resize;
}

.rotateImgDiv{
    transform: rotate(90deg);
}

.resizeControlBtn{
    padding-top: 20px;
    padding-bottom: 0px;
}

.arrowDiv{
    font-size: 15px;
    cursor: pointer;
}

.resizeImgClass{
    margin-bottom: 3px;
}

.ulResizeDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-right: 10px;
}

.sqn-tasksflow .tm-tasks-list {
    padding-top: 22px;
    background-color: transparent;
    width: auto;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sqn-tasksflow .tm-tasks-list>div:last-child {
    flex: 1 auto;
    height: 95%;
}

.ulResizeDiv::after{
    width: 10px;
    height: 10px;
    background-color: red;
}

.sqn-tasksflow .tm-tasks-list>div:first-child {
    padding: 10px 0px 10px 0px !important;
    flex: unset !important;
    overflow: unset !important;
}

.addNewTaskBtnLink{
    color: #5897d4;
    font-weight: bold;
    outline: none;
    border: none;
    background: transparent;
    font-size: 14px;
}

.addNewTaskBtnLink:hover{
    color: #5189c0;
}

.taskmanager-container .tm-tasks-list {
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #edecec;
}

.tm-tasks-list>span {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #555555;
    margin-bottom: 20px;
}

.tm-tasks-list-wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fit, 70px);
}

.tm-tasks-list-wrapper .dndPlaceholder {
    display: block;
    height: 40px;
    margin-bottom: 27px;
    background-color: rgba(255, 255, 255, 0.20);
}

.tm-tasks-list .tm-task-box {
    margin: 0;
    text-align: right;
    border: 1px solid #cecdd5;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
    background-color: #f3f3f3;
    cursor: pointer;
    display: block;
    margin-bottom: 31px;
    padding: 0 6px 0 34px;
    height: 41px;
    line-height: 38px;
    position: relative;
    text-align: left;
    width: 260px;
    margin-left: 10px;
    margin-right: 10px;
}

.addNewTaskBtnDiv{
    text-align: center;
    margin-left: 20px;
    width: 260px;
}

.tm-tasks-list .tm-task-box:hover {
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.28);
}

.tm-tasks-list .tm-task-box .task-click-bg-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.tm-tasks-list .tm-task-box .task-dragger {
    display: block;
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 1px;
    width: 9px;
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(../../img/tm-task-dragger.png);
    cursor: move;
    z-index: 10;
}

.tm-tasks-list .tm-task-box.task-selected .task-dragger, .tm-tasks-list .tm-task-box.task-in-progress .task-dragger, .tm-tasks-list .tm-task-box.task-finished .task-dragger {
    top: 4px;
    bottom: 2px;
}

.tm-tasks-list .tm-task-box .task-click-info {
    font-weight: 400;
    font-size: 10px;
    float: none;
    display: inline-block;
    width: auto;
    color: #888888;
}

.tm-tasks-list .tm-task-box .task-btn-remove {
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    width: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../img/sq-newdes-settings-close.png);
    cursor: pointer;
}

.tmTaskAfterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    color: #5897d4;
}

.tmTaskAfterDiv img{
    padding-right: 2px;
}

.tmTaskAfterDiv i{
    padding-left: 2px;
    cursor: pointer;
}

.tmTaskAfterDiv i:hover{
    transform: scale(1.1);
    transition-duration: 100ms;
    transition-property: all;
}

.controlsDiv{
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 5px;
    color: #bddefb;
    display: flex;
}

.indivControl{
    height: fit-content;
    border: 1px solid #cecece;
    padding: 3px;
    border-radius: 2px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
}

.indivControl:hover{
    background-color: rgb(238, 237, 237);
}

.tm-tasks-list .btn-primary {
    margin-bottom: 10px;
}

.taskmanager-container .tm-tasks-list .tm-task-box:after {
    background-image: url(../../img/tm-task-arr-bottom.png);
}

.tm-tasks-list .tm-task-box:last-of-type:after {
    background: none;
}

.tm-task-box span {
    font-size: 13px;
    font-weight: 600;
    color: #555555;
    float: left;
    width: 90%;
    height: 38px;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tm-task-box a {
    color: #207ace;
    text-decoration: underline;
    cursor: pointer;
}

.tm-task-box a:hover {
    text-decoration: none;
}

#newTaskModal .modal-dialog {
    width: 480px;
}

#newTaskModal .modal-body>form>span {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    display: block;
    text-align: left;
    margin-bottom: 15px;
}

#newTaskModal form button {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.tm-tasks-list>span.tm-tasks-list-subtitle {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
}

.tm-tasks-list .tm-task-box a.dropdown-toggle {
    color: #555555;
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 9px;
    height: auto;
    line-height: 1em;
}

.tm-tasks-list .tm-task-box span.task-name {
    font-size: 12px;
    height: 23px;
    float: none;
    display: block;
    padding: 8px 0 0 0;
    line-height: 1em;
}

.tm-tasks-list .tm-task-box span.task-type {
    color: #777777;
    font-weight: normal;
    font-size: 10px;
    height: 1.2em;
    float: none;
    display: block;
    padding: 0;
    line-height: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 0;
    width: auto;
    white-space: nowrap;
}

.sqn-tasksflow .tm-tasks-list .tm-task-box .sq-checkbox {
    display: inline-block;
    margin-left: 6px;
}

.sqn-tasksflow .tm-tasks-list .tm-task-box .sq-checkbox label:first-child {
    color: #777777;
    font-weight: normal;
    font-size: 10px;
    line-height: 1em;
    vertical-align: top;
}

.sqn-tasksflow .tm-tasks-list .tm-task-box .sq-checkbox input[type=checkbox]+label {
    background-size: 18px;
    padding: 0 0 0 18px;
    margin-bottom: 0;
    height: 12px;
    min-height: 12px;
    vertical-align: top;
    margin-left: 2px;
}

.tm-tasks-list .tm-task-box span.task-name.deactivated {
    color: #888888;
}

.tm-tasks-list .tm-task-box span.task-type.deactivated, .sqn-tasksflow .tm-tasks-list .tm-task-box .sq-checkbox label.deactivated:first-child {
    color: #aaaaaa;
}

#copyFromTaskModal .sqn-select {
    width: 300px;
}

#newTaskModal .sqn-select {
    width: 222px;
}

body .sq-app-taskmanager .dropdown-menu>li>a.inactive {
    color: #888888;
    cursor: not-allowed;
}

.dropdown-custom-tasks {
    position: absolute;
}

body .dropdown-menu>li>a>i {
    width: 17px;
}

.tm-task-box .task-iterations {
    position: absolute;
    right: 8px;
    top: 23px;
    font-size: 10px;
    font-weight: 400;
    overflow: visible;
    height: auto;
    width: auto;
    padding-left: 0;
    line-height: 1em;
    color: #777777;
}

#copyToTaskPopUpModalBody{
    height: auto !important;
}