<div class="pc-settings-tab-container">
    <div class="pc-composition-toolbar">
        <button type="button" class="btn btn-normal btn-default btn-rm" ng-click="load()" id="pc-action-load" tsq>
            Load
        </button>

        <button type="button" class="btn btn-normal btn-default btn-rm" ng-click="save()" id="pc-action-save" tsq>
            Save
        </button>

        <button type="button" class="btn btn-normal btn-default btn-rm" ng-click="savePortfolio()" id="pc-action-save-portfolio" tsq>
            Save portfolio
        </button>

        <button type="button" class="btn btn-normal btn-default btn-rm btn-delete" ng-click="delete()" id="pc-action-delete" tsq>
            Delete
        </button>

        <button type="button" class="btn btn-normal btn-default btn-rm btn-delete" ng-click="clearAll()" id="pc-action-clear-all" tsq>
            Clear all
        </button>

        
        <button type="button" class="btn btn-normal btn-default btn-rm btn-move-up" ng-click="moveUp()" id="pc-action-move-up" tsq>
            Move up
        </button>

        
        <button type="button" class="btn btn-normal btn-default btn-rm" ng-click="moveDown()" id="pc-action-move-down" tsq>
            Move down
        </button>

        <button type="button" class="btn btn-normal btn-default btn-rm" ng-click="addBuyHoldStrategy()" id="pc-action-add-strategy" tsq>
            Add Buy and Hold strategy
        </button>
    </div>

	<div class="databanks-records-count">
		<tsq>Records</tsq>:
		<span ng-bind="records"></span>
		<span ng-if="selectedRecords>0"> &nbsp; (
			<tsq>Selected</tsq>:
			<span ng-bind="selectedRecords"></span>)
		</span>
	</div>

    <div id="pc-composition-grid"></div>
</div>

<div ng-include="'../../../plugins/PortfolioComposer/settings/composition/addBuyHoldStrPopup.html'"></div>