<div class="toolbar toolbar-manage-views">
    <label tsq>View</label>
    <div class="sqn-input sqn-select">
        <span>{{selectedView}}</span>
        <select ng-model="selectedView" ng-options="item.name as item.name for item in views" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onViewChange()"></select>
    </div>

    <button class="btn btn-normal btn-primary" ng-click="onManageViews()" tsq>Manage</button>
</div>

<manage-views-dialog instance="manageViewsDialog" type="{{::type}}" advanced="true"/>