<div>
    <span ng-show="customProjects.length<1" tsq>No other custom projects defined.</span>

    <fieldset class="sq-fieldset sq-fieldset-select-property" ng-show="customProjects.length>0">
        <legend tsq>Stop &amp; Start</legend>

        <div tsq>Stop this custom project if following conditions are true</div>

        <project-conditions conditions="config.conditions" instance="conditionsInstance" />

        <br />
        <br />

        <div class="row row-smaller stopstart-settings">
            <div class="col-sm-2">
                <div class="sq-checkbox">
                    <input type="checkbox" ng-model="config.startAnother" ng-change="onSettingsChange()" />
                    <label ng-click="config.startAnother = !config.startAnother; onSettingsChange();"></label>
                </div>
            </div>
            <div class="col-sm-10">
                <label class="sqn-label" ng-click="config.startAnother = !config.startAnother; onSettingsChange();"
                    tsq>After
                    stop, start another custom project</label><br />
                <div class="sqn-input sqn-select">
                    <span ng-bind="getProjectLabel()"></span>
                    <select ng-model="config.projectName"
                        ng-options="item.value as item.name for item in customProjects" onFocus="sqnSelectFocus(this)"
                        onBlur="sqnSelectBlur(this)" ng-change="onSettingsChange()"></select>
                </div>

                <div class="sq-checkbox" ng-show="config.projectName=='next-project'">
                    <input type="checkbox" ng-model="config.skipToFirstProject">
                    <label ng-click="config.skipToFirstProject = !config.skipToFirstProject; onSettingsChange();"
                        tsq>Skip to first project when at the very last project?</label>
                </div>
            </div>
        </div>

        <br />
    </fieldset>

</div>