#darwinexImportModal .td-dir-select {
    display: flex;
    margin-bottom: 12px;
}

#darwinexImportModal .td-dir-select .sqn-label {
    margin-left: 0;
}

#darwinexImportModal .td-dir-select .sqn-input {
    margin-top: 1px;
    margin-right: 6px;
    flex: 1 1 auto;
}

#darwinexImportModal .td-dir-select a {
    margin-top: 3px;
}

#darwinexDownloadModal #full-license-only {
    text-align: center;
}
