<!-- Modal window-->
<div class="modal centered" id="blockParametersPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <tsq ng-if="rowConfig.isParam">Edit parameter</tsq>
                    <tsq ng-if="!rowConfig.isParam">Edit block</tsq>
                    <span ng-bind-html="selectedBlock.name | tsq | html" />
                </h4>
            </div>
            <div class="modal-body" style="height: 410px;">
                <form name="editSetupForm" class="form-horizontal" role="form">
                    <block-config selected-block="selectedBlock" on-formula-edit="onFormulaEdit" complexities="config.complexities" />
                </form>
            </div>
            <div class="modal-footer">
                <a ng-click="onCloseBlockConfig()" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSaveBlockConfig()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>