.task-file-label {
    min-width: 80px;
}

.task-delete-file-line {
    max-width: 500px;
    display: flex;
}

.task-delete-file-line input.sqn-input {
    flex: 1 1 auto;
}

.task-delete-file-line input.sqn-input:first-child {
    margin-left: 9px;
}

.task-delete-file-line a {
    margin-top: 2px;
    margin-left: 6px;
}