.simple-build-settings div.setting-row div.retest-selected .sq-checkbox > label {
    margin-left: 16px;
}

.simple-build-settings div.setting-row div.retest-selected > label {
    padding-top: 1px;
    margin-left: 0px;
}
