.notesWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.notesContainer {
    flex: 1 1 auto;
    width: 100%;
    overflow: auto;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #bddefb;
    border-radius: 2px;
    padding: 8px;
    max-width: 946px;
}

.notesContainer:focus {
    outline-color: transparent;
    outline-style: none;
}

.notesToolbar {
    padding-bottom: 10px;
    max-width: 946px;
    width: 100%;
}

.notesToolbar .btn {
    float: right;
    margin: 0;
}

.notesToolbar span {
    cursor: pointer;
    margin-top: 4px;
    display: inline-block;
}

.notesToolbar span:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.notesToolbar>button {
    margin-right: 20px;
}

.disabled-panel .notesToolbar .btn {
    margin-right: 30px;
}