<span dnd-handle class="task-dragger"></span>
<span class="task-name" ng-class="{'deactivated': !instance.active}">{{instance.taskNumber}}. {{instance.taskTitle}}</span>
<span class="task-type" ng-class="{'deactivated': !instance.active}" ng-bind="instance.taskType"></span>
<span class="task-iterations">
    [{{instance.iterations}}]
    <div class="sq-checkbox">
        <input type="checkbox" ng-model="instance.active">
        <label ng-click="activateTask()"></label>
    </div>
</span>

<span class="task-click-bg-holder" ng-click="onTaskSelect()" ng-attr-title="{{instance.taskTitle}}"></span>

<a class="dropdown-toggle" ng-click="showMenu($event)">
    <i class="fa fa-cog"></i>
</a>