<div>
    <fieldset class="sq-fieldset">
        <label class="sqn-label" tsq>Databank</label>
        <div class="sqn-input sqn-select">
            <span>{{config.databank}}</span>
            <select ng-model="config.databank" ng-options="item.name as item.name for item in config.availableDatabanks"
                onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onSettingsChange()"></select>
        </div>
    </fieldset>

    <div log-databank-stats-type ng-repeat="statsType in config.statsTypes" instance="statsType"></div>

    <button type="button" class="btn btn-primary" ng-click="onAddNew()" tsq>Add new</button>

    <br />
    <br />
</div>

<div ng-include="'../../../plugins/SettingsLogDatabankStats/newLogDatabankStatsPopup.html'"></div>