.log-databanks-stats-type {
    min-height: 70px;
}

.log-databanks-stats-type u {
    cursor: pointer
}

#newLogDatabankStatsPopup .modal-body {
    overflow: visible;
    min-height: 434px;
}

.nldsp-type-toolbar {
    padding-top: 0;
}

.nldsp-type-radio {
    margin-left: 30px;
    margin-top: 0;
}

.nldsp-type-radio .nldsp-type-help {
    color: #777777;
    font-style: italic;
}