<!-- Modal window-->
<div class="modal centered" id="addNewExitPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px; height: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span ng-if="!editing">
                        <tsq>Define exit #</tsq>{{config.exits.length + 1}}
                    </span>
                    <span ng-if="editing">
                        <tsq>Modify exit #</tsq>{{exitIndex}}
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                <fieldset class="sq-fieldset position-size">
                    <legend tsq>Size of position to close in this exit</legend>

                    <div class="clearfix"></div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMPositionSizeRadio" value="{{::atmPositionSizes.percents}}"
                                ng-model="selectedExit.positionSizeType" />
                            <span class="sq-mark"></span>
                            <tsq>Percent of position</tsq>
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="0" max="100" step="1"
                                    ng-model="selectedExit.positionPercents" onFocus="sqnSpinnerFocus(this)"
                                    onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            %
                        </label>
                    </div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMPositionSizeRadio" value="{{::atmPositionSizes.fixedSize}}"
                                ng-model="selectedExit.positionSizeType" />
                            <span class="sq-mark"></span>
                            <tsq>Fixed size</tsq>
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="0.01" step="0.001"
                                    ng-model="selectedExit.fixedLots" onFocus="sqnSpinnerFocus(this)"
                                    onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            &nbsp;<tsq>lot</tsq>
                        </label>
                    </div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMPositionSizeRadio" value="{{::atmPositionSizes.allRemaining}}"
                                ng-model="selectedExit.positionSizeType" />
                            <span class="sq-mark"></span>
                            <tsq>All remaining</tsq>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="sq-fieldset exit-levels">
                    <legend tsq>Exit level</legend>

                    <div class="clearfix"></div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMExitLevelRadio" value="{{::atmExitLevels.slBased}}"
                                ng-model="selectedExit.exitLevel" />
                            <span class="sq-mark"></span>
                            <tsq>Multiple of original order SL - Close at</tsq>
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="0.01" step="0.01"
                                    ng-model="selectedExit.slMultiplicator" onFocus="sqnSpinnerFocus(this)"
                                    onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            <tsq>x Order Stop Loss</tsq>
                        </label>
                    </div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMExitLevelRadio" value="{{::atmExitLevels.ptBased}}"
                                ng-model="selectedExit.exitLevel" />
                            <span class="sq-mark"></span>
                            <tsq>Multiple of original order PT - Close at</tsq>
                            <div class="sqn-spinner">
                                <input type="text" class="sqn-input" min="0.01" step="0.01"
                                    ng-model="selectedExit.ptMultiplicator" onFocus="sqnSpinnerFocus(this)"
                                    onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                <div class="sqn-spinner-btns">
                                    <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                    <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                </div>
                            </div>
                            <tsq>x Order Profit Target</tsq>
                        </label>
                    </div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMExitLevelRadio" value="{{::atmExitLevels.fixedProfit}}" ng-model="selectedExit.exitLevel" />
                            <span class="sq-mark"></span>
                            <tsq>Fixed profit</tsq>
                            <div class="fixedpips-atrbased">
                                <div class="sqn-input sqn-select">
                                    <span>{{getATRFixedPipsLabel(selectedExit.fixedProfitType)}}</span>
                                    <select ng-model="selectedExit.fixedProfitType" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onAddPipsTypeChanged()">
                                        <option value="{{::atmTypes.typeFixedPips}}" tsq>Fixed value (in pips)</option>
                                        <option value="{{::atmTypes.typeAtrBased}}" tsq>ATR-Based</option>
                                    </select>
                                </div>
                                <div ng-if="selectedExit.fixedProfitType == atmTypes.typeFixedPips">
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="0" step="1" ng-model="selectedExit.fixedProfitPips"
                                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                                            ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <tsq>pips</tsq>
                                </div>
                                <div ng-if="selectedExit.fixedProfitType == atmTypes.typeAtrBased">
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="0.01" step="0.01"
                                            ng-model="selectedExit.fixedProfitATRMultiplicator" onFocus="sqnSpinnerFocus(this)"
                                            onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <span>* ATR(</span>
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="2" step="1" ng-model="selectedExit.fixedProfitATRPeriod"
                                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                                            ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <span>)</span>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMExitLevelRadio" value="{{::atmExitLevels.trailingStop}}" ng-model="selectedExit.exitLevel" />
                            <span class="sq-mark"></span>
                            <tsq>Trailing stop</tsq>
                            <div class="fixedpips-atrbased">
                                <div class="sqn-input sqn-select">
                                    <span>{{getATRFixedPipsLabel(selectedExit.trailingStopType)}}</span>
                                    <select ng-model="selectedExit.trailingStopType" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="onAddPipsTypeChanged()">
                                        <option value="{{::atmTypes.typeFixedPips}}" tsq>Fixed value (in pips)</option>
                                        <option value="{{::atmTypes.typeAtrBased}}" tsq>ATR Based</option>
                                    </select>
                                </div>
                                <div ng-if="selectedExit.trailingStopType == atmTypes.typeFixedPips">
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="0" step="1" ng-model="selectedExit.trailingStopPips"
                                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                                            ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <tsq>pips</tsq>
                                </div>
                                <div ng-if="selectedExit.trailingStopType == atmTypes.typeAtrBased">
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="0.01" step="0.01"
                                            ng-model="selectedExit.trailingStopATRMultiplicator" onFocus="sqnSpinnerFocus(this)"
                                            onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <span>* ATR(</span>
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="2" step="1" ng-model="selectedExit.trailingStopATRPeriod"
                                            onFocus="sqnSpinnerFocus(this)" onBlur="sqnSpinnerBlur(this)"
                                            ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <span>)</span>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label class="sq-wradio">
                            <input type="radio" name="ATMExitLevelRadio" value="{{::atmExitLevels.none}}"
                                ng-model="selectedExit.exitLevel" />
                            <span class="sq-mark"></span>
                            <tsq>None - position will run until it is closed by exit rule</tsq>
                            <div class="sq-checkbox">
                                <input type="checkbox" ng-model="selectedExit.limitExitAfterBars"
                                    ng-change="settingsChanged()" id="atm-limit-eab" />
                                <label for="atm-limit-eab" style="margin-top: 8px;">
                                    <tsq>Define limit - Close after maximum</tsq>
                                    <div class="sqn-spinner">
                                        <input type="text" class="sqn-input" min="0" step="1"
                                            ng-model="selectedExit.maximumBars" onFocus="sqnSpinnerFocus(this)"
                                            onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" />
                                        <div class="sqn-spinner-btns">
                                            <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)"></div>
                                            <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)"></div>
                                        </div>
                                    </div>
                                    <tsq>bars</tsq>
                                </label>
                            </div>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="sq-fieldset movesl2be" ng-show="false">
                    <legend tsq>Move SL 2 BE <span style="color:grey">- NOT IMPLEMENTED YET</span></legend>

                    <div class="clearfix"></div>
                    <div class="sq-checkbox">
                        <input type="checkbox" ng-model="selectedExit.moveSL2BE" ng-change="settingsChanged()"
                            id="atm-movesl2be" disabled />
                        <label for="atm-movesl2be" style="cursor: not-allowed;" tsq>Move Stop Loss to Break Event (Entry Price)</label>

                        <div class="sq-checkbox sl2be-addpips">
                            <input type="checkbox" ng-model="selectedExit.moveSL2BEAddPips"
                                ng-change="settingsChanged()" id="atm-movesl2be-addpips" disabled/>
                            <label for="atm-movesl2be-addpips" style="cursor: not-allowed;">
                                <tsq>SL 2 BE - Add pips</tsq>

                                <div class="sqn-input sqn-select" style="background-color: #edecec;">
                                    <span>{{getSL2BETypeLabel(selectedExit.sl2beType)}}</span>
                                    <select ng-model="selectedExit.sl2beType"
                                        ng-options="item.value as item.name for item in atmMoveSL2BEOptions"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"
                                        ng-change="onAddPipsTypeChanged()" style="cursor: not-allowed;" disabled></select>
                                </div>
                                <div class="sqn-spinner">
                                    <input type="text" class="sqn-input" min="0" step="1"
                                        ng-model="selectedExit.addPipsValue" onFocus="sqnSpinnerFocus(this)"
                                        onBlur="sqnSpinnerBlur(this)" ng-model-options="{ updateOn : 'blur' }" style="cursor: not-allowed;" disabled/>
                                    <div class="sqn-spinner-btns">
                                        <div class="sqn-spinner-minus" onClick="sqnSpinnerMinus(this)" style="cursor: not-allowed;"></div>
                                        <div class="sqn-spinner-plus" onClick="sqnSpinnerPlus(this)" style="cursor: not-allowed;"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default sqn-btn-help" ng-click="onHelp()"><span
                        tsq>Help</span></button>
                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSaveExit()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>