<div id="advancedtm-tab">
  <fieldset class="sq-fieldset sq-fieldset-select-property">
    <legend tsq>Advanced Trade Management - Scale out (multiple exits)</legend>

    <div class="clearfix"></div>

    <div class="sq-checkbox">
      <input
        type="checkbox"
        ng-model="config.enableATM"
        ng-change="settingsChanged()"
        id="atm-enable"
      />
      <label for="atm-enable" tsq>Enable ATM</label>
      <div class="gen-help">
        <tsq>Note - using ATM on strategy will disable all other profit exits: Profit target, MoveSL2BE, TrailingStop, ExitAfterBars.</tsq><br />
        <tsq>ATM Exits defined below will be used instead</tsq>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-7">
        <legend tsq>ATM config source</legend>

        <div class="radio" style="display: inline-flex">
          <label class="sq-wradio" style="display: inline-flex">
            <input
              type="radio"
              name="ATMTypeRadio"
              value="{{::atmTypes.fromConfig}}"
              ng-model="config.atmType"
              ng-change="settingsChanged()"
              ng-disabled="!config.enableATM"
            />
            <span class="sq-mark"></span>
            <tsq>Use ATM defined below (overwrites ATM saved in strategy, if any)</tsq>
          </label>
        </div>
        <div class="radio">
          <label class="sq-wradio">
            <input
              type="radio"
              name="ATMTypeRadio"
              value="{{::atmTypes.fromStrategy}}"
              ng-model="config.atmType"
              ng-change="settingsChanged()"
              ng-disabled="!config.enableATM"
            />
            <span class="sq-mark"></span>
            <tsq>Use ATM from strategy (if any)</tsq>
          </label>
        </div>
        <div class="radio" ng-if="isBuildTask">
          <label class="sq-wradio">
            <input
              type="radio"
              name="ATMTypeRadio"
              value="{{::atmTypes.generate}}"
              ng-model="config.atmType"
              ng-change="settingsChanged()"
              ng-disabled="!config.enableATM || !$root.license.isUltimateVersion"
            />
            <span class="sq-mark"></span>
            <tsq>Generate ATM using config below (Ultimate version only)</tsq>
            <a style="margin-left: 10px;" ng-click="onHowItWorks()" tsq>How it works</a>
          </label>
        </div>
      </div>

      <div class="col-sm-5">
        <legend tsq>ATM size constraints</legend>

        <div class="atm-label">
          <label tsq>Size decimals</label>
          <div class="sqn-spinner">
            <input
              type="text"
              class="sqn-input"
              min="0"
              max="10"
              step="1"
              ng-model="config.sizeDecimals"
              ng-change="settingsChanged()"
              onFocus="sqnSpinnerFocus(this)"
              onBlur="sqnSpinnerBlur(this)"
              ng-model-options="{ updateOn : 'blur' }"
              ng-disabled="!config.enableATM"
            />
            <div class="sqn-spinner-btns">
              <div
                class="sqn-spinner-minus"
                onClick="sqnSpinnerMinus(this)"
              ></div>
              <div
                class="sqn-spinner-plus"
                onClick="sqnSpinnerPlus(this)"
              ></div>
            </div>
          </div>
        </div>
        <div class="atm-label">
          <label tsq>Minimum size</label>
          <div class="sqn-spinner">
            <input
              type="text"
              class="sqn-input"
              min="0.0000001"
              max="1000000"
              step="0.1"
              ng-model="config.minSize"
              ng-change="settingsChanged()"
              onFocus="sqnSpinnerFocus(this)"
              onBlur="sqnSpinnerBlur(this)"
              ng-model-options="{ updateOn : 'blur' }"
              ng-disabled="!config.enableATM"
            />
            <div class="sqn-spinner-btns">
              <div
                class="sqn-spinner-minus"
                onClick="sqnSpinnerMinus(this)"
              ></div>
              <div
                class="sqn-spinner-plus"
                onClick="sqnSpinnerPlus(this)"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div ng-show="config.atmType != atmTypes.generate">
      <legend tsq>ATM configuration</legend>

      <div class="clearfix"></div>

      <div class="exits">
        <div class="exit buttons row">
          <div class="col-sm-2">
            <button
              class="btn btn-primary"
              ng-click="onAddNewExit()"
              ng-disabled="!config.enableATM"
              tsq
            >
              Add new exit
            </button>
          </div>
          <div class="col-sm-10">
            <button
              class="btn btn-default save-button pull-right"
              ng-click="onSaveToFile()"
              ng-disabled="!config.enableATM"
            ></button>
            <button
              class="btn btn-default load-button pull-right"
              ng-click="onLoadFromFile()"
              ng-disabled="!config.enableATM"
            ></button>
          </div>
        </div>
        <div class="exit" ng-show="config.exits.length==0">
          <div
            class="exit-description exit-description-first"
            ng-click="onAddNewExit()"
            ng-class="{'disabled': !config.enableATM}"
            tsq
          >
            Click to create your first exit
          </div>
        </div>
        <div class="exit row" ng-repeat="exit in config.exits">
          <div class="col-sm-2">
            <label class="exit-name"
              ><span tsq>Exit</span> #{{$index + 1}}</label
            >
          </div>
          <div class="col-sm-10" ng-click="onEditExit($index)">
            <div
              class="exit-description"
              ng-click="onEditExit($index)"
              ng-class="{'disabled': !config.enableATM}"
            >
              <div ng-bind-html="exit.description"></div>
              <span class="delete-cross" ng-click="onDeleteExit($index)"
                >&times;</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="config.atmType == atmTypes.generate">
      <legend tsq>ATM generation configuration</legend>

      <div class="clearfix"></div>

      <div class="row">
        <div class="exits col-sm-7">
          <div class="config-line">
            <label><tsq>Exit types to use</tsq></label>
            <i style="font-size: 400; margin-left: 10px" tsq
              >(will be chosen randomly)</i
            >
          </div>

          <br/>

          <div class="config-line">
            <div class="col1"><label tsq>Use</label></div>
            <div class="col2 minmaxlabel" tsq>Min</div>
            <div class="col3 minmaxlabel" tsq>Max</div>
            <div class="col4"></div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1">
              <input
                type="checkbox"
                ng-model="config.generate.useSLMultiple"
                ng-change="settingsChanged()"
                id="atm-useSLMultiple"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useSLMultiple" tsq
                >Multiple of original SL - Close
              </label>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.slMultipleMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.slMultipleMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="col4" tsq>x Order SL</div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1">
              <input
                type="checkbox"
                ng-model="config.generate.usePTMultiple"
                ng-change="settingsChanged()"
                id="atm-usePTMultiple"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-usePTMultiple" tsq
                >Multiple of original PT - Close
              </label>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.ptMultipleMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.ptMultipleMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="col4" tsq>x Order PT</div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1">
              <input
                type="checkbox"
                ng-model="config.generate.useFixedProfit"
                ng-change="settingsChanged()"
                id="atm-useFixedProfit"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useFixedProfit" tsq>Fixed Profit</label>
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1 tabbed">
              <input
                type="checkbox"
                ng-model="config.generate.useFixedProfitFixedPips"
                ng-change="settingsChanged()"
                id="atm-useFixedProfitFixedPips"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useFixedProfitFixedPips" tsq>Fixed pips</label>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="0"
                step="1"
                ng-model="config.generate.fixedProfitFixedPipsMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="0"
                step="1"
                ng-model="config.generate.fixedProfitFixedPipsMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1 tabbed">
              <input
                type="checkbox"
                ng-model="config.generate.useFixedProfitATR"
                ng-change="settingsChanged()"
                id="atm-useFixedProfitATR"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useFixedProfitATR" tsq>ATR Based</label>
              <div class="pull-right" tsq>Multiple</div>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.fixedProfitATRMutliplierMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.fixedProfitATRMutliplierMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="col4"></div>
          </div>
          <div class="config-line">
            <div class="col1 tabbed">
              <div class="pull-right" tsq>Period</div>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="2"
                max="1000"
                step="1"
                ng-model="config.generate.fixedProfitATRPeriodMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="2"
                max="1000"
                step="1"
                ng-model="config.generate.fixedProfitATRPeriodMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
          </div>
          <br />
          <div class="config-line">
            <div class="sq-checkbox col1">
              <input
                type="checkbox"
                ng-model="config.generate.useTS"
                ng-change="settingsChanged()"
                id="atm-useTS"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useTS" tsq>Trailing stop</label>
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1 tabbed">
              <input
                type="checkbox"
                ng-model="config.generate.useTSFixedPips"
                ng-change="settingsChanged()"
                id="atm-useTSFixedPips"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useTSFixedPips" tsq>Fixed pips</label>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="0"
                step="1"
                ng-model="config.generate.tsFixedPipsMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="0"
                step="1"
                ng-model="config.generate.tsFixedPipsMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1 tabbed">
              <input
                type="checkbox"
                ng-model="config.generate.useTSATR"
                ng-change="settingsChanged()"
                id="atm-useTSATR"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useTSATR" tsq>ATR Based</label>
              <div class="pull-right" tsq>Multiple</div>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.tsATRMutliplierMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="0.1"
                max="10"
                step="0.1"
                ng-model="config.generate.tsATRMutliplierMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="col4"></div>
          </div>
          <div class="config-line">
            <div class="col1 tabbed">
              <div class="pull-right" tsq>Period</div>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="2"
                max="1000"
                step="1"
                ng-model="config.generate.tsATRPeriodMin"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="2"
                max="1000"
                step="1"
                ng-model="config.generate.tsATRPeriodMax"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
          </div>
          <br />
          <div class="config-line">
            <div class="sq-checkbox col1">
              <input
                type="checkbox"
                ng-model="config.generate.useNone"
                ng-change="settingsChanged()"
                id="atm-useNone"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useNone" tsq
                >None - position will run until it is closed by exit rule</label
              >
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox col1 tabbed">
              <input
                type="checkbox"
                ng-model="config.generate.useNoneLimit"
                ng-change="settingsChanged()"
                id="atm-useNoneLimit"
                ng-disabled="!config.enableATM"
              />
              <label for="atm-useNoneLimit" tsq>Limit - Close after max</label>
            </div>
            <div class="sqn-spinner col2">
              <input
                type="text"
                class="sqn-input"
                min="1"
                step="1"
                ng-model="config.generate.noneMinBars"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="sqn-spinner col3">
              <input
                type="text"
                class="sqn-input"
                min="1"
                step="1"
                ng-model="config.generate.noneMaxBars"
                ng-change="settingsChanged()"
                onFocus="sqnSpinnerFocus(this)"
                onBlur="sqnSpinnerBlur(this)"
                ng-model-options="{ updateOn : 'blur' }"
                ng-disabled="!config.enableATM"
              />
              <div class="sqn-spinner-btns">
                <div
                  class="sqn-spinner-minus"
                  onClick="sqnSpinnerMinus(this)"
                ></div>
                <div
                  class="sqn-spinner-plus"
                  onClick="sqnSpinnerPlus(this)"
                ></div>
              </div>
            </div>
            <div class="col4" tsq>bars</div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="exit">
            <label><tsq>Exit scenarios</tsq></label>
            <i style="font-size: 400; margin-left: 5px" tsq
              >(will be chosen randomly)</i
            >
          </div>
          <br />
          <div class="config-line">
            <label tsq>2 exits</label>
          </div>

          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_5050"
                ng-change="settingsChanged()"
                id="exit_5050"
                ng-disabled="!config.enableATM"
              />
              <label for="exit_5050" tsq>50% on Exit 1, 50% on Exit 2</label>
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_3366"
                ng-change="settingsChanged()"
                id="exits_3366"
                ng-disabled="!config.enableATM"
              />
              <label for="exits_3366" tsq>33% on Exit 1, 66% on Exit 2</label>
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_6633"
                ng-change="settingsChanged()"
                id="exits_6633"
                ng-disabled="!config.enableATM"
              />
              <label for="exits_6633" tsq>66% on Exit 1, 33% on Exit 2</label>
            </div>
          </div>
          <br />
          <div class="config-line">
            <label tsq>3 exits</label>
          </div>

          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_333333"
                ng-change="settingsChanged()"
                id="exits_333333"
                ng-disabled="!config.enableATM"
              />
              <label for="exits_333333" tsq
                >33% on Exit 1, 33% on Exit 2, 33% on Exit 3</label
              >
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_502525"
                ng-change="settingsChanged()"
                id="exits_502525"
                ng-disabled="!config.enableATM"
              />
              <label for="exits_502525" tsq
                >50% on Exit 1, 25% on Exit 2, 25% on Exit 3</label
              >
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_255025"
                ng-change="settingsChanged()"
                id="exits_255025"
                ng-disabled="!config.enableATM"
              />
              <label for="exits_255025" tsq
                >25% on Exit 1, 50% on Exit 2, 25% on Exit 3</label
              >
            </div>
          </div>
          <div class="config-line">
            <div class="sq-checkbox scenario">
              <input
                type="checkbox"
                ng-model="config.generate.exits_252550"
                ng-change="settingsChanged()"
                id="exits_252550"
                ng-disabled="!config.enableATM"
              />
              <label for="exits_252550" tsq
                >25% on Exit 1, 25% on Exit 2, 50% on Exit 3</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div
    ng-include="'../../../plugins/SettingsAdvancedTM/addNewExitPopup.html'"
  ></div>
</div>
