<div id="results-equity-chart-container" class="flex-container no-overflow-chart">
    <div class="toolbar">
        <results-toolbar on-filter-change='onFilterChange' instance='toolbar' key="equity-chart">
            <!-- X Axis -->
            <label tsq>X Axis</label>
            <div class="btn-group">
                <button ng-if="filter.resultkey != 'Portfolio parts only'" ng-click="filter.xaxis='trade'; print();" type="button" class="btn btn-default"
                    ng-class="{active: filter.xaxis=='trade'}" tsq>Trade</button>
                <button ng-click="filter.xaxis='time'; print();" type="button" class="btn btn-default"
                    ng-class="{active: filter.xaxis=='time'}" tsq>Time</button>
            </div>

            <div class="dropdown dropdown-parameters-equity benchmark-dropdown">
                <button class="btn btn-default" data-toggle="dropdown" aria-expanded="false" title="Settings">Benchmark: {{filter.xaxis=='time' && filter.benchmarkActive ? 'on' : 'off'}}</button>
                <ul class="dropdown-menu" onclick="event.stopPropagation();">
                    <div class="row" ng-show="filter.xaxis!='time'">
                        <div class="col-xs-12"><span class="equity-hlp"  tsq>(only for X-Axis = Time)</span></div>
                    </div>
                    <div class="row" ng-show="filter.xaxis=='time'">
                        <div class="col-xs-12">
                            <table style="width: 100%;">
                                <tr>
                                    <div class="flexBetween">
                                        <label tsq>Compare strategy performance with benchmark</label>
                                        <div class="sq-checkbox" ng-show="filter.xaxis=='time'">
                                            <input type="checkbox" ng-model="filter.benchmarkActive" id="equitychart-benchmark-active" ng-change="print()">
                                            <label style="margin-left: 0px" for="equitychart-benchmark-active">
                                            </label>
                                        </div>
                                    </div>
                                </tr>
                                <tr class="flexBetween">
                                    <td><label tsq>Benchmark</label></td>
                                    <td style="width: 200px;">
                                        <sq-data-box add-spy-benchmark="true" sq-model="filter.benchmarkSymbol" class="setup-input" engine="'MetaTrader4'"/>
                                    </td>
                                </tr>
                                <tr class="flexBetween">
                                    <td><label tsq>Normalization</label></td>
                                    <td style="width: 200px;">
                                        <div class="sqn-input sqn-select" style="width: 100%">
                                            <span ng-bind="benchmarkNormalizationLabel()"></span>
                                            <select ng-model="filter.benchmarkNormalization" ng-options="item.key as (item.name | tsq) for item in benchmarkNormalizations" onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)" ng-change="print()"></select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="normalization-text">
                        <div class="col-xs-12">
                            <span tsq>Normalization means that we'll recompute real performance of benchmark asset as if it would have the same exposure / drawdown as your strategy.</span><br>
                            <span tsq>This allows you to compare how would the benchmark look like with the same risk or invested capital in time.</span>
                            <br>
                            <a ng-click="learMoreNormalization()" tsq>Learn more</a>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="btn-group">
                <button title="Refresh chart" ng:click="refreshChart()" class="btn"><i class="fa fa-refresh" ng-class="{'fa-spin': refreshing}"></i></button>
            </div>

            <div class="dropdown dropdown-parameters-equity">
                <button class="btn btn-default" data-toggle="dropdown" aria-expanded="false" title="Settings"><i class="fa fa-bars" aria-hidden="true"></i></button>
                <ul class="dropdown-menu" onclick="event.stopPropagation();">
                    <div class="row">
                        <div class="col-xs-7" style="padding-right: 0px">
                            <h4 tsq>Subcharts</h4>
                            <table>
                                <tr>
                                    <td><label tsq>Drawdown</label></td>
                                    <td>
                                        <div class="btn-group">
                                            <button ng-click="filter.drawdown=10; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.drawdown==10}"
                                                tsq>Money</button>
                                            <button ng-click="filter.drawdown=20; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.drawdown==20}"
                                                tsq>Pct</button>
                                            <button ng-click="filter.drawdown=30; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.drawdown==30}"
                                                tsq>Pips</button>
                                            <button ng-click="filter.drawdown=40; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.drawdown==40}"
                                                tsq>Open $</button>
                                            <button ng-click="filter.drawdown=50; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.drawdown==50}"
                                                tsq>Open %</button>
                                            <button ng-click="filter.drawdown=0; print();" type="button" class="btn btn-default"
                                                ng-class="{active: filter.drawdown==0}" tsq>Off</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Volume</label></td>
                                    <td>
                                        <div class="btn-group">
                                            <button ng-click="filter.volume='5'; print();" type="button" class="btn btn-default"
                                                ng-class="{active: filter.volume=='5'}" tsq>Auto</button>
                                            <button ng-click="filter.volume='2'; print();" type="button" class="btn btn-default"
                                                ng-class="{active: filter.volume=='2'}" tsq>Size</button>
                                            <button ng-click="filter.volume='1'; print();" type="button" class="btn btn-default"
                                                ng-class="{active: filter.volume=='1'}" tsq>Money</button>
                                            <button ng-click="filter.volume='0'; print();" type="button" class="btn btn-default"
                                                ng-class="{active: filter.volume=='0'}" tsq>Off</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Daily chart</label></td>
                                    <td>
                                        <span class="equity-hlp" ng-show="filter.xaxis!='time'" tsq>(only for X-Axis =
                                            Time)</span>
                                        <div class="sq-checkbox" ng-show="filter.xaxis=='time'">
                                            <input ng-disabled="filter.isSP" type="checkbox" ng-model="filter.dailychart" id="equitychart-dailychart"
                                                ng-change="print()">
                                            <label style="margin-left: 0px" for="equitychart-dailychart">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 5px;"><label tsq>Volatility (ATR)</label></td>
                                    <td>
                                        <span class="equity-hlp" ng-show="filter.xaxis!='time'" tsq>(only for X-Axis =
                                            Time)</span>
                                        <div class="sq-checkbox" ng-show="filter.xaxis=='time'">
                                            <input ng-disabled="filter.isSP" type="checkbox" ng-model="filter.volatility" id="equitychart-volatility"
                                                ng-change="print()">
                                            <label style="margin-left: 0px" for="equitychart-volatility">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Line</label></td>
                                    <td>
                                        <div class="sq-checkbox">
                                            <input type="checkbox" ng-model="filter.trendline" id="equitychart-trendline"
                                                ng-change="print()">
                                            <label style="margin-left: 0px" for="equitychart-trendline">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-5" style="padding-left: 0px">
                            <h4 tsq>Markers</h4>
                            <table>
                                <tr>
                                    <td><label tsq ng-hide="isMTAnalyzer">Equity</label></td>
                                    <td>
                                        <div class="btn-group" ng-hide="isMTAnalyzer">
                                            <button ng-click="filter.equity='daily'; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.equity=='daily'}"
                                                tsq>Daily</button>
                                            <button ng-click="filter.equity='maemfe'; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.equity=='maemfe'}"
                                                tsq>MAE/MFE</button>
                                            <button ng-click="filter.equity='off'; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.equity=='off'}"
                                                tsq>Off</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Stagnation</label></td>
                                    <td>
                                        <div class="btn-group">
                                            <button ng-click="filter.stagnation=sampleTypes.full; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.stagnation==sampleTypes.full}"
                                                tsq>Full</button>
                                            <button ng-click="filter.stagnation=sampleTypes.in; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.stagnation==sampleTypes.in}"
                                                tsq ng-hide="isAlgoWizardCloud">IS</button>
                                            <button ng-click="filter.stagnation=sampleTypes.out; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.stagnation==sampleTypes.out}"
                                                tsq ng-hide="isAlgoWizardCloud">OOS</button>
                                            <button ng-click="filter.stagnation=0; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.stagnation==0}"
                                                tsq>Off</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Stagnation V2</label></td>
                                    <td>
                                        <div class="btn-group">
                                            <button ng-click="filter.maxNewHighDuration=sampleTypes.full; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.maxNewHighDuration==sampleTypes.full}"
                                                tsq>Full</button>
                                            <button ng-click="filter.maxNewHighDuration=sampleTypes.in; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.maxNewHighDuration==sampleTypes.in}"
                                                tsq ng-hide="isAlgoWizardCloud">IS</button>
                                            <button ng-click="filter.maxNewHighDuration=sampleTypes.out; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.maxNewHighDuration==sampleTypes.out}"
                                                tsq ng-hide="isAlgoWizardCloud">OOS</button>
                                            <button ng-click="filter.maxNewHighDuration=0; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.maxNewHighDuration==0}"
                                                tsq>Off</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Points</label></td>
                                    <td>
                                        <div class="btn-group">
                                            <button ng-click="filter.points='all'; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.points=='all'}"
                                                tsq>All</button>
                                            <button ng-click="filter.points='grow'; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.points=='grow'}"
                                                tsq>Grow</button>
                                            <button ng-click="filter.points='off'; print();" type="button"
                                                class="btn btn-default" ng-class="{active: filter.points=='off'}"
                                                tsq>Off</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label tsq>Crosshair</label></td>
                                    <td>
                                        <div class="sq-checkbox">
                                            <input type="checkbox" ng-model="filter.crosshair" id="equitychart-crosshair"
                                                ng-change="print()">
                                            <label style="margin-left: 0px" for="equitychart-crosshair">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>					
                        </div>
                    </div>
                </ul>
            </div>
        </results-toolbar>

    </div>

    <div class="equity-chart-container">
        <div style="overflow: auto;" class="equity-chart-wrapper-main flex-expand">
            <div id="equitychart" ng-show="filter.resultkey">
                <canvas></canvas>
            </div>
            <label ng-hide="filter.resultkey" class="equity-chart-info" tsq>No strategy selected.</label>
        </div>
        <benchmark ng-show="filter.xaxis=='time' && filter.benchmarkActive" class="equity-chart-benchmark" instance="benchmarkTable" types="benchmarkNormalizations" learn-more="learMoreNormalization"></benchmark>
    </div>
</div>