<!-- Modal window-->
<div class="modal modal-autoheight" id="cryptoAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <fieldset class="sq-fieldset">
                    <div class="flex">
                        <legend tsq>Choose from available data</legend>

                        <div class="crypto-filter">
                            <search-filter filter="filter" style="display: inline-block;" />
                        </div>

                        <div class="crypto-grid-wrapper">
                            <div id="cryptoDataGrid"></div>
                        </div>


                        <div class="crypto-data-postfix crypto-data-timeframe">
                            <label tsq>Timeframe</label>
                            <div>
                                <div class="sqn-input sqn-select">
                                    <span ng-bind="dataDetails.timeframe"></span>
                                    <select ng-model="dataDetails.timeframe" ng-options="item for item in timeframes"
                                        onFocus="sqnSelectFocus(this)" onBlur="sqnSelectBlur(this)"></select>
                                </div>
                            </div>
                        </div>

                        <div class="crypto-data-postfix">
                            <label tsq>Data postfix</label>
                            <div>
                                <input type="text" class="sqn-input" ng-model="dataDetails.postfix" />
                                <label tsq>This postfix will be optionally added to the data names created</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <free-data-disclaimer confirmed="dataDetails.disclaimerConfirmed" datasource="{{dataDetails.exchange}}"/>

                <a data-dismiss="modal" tsq>Close</a>
                <button type="button" class="btn btn-primary" ng-click="onSave()" tsq>Save</button>
            </div>
        </div>
    </div>
</div>